<template>
  <div class="hex-grid" >
    <div class="hex-grid-container">
      <!--      <template v-for="item in Array.from(Array(200).keys())">-->
<!--        <div :key="item"></div>-->
<!--      </template>-->
    </div>
  </div>
</template>

<script>

  export default {
    name: "Hexgrid",
    methods: {
    },
    mounted() {
    },
    computed: {
      ifThemeLight() {
        return localStorage.getItem("user-theme") === 'light-theme'
      }
    },
  }
</script>

<style lang="scss" scoped>
  body {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
  }
  .hex-grid {
    /*flex-wrap: wrap;*/
    position: absolute;
    /*background-position: left top;*/
    background: url("../../assets/img/head-pattern-transparent.svg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    //.night {
    //  background: url("../../assets/img/head-pattern-dark.svg") no-repeat center center;
    //}
  }
  @media screen and (max-width: 960px) {
    .hex-grid {
      //background: url("../../assets/img/head-pattern-mobile.svg") no-repeat center center;
      background-size: cover;
    }
  }
  @media screen and (max-width: 1500px) {
    .hex-grid{
      /*--s: 150px;*/
    }
  }

  @media screen and (max-width: 1000px) {
    .hex-grid{
      /*--s: 100px;*/
      /*--m: 1.5px;*/
    }
  }

  @media screen and (max-width: 500px) {
    .hex-grid{
      /*--s: 70px;*/
      /*--m: 1px;*/
    }
  }

  @media screen and (max-height: 700px) {
    .hex-grid{
      /*--s: 150px;*/
      /*--m: 1.5px;*/
    }
  }

  @media screen and (max-height: 400px) {
    .hex-grid{
      /*--s: 100px;*/
      /*--m: 1px;*/
    }
  }

  .hex-grid-container {
    svg {
      position: absolute;
      path {
        fill: var(--hex-grid-color)
      }
    }
    font-size: 0; /*disable white space between inline block element */
  }

  /*#app .hex-grid .hex-grid-container div {*/
  /*  width: var(--s);*/
  /*  margin: var(--m);*/
  /*  height: calc(var(--s)*1.1547);*/
  /*  display: inline-block;*/
  /*  font-size: initial;*/
  /*  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);*/
  /*  margin-bottom: calc(var(--m) - var(--s)*0.2885);*/
  /*  #border: 2px solid rgba(2,0,36,1);*/
  /*  box-shadow: 2px 2px 10px #fff;*/



  /*}*/
  /*!*#app .hex-grid .hex-grid-container div:nth-child(12n) {*!*/
  /*!*  margin: 0;*!*/
  /*!*}*!*/

  /*.hex-grid-container::before {*/
  /*  content: "";*/
  /*  width: calc(var(--s)/2 + var(--m));*/
  /*  float: left;*/
  /*  height: 120%;*/
  /*  shape-outside: repeating-linear-gradient(*/
  /*      #0000 0 calc(var(--f) - 3px),*/
  /*      #000  0 var(--f));*/
  /*}*/

</style>
