<template>

  <div class="modal-card runesrow-modal-card">
    <header class="modal-card-head">
      <span class="rune-name">
         {{headRowTitle}}
      </span>

      <span class="rune-icon-wrapper" @click="close()">
        <svg class="rune-icon close" viewBox="0 0 80 93">
          <g transform="translate(0 0) scale(0.35)">
              <polygon id="hexagon" class="hexagon"
                       fill="#aaaaaa"
                       stroke="#aaaaaa"
                       stroke-miterlimit="10"
                       points="213.413,184.99 106.911,246.376 0.499,184.836 0.587,61.91 107.089,0.524 213.501,62.064 "/>
              <polygon transform="translate(8 20) scale(5)"
                       class="cross"
                       fill="#cdcddd"
                       points="28.876,5.124 20,14 11.124,5.124 3.517,9.517 14,20 3.517,30.483 11.124,34.876 20,26 28.876,34.876 36.483,30.483 26,20 36.483,9.517 	"/>
            </g>
        </svg>
      </span>
    </header>
    <section class="modal-card-body" ref="modalBody">
      <template>
        <div class="description desc-aboutRunes" v-html="aboutRow"/>
      </template>
    </section>
  </div>
</template>

<script>
import MenuItem from "@/components/MenuItem";
import ArmanicRunes from "@/components/ArmanicRunes";
import Hexagon from "@/components/Hexagon";
import MeadowsRunes from "@/components/MeadowsRunes";
import NavButton from "@/components/ui/NavButton";
import FutarkRunes from "@/components/FutarkRunes";
import IcelandRunes from "@/components/IcelandRunes";
import ReichRunes from "@/components/ReichRunes";

export default {
  name: "AboutRunesModal",
  components: {ReichRunes, NavButton, MenuItem, Hexagon, IcelandRunes, FutarkRunes, MeadowsRunes, ArmanicRunes },
  props: {
    order: String,
    rune: Object,
    rune$: Object,
    aboutRow: String,
    headRowTitle: String
  },
  created() {
    // const self = this;
    // this.runeSubscription = this.rune$.subscribe((rune) => {
    //   self.rune = rune;
    // });
  },
  data() {
    return {
      // runeSubscription: null,
    }
  },
  beforeDestroy() {
    // this.runeSubscription.unsubscribe();
  },
  computed: {
    runeArticleLink() {
      return `/article/${this.rune.name}`;
    }
  },
  methods: {
    close() {
      // this.runeSubscription.unsubscribe();
      this.$parent.close()
    }
  }
}
</script>

<style lang="scss" scoped>

.modal-card {
  &.runesrow-modal-card {
    min-width: 600px !important;
    .modal-card-head {
      background-color: var(--background-color-primary);
      padding: 0.5rem 1.3rem !important;
    }
    .modal-card-body {
      background-color: var(--background-color-secondary);
      padding: 0.6rem 1.3rem !important;
      color: var(--text-primary-color);
      .description {
        //font-size: 18px;
        font-weight: 400;
        //line-height: 1.25;

        font-family: "Roboto", sans-serif;
        text-indent: 1em;
        text-align: justify-all !important;
        &.desc-aboutRunes {
          p {
            text-align: justify !important;
          }
        }
      }
    }
    .runes-inside-desc {
      width: 100%;
      overflow: hidden;
    }
  }
}







.rune-icon-wrapper {
  height: 40px;
  overflow: hidden;
  .rune-icon {

  }
}

</style>
