<template>
  <div class="wheel" @keyup.left="prev()" @keyup.right="next()">
    <!--<Loader></Loader>-->
    <svg width="100%" height="100%" viewBox="0 0 960 1080">
      <defs>
        <clipPath id="hex-clip-path">
          <polygon fill="#B3B3B3"
                   points="224.86,188.75 224.86,63.02 116.98,0.15 9.11,63.02 9.11,188.75 116.98,251.62"/>
        </clipPath>
        <filter id="inset-shadow" x="-50%" y="-50%" width="200%"
                height="200%">
          <feComponentTransfer in=SourceAlpha>
            <feFuncA type="table" tableValues="1 0"/>
          </feComponentTransfer>
          <feGaussianBlur stdDeviation="4"/>
          <feOffset dx="0" dy="5" result="offsetblur"/>
          <feFlood flood-color="rgb(50, 50, 50)" result="color"/>
          <feComposite in2="offsetblur" operator="in"/>
          <feComposite in2="SourceAlpha" operator="in"/>
          <feMerge>
            <feMergeNode in="SourceGraphic"/>
            <feMergeNode/>
          </feMerge>
        </filter>

      </defs>

      <g id="wheel" transform="translate(0 -50)">
        <polygon id="wheel-bg" fill="#6A7882" points="564.528,140 400.315,140 246.006,196.164 120.212,301.718 38.106,443.93
		9.591,605.647 38.106,767.365 120.212,909.577 246.006,1015.131 400.315,1071.295 564.528,1071.295 718.837,1015.131
		844.631,909.577 926.737,767.365 955.252,605.647 926.737,443.93 844.631,301.718 718.837,196.164 	"/>
        <polygon id="trap-hl" fill="#7D57D1" points="134.331,602.63 154.328,489.214 46.081,449.815 19.136,602.63 	"/>
        <g id="card">
          <polygon id="card-bg" fill="#FFFFFF" points="483.184,269.104 757.689,429.874 757.689,796.58 483.184,942.765 207.885,796.15
			207.885,430.606"/>
          <path id="card-frame" fill="#97A0A4" d="M483.184,269.104L207.885,430.606V796.15l275.299,146.614L757.689,796.58V429.874
			L483.184,269.104z M747.407,787.771H217.742l0.191-226.775h529.474V787.771z M747.29,521.169l-529.336,0.096l-0.021-84.903
			l265.249-154.194l264.224,153.947L747.29,521.169z"/>

          <ArmanicRunes :name="selectedRune.name"></ArmanicRunes>

          <g class="rune-name-ru">
            <polygon id="card-title" fill="#224B5C" points="583.427,525.064 379.869,525.064 370.32,540.889 379.869,556.714
			583.427,556.714 592.976,540.889"/>
            <foreignObject class="title-ru">
              <div class="title-ru-wrapper">
                <h2 class="name">{{selectedRune.name}}</h2>
              </div>
            </foreignObject>
          </g>

          <g class="arrow right" @click="next">
            <polygon class="bg" fill="#C1A875" points="629.2,557 598,557 605.8,541 598,525 629.2,525 637,541"/>
            <polygon class="top" fill="#E5D0A4" points="598,525 629.2,525 630.37,527.4 599.17,527.4"/>
            <polygon class="left-top" fill="#97743A" points="608.126,541 605.786,541 599.156,527.4 601.491,527.4"/>
            <polygon class="left-bottom" fill="#C1A875" points="605.805,541 608.14,541 601.51,554.6 599.17,554.6"/>
            <polyline class="bottom" fill="#97743A" points="598,557 629.256,557 637,541 634.66,541 627.64,554.6 599.17,554.6"/>
          </g>
          <g class="arrow left" @click="prev">
            <polygon class="bg" fill="#C1A875" points="326,541 333.6,525 364,525 356.4,541 364,557 333.6,557"/>
            <polyline class="top" fill="#E5D0A4" points="364,525 362.86,527.4 334.74,527.4 328.28,541 326,541 333.6,525	"/>
            <polygon class="right" fill="#97743A" points="364,525 361.72,525 354.12,541 356.4,541	"/>
            <polygon class="bottom" fill="#97743A" points="333.6,557 332.46,554.6 362.86,554.6 364,557	"/>
          </g>

          <foreignObject @click="readMore" class="description-wrapper">
            <div class="description" v-html="selectedRune.description">
            </div>
            <a @click="readMore"
               class="readmore is-pulled-left">расширенное описание руны…</a>
          </foreignObject>

          <Button x="34%" y="74%" >
            <template v-slot:link>
              <a class="link about-rune-link" @click="aboutRune">О РУННОМ СТРОЕ</a>
            </template>
          </Button>
          <TemeorButton x="41.3%" y="79%">
            <template v-slot:temeor-link>
              <a class="temeor-link" href="/">
<!--                <span>Те</span><span>ме</span>ор<span></span>-->
              </a>
            </template>
          </TemeorButton>
<!--          <Button x="55%" y="74%">-->
<!--            <template v-slot:link>-->
<!--              <a class="link" href="/statyi">СТАТЬИ</a>-->
<!--            </template>-->
<!--          </Button>-->
<!--          <Button x="42.5%" y="79%">-->
<!--            <template v-slot:link>-->
<!--              <a class="link" href="/video">ВИДЕО</a>-->
<!--            </template>-->
<!--          </Button>-->
        </g>
        <g id="runes">
          <g class="rune" @click="selectRune(runes['Ur'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Ur'}"
                     points="426.839,260.34 542.004,260.34 562.008,146.895 406.836,146.895"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="437.554,177.339 437.554,229.86 482.602,256.078 527.649,229.86 527.649,177.339 482.602,151.12
			"/>
            <g id="Ur">
              <defs>
                <polygon id="SVGID_3_" points="437.554,177.339 437.554,229.86 482.602,256.078 527.65,229.86 527.65,177.339
	482.602,151.12		"/>
              </defs>
              <clipPath id="SVGID_4_">
                <use xlink:href="#SVGID_3_" overflow="visible"/>
              </clipPath>
              <polygon id="rune-symbol" clip-path="url(#SVGID_4_)" fill="#354C5C" points="527.786,177.249 527.636,177.162 527.636,170.799
517.535,170.799 517.535,171.331 482.553,151.133 482.553,151.12 482.53,151.12 477.528,148.232 475.86,151.12
472.452,151.12 472.452,249.641 482.553,249.641 482.553,162.797 517.535,182.994 517.535,229.848 527.636,229.848
527.636,177.509	"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Fa'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Fa'}"
                     points="312.112,300.876 420.331,261.487 400.327,148.043 254.514,201.114"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="304.53,201.63 304.53,254.151 349.577,280.369 394.625,254.151 394.625,201.63 349.577,175.412"/>
            <g id="Fa">
              <defs>
                <polygon id="SVGID_5_" points="304.53,201.63 304.53,254.151 349.577,280.369 394.625,254.151 394.625,201.63
			349.577,175.412"/>
              </defs>
              <clipPath id="SVGID_6_">
                <use xlink:href="#SVGID_5_" overflow="visible"/>
              </clipPath>
              <polygon id="rune-symbol" clip-path="url(#SVGID_6_)" fill="#354C5C" points="349.701,268.269 349.701,239.503 391.955,214.856 386.862,206.088
		349.701,227.772 349.701,204.726 349.7,181.946 339.471,181.988 339.472,211.865 339.472,295.155 339.472,321.457
		349.701,327.678 349.701,301.376 349.701,280.418 391.955,255.686 386.862,246.919 	"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Thorn'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Thorn'}"
                     points="548.512,261.487 656.732,300.876 714.329,201.115 568.515,148.043"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="574.073,198.85 574.073,251.371 619.12,277.59 664.168,251.371 664.168,198.85 619.12,172.632
			"/>
            <g id="Thorn">
              <defs>
                <polygon id="SVGID_7_" points="574.073,251.371 574.073,198.85 619.12,172.632 664.168,198.85 664.168,251.371 619.12,277.59
			"/>
              </defs>
              <clipPath id="SVGID_8_">
                <use xlink:href="#SVGID_7_" overflow="visible"/>
              </clipPath>
              <path id="rune-symbol" clip-path="url(#SVGID_8_)" fill="#354C5C" d="M624.13,200.98v-9.686l0-12.2h-10.228v4.727v85.336l-0.023,1.857h10.237
	l0.015-9.33v-9.769l0.417-0.251l39.62-24.516 M647.259,226.594l-23.129,13.463v-27.304"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Os'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Os'}"
                     points="662.454,304.18 750.676,378.207 838.92,304.161 720.051,204.419"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="788.394,325.19 788.394,272.67 743.346,246.451 698.299,272.67 698.299,325.19 743.346,351.409
			"/>
            <g id="Os">
              <g>
                <defs>
                  <polygon id="SVGID_9_" points="788.394,325.19 788.394,272.67 743.346,246.451 698.299,272.67 698.299,325.19
			743.346,351.409"/>
                </defs>
                <clipPath id="SVGID_10_">
                  <use xlink:href="#SVGID_9_" overflow="visible"/>
                </clipPath>
                <polyline id="rune-symbol" clip-path="url(#SVGID_10_)" fill="#354C5C" points="743.346,246.451 701.399,270.879 706.493,279.646
		743.447,258.082 743.447,287.264 701.443,312.14 706.537,320.908 743.447,298.996 743.447,321.624 743.346,345.451
		753.575,345.409 753.676,314.485 753.676,264.183 753.676,252.463 743.346,246.451 	"/>
              </g>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Rit'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Rit'}"
                     points="843.168,309.224 754.924,383.27 812.505,483.005 920.753,443.607"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="788.486,432.201 833.534,458.419 833.734,458.302 833.935,458.419 878.982,432.201
878.982,379.68 833.935,353.461 833.734,353.578 833.534,353.461 788.486,379.68"/>
            <g id="Rit">
              <g id="Rit">
                <defs>
                  <polygon id="SVGID_11_" points="788.687,379.68 788.687,432.201 833.734,458.419 878.782,432.201 878.782,379.68
			833.734,353.461"/>
                </defs>
                <clipPath id="SVGID_12_">
                  <use xlink:href="#SVGID_11_" overflow="visible"/>
                </clipPath>
                <path id="rune-symbol" clip-path="url(#SVGID_12_)" fill="#354C5C"
                      d="M878.534,379.819l-5.051-8.748l-4.86,2.806l-35.417-20.448v-2.286h-3.96l-0.987-0.57l-0.329,0.57h-4.826v97.369h10.101v-36.671l37.081,21.408l5.339-9.248l-36.809-21.251L878.534,379.819zM858.521,379.709l-25.316,14.616v-29.232L858.521,379.709z"/>
              </g>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Ka'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Ka'}"
                     points="814.766,489.215 834.764,602.63 949.959,602.63 923.013,449.816"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="882.09,483.735 881.93,483.828 881.769,483.735 836.721,509.953 836.721,562.474
881.769,588.693 881.93,588.599 882.09,588.693 927.138,562.474 927.138,509.953"/>
            <g id="Ka">
              <defs>
                <polygon id="SVGID_13_" points="836.882,509.953 836.882,562.474 881.93,588.693 926.977,562.474 926.977,509.953
881.93,483.735	"/>
              </defs>
              <clipPath id="SVGID_14_">
                <use xlink:href="#SVGID_13_" overflow="visible"/>
              </clipPath>
              <polygon id="rune-symbol" clip-path="url(#SVGID_14_)" fill="#354C5C" points="924.222,518.153 918.883,508.905 887.124,527.241
			887.124,490.417 876.896,490.417 876.896,582.336 887.124,582.336 887.124,539.572"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Hagall'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Hagall'}"
                     points="834.764,609.239 814.766,722.652 923.013,762.051 949.959,609.239"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="837.123,643.436 837.123,695.956 882.171,722.175 927.218,695.956 927.218,643.436
882.171,617.217"/>
            <g id="Hagall">
              <g>
                <defs>
                  <polygon id="SVGID_15_" points="927.218,695.956 927.218,643.436 882.171,617.217 837.123,643.436 837.123,695.956
			882.171,722.175"/>
                </defs>
                <clipPath id="SVGID_16_">
                  <use xlink:href="#SVGID_15_" overflow="visible"/>
                </clipPath>
                <polygon id="rune-symbol" clip-path="url(#SVGID_16_)" fill="#354C5C" points="924.297,651.635 918.958,642.387 887.205,660.72 887.205,623.899
		876.976,623.899 876.976,660.723 845.217,642.387 839.878,651.635 871.409,669.84 839.878,688.044 845.217,697.292
		876.976,678.956 876.976,715.818 887.205,715.818 887.205,678.959 918.958,697.292 924.297,688.044 892.767,669.84 	"/>
              </g>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Nauth'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Nauth'}"
                     points="812.506,728.863 754.924,828.599 843.168,902.644 920.753,768.262"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="788.386,781.932 788.386,834.453 833.433,860.671 878.481,834.453 878.481,781.932
833.433,755.713"/>
            <g id="Nauth">
              <g>
                <polygon id="rune-symbol" fill="#354C5C" points="875.56,827.76 838.467,806.345 838.467,763.616 828.239,763.616 828.239,800.44
		796.48,782.104 791.141,791.352 828.239,812.771 828.239,855.534 838.467,855.534 838.467,818.676 870.221,837.009 	"/>
              </g>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Is'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Is'}"
                     points="750.676,833.661 662.454,907.688 720.051,1007.449 838.92,907.707"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="699.435,889.023 699.435,941.543 744.483,967.762 789.53,941.543 789.53,889.023
744.483,862.804"/>
            <g>
              <defs>
                <polyline id="SVGID_17_" points="699.435,889.023 699.435,941.543 744.483,967.762 789.53,941.543 789.53,889.023
		744.483,862.804 	"/>
              </defs>
              <clipPath id="SVGID_18_">
                <use xlink:href="#SVGID_17_" overflow="visible"/>
              </clipPath>
              <rect id="rune-symbol" x="738.16" y="868.119" clip-path="url(#SVGID_18_)" fill="#354C5C" width="10.229" height="91.919"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Ar'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Ar'}"
                     points="656.732,910.992 548.512,950.381 568.515,1063.825 714.329,1010.753"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="574.073,957.907 574.073,1010.427 619.12,1036.646 664.168,1010.427 664.168,957.907
619.12,931.688"/>
            <g id="Ar">
              <defs>
                <polygon id="SVGID_19_" points="664.168,1010.427 664.168,957.907 619.12,931.688 574.073,957.907 574.073,1010.427
619.12,1036.646	"/>
              </defs>
              <clipPath id="SVGID_20_">
                <use xlink:href="#SVGID_19_" overflow="visible"/>
              </clipPath>
              <polygon id="rune-symbol" clip-path="url(#SVGID_20_)" fill="#354C5C" points="613.926,938.045 613.926,980.809 576.828,1002.228
			582.167,1011.476 613.926,993.14 613.926,1029.964 624.154,1029.964 624.154,938.045"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Sol'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Sol'}"
                     points="542.004,951.528 426.839,951.528 406.836,1064.973 562.008,1064.973"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="438.036,983.151 438.036,1035.671 483.084,1061.89 528.131,1035.671 528.131,983.151
483.084,956.932"/>
            <g id="Sol">
              <g>
                <defs>
                  <polygon id="SVGID_21_" points="438.036,983.151 438.036,1035.671 483.084,1061.89 528.131,1035.671 528.131,983.151
			483.084,956.932"/>
                </defs>
                <clipPath id="SVGID_22_">
                  <use xlink:href="#SVGID_21_" overflow="visible"/>
                </clipPath>
                <polygon id="rune-symbol" clip-path="url(#SVGID_22_)" fill="#354C5C" points="464.481,1015.27 464.481,973.95 453.859,973.95 453.859,1020.938
		453.815,1033.104 464.455,1027.214 464.481,1027.214 464.481,1027.199 503.123,1005.808 503.123,1043.878 513.745,1043.878
		513.745,999.929 513.745,995.311 513.745,988.982 	"/>
              </g>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Tyr'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Tyr'}"
                     points="420.331,950.381 312.112,910.992 254.514,1010.753 400.327,1063.826"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="292.333,957.907 292.333,1010.427 337.381,1036.646 382.428,1010.427 382.428,957.907
			337.381,931.688 		"/>
            <g id="Tyr">
              <g>
                <defs>
                  <polygon id="SVGID_23_" points="292.952,1010.427 292.952,957.907 338,931.688 383.048,957.907 383.048,1010.427 338,1036.646"/>
                </defs>
                <clipPath id="SVGID_24_">
                  <use xlink:href="#SVGID_23_" overflow="visible"/>
                </clipPath>
                <polygon id="rune-symbol" clip-path="url(#SVGID_24_)" fill="#354C5C" points="379.947,955.459 343.01,934.133 343.01,930.318 332.485,930.318
					332.485,934.937 295.622,956.22 300.885,965.335 332.485,947.091 332.485,1030.069 343.01,1030.069 343.01,946.287
					374.685,964.574"/>
              </g>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Bar'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Bar'}"
                     points="306.388,907.688 218.167,833.662 129.922,907.707 248.791,1007.449"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="181.517,889.023 181.517,941.543 226.565,967.762 271.612,941.543 271.612,889.023
226.565,862.804"/>
            <g id="Bar">
              <g>
                <defs>
                  <polygon id="SVGID_25_" points="181.517,941.543 181.517,889.023 226.565,862.804 271.612,889.023 271.612,941.543
			226.565,967.762"/>
                </defs>
                <clipPath id="SVGID_26_">
                  <use xlink:href="#SVGID_25_" overflow="visible"/>
                </clipPath>
                <path id="rune-symbol" clip-path="url(#SVGID_26_)" fill="#354C5C" d="M277.014,891.92l-5.114-8.858l-5.158,2.978l-40.177-23.196v-9.756h-10.229
		v10.8l-2.105,3.647l2.105,1.216v93.257l-1.273,0.735l1.273,2.205v8.994h10.229v-6.029l40.244-23.235l4.372,2.524l5.114-8.858
		l-39.844-23.004L277.014,891.92z M256.513,891.945l-29.948,17.291v-34.581L256.513,891.945z M226.565,956.101v-34.659
		l30.015,17.329L226.565,956.101z"/>
              </g>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Laf'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Laf'}"
                     points="213.919,830.6 156.336,730.864 48.088,770.263 125.675,904.646"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="90.136,782.551 90.136,835.072 135.184,861.29 180.231,835.072 180.231,782.551 135.184,756.332
			"/>
            <g id="Laf">
              <defs>
                <polygon id="SVGID_27_" points="180.231,835.071 180.231,782.551 135.184,756.332 90.136,782.551 90.136,835.071
		135.184,861.29 	"/>
              </defs>
              <clipPath id="SVGID_28_">
                <use xlink:href="#SVGID_27_" overflow="visible"/>
              </clipPath>
              <polygon id="rune-symbol" clip-path="url(#SVGID_28_)" fill="#354C5C" points="135.105,752.181 135.105,756.233 135.183,756.099 177.421,780.662
					172.279,789.504 135.105,767.886 135.105,854.851 124.877,854.851 124.877,752.181	"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Man'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Man'}"
                     points="154.076,722.653 134.079,609.239 18.884,609.239 45.828,762.052"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="132.567,648.196 87.52,621.977 42.472,648.196 42.472,700.717 87.52,726.935 132.567,700.717
"/>
            <g id="Man">
              <defs>
                <polygon id="SVGID_29_" points="42.472,648.196 42.472,700.717 87.52,726.935 132.567,700.717 132.567,648.196 87.52,621.977
			"/>
              </defs>
              <clipPath id="SVGID_30_">
                <use xlink:href="#SVGID_29_" overflow="visible"/>
              </clipPath>
              <polygon id="rune-symbol" clip-path="url(#SVGID_30_)" fill="#354C5C" points="129.812,656.396 124.473,647.147 92.714,665.483 92.714,628.659
	82.486,628.659 82.486,665.789 50.197,647.147 44.857,656.396 82.486,678.12 82.486,720.578 92.714,720.578 92.714,677.814
	"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Yr'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Yr'}"
                     points="134.079,602.63 154.076,489.214 45.828,449.815 18.884,602.63"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="132.339,560.637 132.339,508.116 87.291,481.898 42.244,508.116 42.244,560.637 87.291,586.855
			"/>
            <g id="Yr">
              <defs>
                <polygon id="SVGID_31_" points="42.244,560.637 42.244,508.116 87.291,481.897 132.339,508.116 132.339,560.637
		87.291,586.855 	"/>
              </defs>
              <clipPath id="SVGID_32_">
                <use xlink:href="#SVGID_31_" overflow="visible"/>
              </clipPath>
              <rect id="rune-symbol" x="82.257" y="488.474" clip-path="url(#SVGID_32_)" fill="#354C5C" width="10.229" height="91.919"/>
              <rect id="rune-symbol" x="82.257" y="488.254" clip-path="url(#SVGID_32_)" fill="#354C5C" width="10.229" height="91.919"/>
              <polygon id="rune-symbol" clip-path="url(#SVGID_32_)" fill="#354C5C" points="129.584,552.437 87.125,527.924 87.106,527.956 87.087,527.924
	44.629,552.437 49.968,561.685 87.106,540.244 124.244,561.685 "/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Eh'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Eh'}"
                     points="156.336,483.005 213.919,383.269 125.675,309.224 48.089,443.606"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="90.781,381.792 90.781,434.312 135.829,460.531 180.876,434.312 180.876,381.792
135.829,355.573"/>
            <g id="Eh">
              <g>
                <defs>
                  <polygon id="SVGID_33_" points="180.876,381.792 180.876,434.312 135.829,460.531 90.781,434.312 90.781,381.792
			135.829,355.573"/>
                </defs>
                <clipPath id="SVGID_34_">
                  <use xlink:href="#SVGID_33_" overflow="visible"/>
                </clipPath>
                <polygon id="rune-symbol" clip-path="url(#SVGID_34_)" fill="#354C5C" points="177.838,389.255 172.724,380.397 141.048,398.685
		141.048,362.194 130.819,362.194 130.819,404.591 93.474,426.152 98.588,435.01 130.819,416.401 130.819,453.954
		141.048,453.954 141.048,410.496 	"/>
              </g>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Ge'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Ge'}"
                     points="218.167,378.207 306.388,304.18 248.791,204.419 129.923,304.161"/>
            <polygon class="rune-hex" fill="#B2B2B2" points="182.217,271.06 182.217,323.58 227.265,349.799 272.312,323.58 272.312,271.06 227.265,244.841
			"/>
            <g id="Ge">
              <g>
                <defs>
                  <polygon id="SVGID_35_" points="182.217,271.06 182.217,323.58 227.265,349.799 272.312,323.58 272.312,271.06
			227.265,244.841"/>
                </defs>
                <clipPath id="SVGID_36_">
                  <use xlink:href="#SVGID_35_" overflow="visible"/>
                </clipPath>
                <polygon id="rune-symbol" clip-path="url(#SVGID_36_)" fill="#354C5C" points="282.512,271.425 277.172,262.177 267.225,267.92 227.351,244.898
		222.011,254.146 256.546,274.085 226.772,291.275 189.942,270.011 184.602,279.259 216.093,297.441 171.033,323.456
		176.373,332.704 187.117,326.502 227.265,349.799 232.655,340.58 197.782,320.344 226.772,303.606 263.71,324.932
		269.05,315.684 237.451,297.441 	"/>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g id="flags">
        <path class="flags-figure" d="M579.655 16H394.878L316 22.7286V63L394.993 56.2714H579.655L646 63V22.7286L579.655 16Z" fill="#6A7882"/>
        <foreignObject class="title-en-wrapper">
          <h2 class="title-en">Руны Гвидо фон Листа</h2>
        </foreignObject>
      </g>
      <g id="menu">
        <g class="link-group back">
          <polygon class="link-bg" fill="#C1A875" points="24.6,84.5 11.9,62.7 24.6,41 263.3,41 275.9,62.7 263.3,84.5"/>
          <polygon fill="#E5D0A4" points="265.2,44.3 26.7,44.3 15.1,62.7 11.9,62.7 24.6,41 263.3,41"/>
          <polygon fill="#97743A" points="22.7,81.2 261.2,81.2 272.8,62.7 275.9,62.7 263.3,84.5 24.6,84.5"/>
          <foreignObject class="link-wrapper">
            <a href="/#/" class="link">НАЗАД В МЕНЮ</a>
          </foreignObject>
        </g>
        <g class="link-group home">
          <polygon class="link-bg" fill="#C1A875" points="696.7,84.5 684,62.7 696.7,41 935.4,41 948,62.7 935.4,84.5"/>
          <polygon fill="#E5D0A4" points="937.3,44.3 698.8,44.3 687.2,62.7 684,62.7 696.7,41 935.4,41"/>
          <polygon fill="#97743A" points="694.8,81.2 933.3,81.2 944.9,62.7 948,62.7 935.4,84.5 696.7,84.5"/>
          <foreignObject class="link-wrapper">
            <a href="/#/" class="link">НА ГЛАВНУЮ</a>
          </foreignObject>
        </g>
      </g>
    </svg>

  </div>
</template>

<script>
  import ReadMoreModal from "@/components/ReadMoreModal";
  import AboutRunesModal from "@/components/AboutRunesModal";
  import ArmanicRunes from "@/components/ArmanicRunes";
  import Button from "@/components/Button";
  import { Subject } from "rxjs";
  import PostsService from "@/services/posts-service";
  import Loader from "@/components/ui/Loader";
  import TemeorButton from "@/components/TemeorButton";


  export default {
    name: "Armanic",
    components: { Loader, ReadMoreModal, ArmanicRunes, Button, TemeorButton, AboutRunesModal },
    props: {
      defaultRune: String
    },
    computed: {
      prevRune() {
        const names = Object.keys(this.runes);
        const prevIndex = names.indexOf(this.selectedRune.name.replace(/\s/g, '')) - 1;
        if (names[prevIndex]) {
          return this.runes[names[prevIndex]];
        } else {
          return this.runes[names[names.length - 1]];
        }
      },
      nextRune() {
        const names = Object.keys(this.runes);
        const nextIndex = names.indexOf(this.selectedRune.name.replace(/\s/g, '')) + 1;
        if (names[nextIndex]) {
          return this.runes[names[nextIndex]];
        } else {
          return this.runes[names[0]];
        }
      },
      runeNames() {
        return Object.keys(this.runes);
      },
      runeKeys() {
        return Object.keys(this.runes);
      }
    },
    created() {
      this.selectedRune = this.runes[this.defaultRune];
      this.runes[this.defaultRune].active = true;
      if (typeof window !== 'undefined') {
        document.addEventListener('keyup', this.keyPress)
      }
      this.swipeRuneSubscription = this.swipeRune$.subscribe((eventName) => {
        switch (eventName) {
          case 'next':
            this.next();
            break;
          case 'prev':
            this.prev();
            break;
          default:
            return;
        }
      });
    },
    beforeDestroy() {
      this.swipeRuneSubscription.unsubscribe();
    },
    methods: {
      setPost(id){
        this.loadingPost = true;
        return PostsService.getPost(id).then((response) => {
          this.selectedRune.description = response.data.content.rendered;
          this.loadingPost = false;
        });
      },
      readMore(event) {
        if (event ) event.stopPropagation();
        this.modalInstance = this.$buefy.modal.open({
          parent: this,
          component: ReadMoreModal,
          hasModalCard: true,
          props: {
            order: 'Armanic',
            rune: this.selectedRune,
            rune$: this.rune$,
            swipeRune$: this.swipeRune$,
            hasHeaderIcon: false,
            hasRuneSymbol: true
          }
        });
      },
      aboutRune(event) {
        if (event) event.stopPropagation();
        this.modalInstance = this.$buefy.modal.open({
          parent: this,
          component: AboutRunesModal,
          hasModalCard: true,
          props: {
            order: 'Armanic',
            aboutRow: this.aboutRuneRow,
            headRowTitle: this.headTitle,
            rune: this.selectedRune,
            rune$: this.rune$,
          }
        });
      },
      keyPress({ keyCode }) {
        switch (keyCode) {
          case 37:
            this.prev();
            break;
          case 39:
            this.next();
            break;
          case 13:
            this.readMore();
            break;
          default:
            return;
        }
      },
      getPolygonPoints(numPoints, cx, cy, sideLength) {
        let result = ``;
        for (let i = 0; i <= numPoints; i++) {
          result += `${Math.round(cx + sideLength * Math.cos(i * 2 * Math.PI / numPoints))},${Math.round(cy + sideLength * Math.sin(i * 2 * Math.PI / numPoints))} `;
        }
        return result;
      },

      getRuneTransform(index, numPoints, cx, cy, sideLength) {
        const offset = 6.475;
        const x = Math.round(cx + sideLength * Math.cos((index - 11) * 2 * Math.PI / numPoints + offset));
        const y = Math.round(cy + sideLength * Math.sin((index - 11) * 2 * Math.PI / numPoints + offset));
        return `translate(${x}, ${y}), scale(0.35)`;
      },
      getTrapezoidTransform(index, numPoints, cx, cy, sideLength) {
        const rotOffset = -127;
        const x = Math.round(cx + sideLength * Math.cos((index - 11) * 2 * Math.PI / numPoints));
        const y = Math.round(cy + sideLength * Math.sin((index - 11) * 2 * Math.PI / numPoints));
        return `
        translate(${x}, ${y}), rotate(${index ? 360 / numPoints * index + rotOffset : rotOffset} 55 50), scale(1.3)`;
      },
      prev() {
        this.selectRune(this.prevRune);
        this.updateModalContent();
      },
      next() {
        this.selectRune(this.nextRune);
        this.updateModalContent();
      },
      updateModalContent() {
        if (this.modalInstance) {
          this.rune$.next(this.selectedRune);
        }
      },
      selectRune(rune) {
        this.selectedRune = rune;
        // console.log(rune)
        for (let name in this.runes) {
          this.runes[name].active = false;
        }
        rune.active = true;
      }
    },
    data() {
      return {
        headTitle: 'Руны Гвидо фон Листа',
        swipeRuneSubscription: null,
        modalInstance: null,
        swipeRune$: new Subject(),
        rune$: new Subject(),
        selectedRune: null,
        aboutRuneRow: '<p>Австриец Гвидо Карл Антон фон Лист (Guido Karl Anton von List, 05.10.1848 – 17.05.1919 г.) мистик и теоретик новаций в области эзотерической парадигмы XIX-XX века, оставивший влиятельное литературное и культурное наследие, продвинувшее развитие, в том числе и рунной реформации в Европе на многие десятилетия применений и интерпретаций его идей.</p>' +
            '<p>Концепция рунического строя, разработанная Гвидо фон Листом, состоит из несоразмерного с иными футарками количеством рунных знаков, а именно, 18-ти. Он осознанно использовал именно это число, утверждая, что они явились ему в видении при временной потере зрения в середине жизни после операции по удалению катаракты. Воссозданный по памяти порядок избранно содержал те руны, архетип которых он позже присоединил к отрывкам из 18-ти «заклинаний Одина», а именно, строки 139-165, взятые из «Старшей Эдды». Руны строились по системе, где их последовательность и качества коррелировались с номером заклинания в структуре эддического текста отрывка «Hávamál» («Речи Высокого»).</p>' +
            '<p>Ознакомившись опытным взглядом со структурой Арманического строя, может показаться, что Гвидо не воссоздал, а сделал выборку рун из разных футарков, расположив, наименовав и изобразив их несколько отличным от классически принятого стандарта способом и переиначил, вписав графические основы своих рун в унифицированную структуру шестиугольной рунической проформы. Как правило, уровень погружения в Арманизм и разделяет всех исследователей и практиков руники на два лагеря: одни неоспоримо принимают футарк фон Листа, а другие категорически отрицают претенциозность строя на оригинальность и особую функциональность.</p>' +
            '<p>Если описывать последнее свойство, то да - энергетических программ (ставов), содержащих арманические руны, практически нет, т.к. они маломощны для использования их в воздействиях, однако весьма раскачены как факультативная система для использования их в мантике, работе с телом (йога, асаны, танцы, гимнастика, мудры) и сознанием (медитации, духовное развитие).</p>' +
            '<p>Этимологически, происхождение названия своего ряда, Гвидо фон Лист сопоставлял с описанным у Тацита в «Германии» Lehrstand классом сословия древнегерманской интеллигенции, антитезой утверждая, что на верхушке тех времен стояли Armanen (Irmionen (Hermionen)) – каста жрецов, являющейся сакральной элитой, обладающей духовной властью и высоким положением в социуме за счёт наследия своего королевского происхождения от первого Солнца (Ar-) Человека (-Man).</p>' +
            '<p>При всей сложности восприятия концепций и идей австрийского мистика и литератора, однозначно то, что руны много лет для Гвидо фон Листа и его последователей были универсальным инструментом, при помощи которого было удобно исследовать, трактовать, интерпретировать и создавать. Один только этот факт поднимает их из сомнительной плоскости декоративных графических структур на уровень восприятия как потенциально активных энергий, которые можно и нужно попробовать познать.</p>',
        runes: {
          Ur: {
            name: 'Ur',
            ruName: 'Ур',
            description: `
              <p ><b>Руна «Ур». Ur</b> - («предвечное»); вечность, изначальный огонь (нем. Urfeuer), Ursache (c нем. – Причина) изначальный свет, первый бык или зубр; воскресение (жизнь после смерти).</p>
              <p >Основа всех проявлений - Ur, Предначальное. Тому, кто осознал первопричину события, само оно уже не кажется неразрешимой загадкой, ставящей в тупик головоломкой. Не важно, было ли это событие удачным или неудачным, а потому оно не только может отогнать несчастья или дать добиться успеху, оно поможет еще и осознать обманчивое зло и фальшивую удачу.</p>
              <br />
              <p ><b>И потому: «Познай себя, и ты познаешь все».</b></p>
              <br style="clear: both;"/>
              <p class="poem">Называю другое, коле необходимо всем тем,</p>
              <p class="poem ">кто занимается исцеляющим  врачеванием;</p>
              <p class="poem ">Познай себя самого - и мир ты познаешь,</p>
              <p class="poem ">научишься отделять зло от его причины.</p>
              <p class=""><b><i>(Речи Высокого, 147)</i></b></p>
            `,
            active: false,
            svg: `<use href="#hex"/>
            <polygon fill="#354C5C" class="symbol" points="117,-16 117,47 117,98.2 38.6,144.3 38.6,172.3 117,126.3 117,161.2 -55.1,261.2 -42.8,282.2 117,189.3 117,243.5 117,306.5 141.5,324.4 141.5,261.4 141.5,61.8 141.5,-1.2"/>`,
          },
          Thorn: {
            name: 'Thorn',
            ruName: 'Торн',
            description: `
              <p ><b>Руна «Торн». Thorn, thurs, thor</b> – бог Top ( гром, молния); торн, шип, колючка (нем. Dorn). Воля и действие. Духовная и физическая полюсовка мужчины и женщины в браке.</p>
              <p >«Символизирует «Шип смерти», которым Один погрузил в сон-смерть Брюнхильд, но вместе с тем, и «Шип жизни», посредством которого возрождение побеждает смерть. Знак надежного притупления оружия противника, побеждающего силы смерти вечным возвращением жизни.</p>
              <br />
              <p ><b>Потому: «Берегите свое Я».</b></p>
              <br style="clear: both;"/>
              <p class="poem">Знаю и третье, пред ликом опасности</p>
              <p class="poem">скую врага колдовством:</p>
              <p class="poem">Я затуплю клинок яростного противника,</p>
              <p class="poem">Как и меч его, не сможет разрезать он палки. </p>
              <p class=""><b><i>(Речи Высокого, 148)</i></b></p>
            `,
          },
          Os: {
            name: 'Os',
            ruName: 'Ос',
            description: `
              <p><b>Руна «Ос», os, as, ask, ast, ans, ase</b> - (Aс т.е. один из богов-асов.) рот, уста, могущество Слова; туз (Ass, Ace) появление; ветка, ясень (нем. Esche); прах (нем. Ashe).</p>
              <br />
              <p >Руна духовной речи, убеждения превосходством духовной силы над грубым и низким. Духовная сила, несомая Словом, рвет физические оковы и дарует свободу; пред ней склонятся все завоеватели, привыкшие побеждать одной лишь физической силой; она разрушит все тирании.</p>
              <p><b>Потому: «Сила твоего духа делает тебя свободным».</b></p>
              <br style="clear: both;"/>
              <p class="poem">Четвертое знаю, и если недруг</p>
              <p class="poem">свяжет меня по рукам и ногам:</p>
              <p class="poem">я песню спою, и оковы</p>
              <p class="poem">Ксами спадут с рук и ног.</p>
              <p class=""><b><i>(Речи Высокого, 149)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="symbol" points="42.13,71.05 86.63,44.88 147.1,9.86 135.88,1.92 137.54,-13.26 14.52,59.03 14.52,59.04 7.23,54.8 -0.81,65.93 -0.21,66.3 -5.82,69.05 186.97,182.98 79.8,247.1 115.95,255.75 209.44,200.38 211.97,201.54 237.62,183.92"/>
             `
          },
          Rit: {
            name: 'Rit',
            ruName: 'Рит',
            description: `
              <p><b>Руна «Рит». Rit, reith, reid, rath, roth, raoth, ruoth</b> - Rita (космический , вселенский  священный закон); совет, рассказ, разгадка (нем.  Rath); красный (нем. Roth); колесо (нем. Rad); прут, жезл; правая сторона. Правда, справедливость (нем. Recht) и т.д.</p>
              <br />
              <p >Трижды священная Rita, солнечное колесо. Возвышенным интроспективным сознанием (Innerlichkeitsgefuehl) или субъективность осознания собственных богов, ибо «внутреннее» <i>(«то, что находится внутри», «то, что подлинно»)</i> как раз и есть «жизнь с самим собой», а быть с самим собой значит быть и с богом. Основа гордого пренебрежения к смерти, основа  безграничной веры во Всевышнего и в самих себя, которая так чудесно выражается словом «Rita». И потому эта руна гласит: «Я - мое rod («право», «честность», «справедливость») это rod неразрушимо, потому что я сам - мое rod».</p>
              <p><b>И потому эта руна гласит: «Я - мое rod («право», «честность», «справедливость») это rod неразрушимо, потому что я сам - мое rod».</b></p>
              <br style="clear: both;"/>
              <p class="poem">И пятое знаю, если враг </p>
              <p class="poem">пустить стрелу в войско мое;</p>
              <p class="poem">Как бы ясно она не звенела,</p>
              <p class="poem">покорно падет под взглядам моим.</p>
              <p class=""><b><i>(Речи Высокого, 150)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="symbol" points="116.98,-23.59 116.98,-0.37 289.03,99.64 276.82,120.64 116.98,27.72 116.98,253.93 92.48,271.8 92.48,-8.71"/>
             `
          },
          Ka: {
            name: 'Ka',
            ruName: 'Ка',
            description: `
              <p><b>Руна «Ка». Ka, kaun, kan, kun, kuna, kien, kiel, kon.</b> Смелый, уверенный (нем. Kuhn); никто, ничто (нем. kein) etc.</p>
              <p >Понятие, которое символически изображает руна, описывает принцип женственности как источник размножения Всего и чистоты его порождения. Племя должно хранить свою чистоту; племя не должно «зарастать» корнями чужого древа. Если же это и произойдет, то не принесет «чужим деревьям» никакой пользы, ибо «побег от чужого корня» вырастет, чтобы стать яростным и сильным врагом чужого древа.</p>
              <p><b>Потому: «Твоя кровь - высшее из того, что ты имеешь».</b></p>
              <br style="clear: both;"/>
              <p class="poem">Я знаю шестое, и если задумает кто</p>
              <p class="poem">отравить меня соком кореньев;</p>
              <p class="poem">не причинит мне вреда, но его самого</p>
              <p class="poem">это несчастье постигнет. </p>
              <p class=""><b><i>(Речи Высокого, 151)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="symbol" points="129.03,134.56 301.03,31.57 288.82,13.57 129.03,106.47 129.03,-18.59 116.75,-9.63 104.48,-18.59 104.48,106.47 -55.31,13.57 -67.52,31.57 104.48,134.56 104.48,261.93 104.52,261.95 104.52,276.8 116.75,269.38 128.98,276.8 128.98,261.95 129.03,261.93"/>
             `
          },
          Hagall: {
            name: 'Hagall',
            ruName: 'Хагал',
            description: `
              <p><b>Руна «Хагал». Hagal</b> - ограда Всего, приветствие. Hag-All, шепчущая Вселенная, аль-рауна, которая открывает все двери духа и познания, руна потоков Вселенной . Руна семи чувств, семи цветов, семи тонов – самая абсолютная и ключевая из всех рун.</p>
              <p >Hagal - самоуглубленное осознание, решимость ощущать Бога внутри себя, дает уверенность в магической  силе собственного духа, которая живет во всех людях. Избранный, наделенный этим осознанием  без сомнений, контролирует и духовную, и физическую составляющие жизни и чувствует себя всемогущим.</p>
              <p><b>Потому: «Вмести в себя Bсё, тогда Всё подчинится твоему контролю».</b></p>
              <br style="clear: both;"/>
              <p class="poem">Седьмое познал я : если в зале,</p>
              <p class="poem">Полном людей, полыхает огонь,</p>
              <p class="poem">Сколь бы сильно не было пламя,</p>
              <p class="poem">я усмирю его, напев заклинанья </p>
              <p class=""><b><i>(Речи Высокого, 152)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="symbol" points="341.1,238.44 137.97,129.8 302.03,31.57 289.82,13.57 129.98,106.49 129.98,-0.71 105.48,-18.59 105.48,261.93 129.98,276.8 129.98,152.2 313.78,251.62"/>
             `
          },
          Nauth: {
            name: 'Nauth',
            ruName: 'Нот',
            description: `
              <p><b>Руна «Нот». Nauth, naut, noth</b>- необходимость, нужда, поворота (нем. not);   руна Норн, прядущих нити прошлого, настоящего и будущего; принуждение судьбы.</p>
              <p>«Руна Нужды цветет на ногте Норны!» Это не «нужда» в современном значении слова (нищета), но - необходимость, неизбежность судьбы, назначенной Норной согласно первичным законам. Именно так должна пониматься причинная связь всех явлений. Только тот, кто сумел осознать первопричины явления, только тот, кто достиг понимания основных законов эволюции и того, что из этих законов следует, - только тот может оценить и последствия событий, как только они начнут проявляться.</p>
              <p><b>Потому: «Используй свою судьбу, а не борись с ней».</b></p>
              <br style="clear: both;"/>
              <p class="poem">Усвоил я восьмое, всем людям</p>
              <p class="poem">знать его было б полезно;</p>
              <p class="poem">Коль ненависть вспыхнет меж двух из них,</p>
              <p class="poem">смогу я быстро ссору уладить. </p>
              <p class=""><b><i>(Речи Высокого, 153)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <path class="symbol" d="M289.03,25.57l-12.21-21l-75.27,43.76L116.98-0.49v-19.22L92.48-37.59v22.95L59.6-33.62L47.34-12.4 l45.14,26.06v232.27l24.51,14.87V125.59l6.75-3.93L237.1,235.02l17.33-17.33L145.65,108.92L289.03,25.57z M177.13,62.53l-60.14,34.96V27.81L177.13,62.53z"/>
             `
          },
          Is: {
            name: 'Is',
            ruName: 'Ис',
            description: `
              <p><b>Руна «Ис». Is</b> - лед (нем. Eis); Ich (азъ) железо (нем. Eisen). Позитивная мужская руна самообладания. Обладевший внутренне над этой руной, обретает полную власть над собой и другими.</p>
              <p>«Не признающее сомнений осознание личной духовной силы» связывает волны*  - они становятся твердыми, как лед. * По фон Листу волны (нем. Wellen) - символ воли (нем. Wille); примечательно, что и в русском языке слова «воля» и «волна» выглядят однокоренными.</p>
              <p><b>Потому: «Добейся власти над собой, тогда все, что противостоит тебе в духовном и физическом мире, будет в твоей власти».</b></p>
              <br style="clear: both;"/>
              <p class="poem">Спою я девятое, когда море принудит меня</p>
              <p class="poem">от волн защитить свой корабль.</p>
              <p class="poem">Шторм успокою как успокою и море,</p>
              <p class="poem">и заставлю волны уснуть. </p>
              <p class=""><b><i>(Речи Высокого, 154)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <path class="symbol" d="M128.6,151.22V-0.85h-23.24v153.37l-32.4,21.75v51.54l44.72,26.53l47.75-27.79v-50.02L128.6,151.22z M141.7,210.2l-23.24,13.52L96.7,210.81v-25.08l21.5-14.42l23.5,14.54V210.2z"/>
             `
          },
          Ar: {
            name: 'Ar',
            ruName: 'Ар',
            description: `
              <p><b>Руна «Ар». Ar</b> - орел, Солнце; изначальный огонь (Urfyr); арий, высокородный,  Арман и т.д.</p>
              <p>Руна света, солнца,  разрушающего как физическую, так и духовную тьму, сомнения и неуверенность, любую магическую силу и нечисть. В знаке Аr дети солнца , Арии - заложили основу своих законов, иероглиф которого - орел (Ааr). Он приносит себя в жертву, он предает себя смерти в пламени, чтобы возродиться вновь. Поэтому он и был назван «Fanisk», а позже - Феникс.  Поэтому, несмотря на все препятствия, создаваемые силами тьмы, несмотря на все то, что склоняет голову перед Аr:</p>
              <p><b>«Чтите изначальный огонь?»</b></p>
              <br style="clear: both;"/>
              <p class="poem">Десятое я применю, если колдуньи</p>
              <p class="poem">пронесутся сквозь воздух в полете.</p>
              <p class="poem">Я сделаю так, что в смятении они отрекутся</p>
              <p class="poem">от насилия и разрушений.</p>
              <p class=""><b><i>(Речи Высокого, 155)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <path class="symbol" d="M282.14,103.67V80.43H178.06v0.13l-39.51,32.51H90.02L50.34,80.42l-0.05,0.06v-0.05H-53.8v23.24h76.46v42.76
                H-53.8v23.24H50.29v-0.06l40.48-33.31h46.75l40.49,33.31l0.05-0.06v0.11h104.08v-23.24h-72.46v-42.76H282.14z M67.94,124.99
                l-22.03,18.12v-36.25L67.94,124.99z M186.41,146.43l-25.92-21.33l25.95-21.35v42.67H186.41z"/>`
          },
          Sol: {
            name: 'Sol',
            ruName: 'Зиг',
            description: `
              <p><b>Руна «Зиг». Sol, sal, sul, sig, sigi</b> - Солнце; победа (нем. Sieg); спасение (нем. Неil); колон на (нем. Saule); учение (нем. Schule) посвященный в танцы теней (Salmane,Samane,Semnone) и т.д.</p>
              <p>«Sal и sig!» - Спасение и победа! (нем. Heil und Sieg). Это древнейшее арийское приветствие и боевой клич можно найти и в иной форме-в виде широко распространенного воодушевляющего призыва: «alaf sal fena!». Это стало символически изображаться одиннадцатым знаком Футарка, руной Победы: «Творческий дух должен победить!»</p>

              <br style="clear: both;"/>
              <p class="poem">Одиннадцатое служит, когда на бой</p>
              <p class="poem">друзей и любимых я провожаю;</p>
              <p class="poem">Я заклинаю щит, чтоб он выстоял  в схватке</p>
              <p class="poem">и блага повсюду его охраняло.</p>
              <p class=""><b><i>(Речи Высокого, 156)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <g class="symbol">
                <polygon points="129.31,109.18 129.31,-0.93 104.8,-15.81 104.8,6.41 -67.24,107.42 -55.03,128.42 104.8,35.5 104.8,109.18 36.9,109.18 36.9,133.68 104.8,133.68 104.8,261.71 129.31,279.58 129.31,133.68 198.33,133.68 198.33,109.18"/>
                <polygon points="163.08,163.6 163.08,183.78 180.55,193.87 198.03,183.78 198.03,163.6 180.55,153.51 "/>
              </g>`
          },
          Tyr: {
            name: 'Tyr',
            ruName: 'Тюр',
            description: `
              <p><b>Руна «Тюр». Tyr, tar, tur</b> - зверь (нем. Tier); Тюр, бог Солнца и войны; Tio, Zio, Ziu, Zeus (Зевс); «Tar-» - поворачивать, порождать, скрывать; отсюда - Tarnkappe, «сокровенная чаша».</p>
              <p>«Таr-» и означает и «порождать», и «жить», и «умирать»;  возрожденное молодое Солнце.  Каждый человек возвращается после каждой прожитой жизни в человеческий образ посредством возрождения, которое в равной степени и есть принесение себя в жертву. Также является руной Победы, и потому она вырезается на лезвиях мечей и наконечниках копий как символ, способный даровать победу.</p>
              <p><b>Должно быть сказано: «Не бойся смерти - она не может убить тебя».</b></p>
              <br style="clear: both;"/>
              <p class="poem">Двенадцатое пою я, если вижу</p>
              <p class="poem">повешенного на ветвях мертвеца;</p>
              <p class="poem">Со ствола сойдет он и ответствовать будет,</p>
              <p class="poem">как только я вырежу руны </p>
              <p class=""><b><i>(Речи Высокого, 157)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="symbol" points="104.98,-9.03 104.98,105.19 -67.06,205.2 -54.85,226.2 104.98,133.28 104.98,250.48 129.49,268.36 129.49,5.84"/>
             `
          },
          Bar: {
            name: 'Bar',
            ruName: 'Бар',
            description: `
              <p><b>Руна «Бар». Bar, beork, biork</b> - рождение (нем. Geburt); песня (bar); смерть, похоронные дроги  (нем. Bahre) </p>
              <p>Руна жизни и смерти всего рожденного. В руне Песни воплощается духовная жизнь Всего, вечная жизнь, в которой человеческая жизнь между рождением и смертью - всего лишь день. Эта вечная жизнь – триединство прошлого , настоящего и будущего духа , души и тела. </p>
              <p><b>И потому: «Жизнь наша в руках бога, так вверьте ему ее».</b></p>
              <br style="clear: both;"/>
              <p class="poem">Я произношу тринадцатое, кропя сына</p>
              <p class="poem">юного освященный водой;</p>
              <p class="poem">Если встанет когда- то он перед врагом - не падет,</p>
              <p class="poem">Не будет клинка, что повергнет его.</p>
              <p class=""><b><i>(Речи Высокого, 158)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="symbol" points="115.98,125.49 115.98,90.59 288.03,-9.43 275.82,-30.43 115.98,62.49 115.98,8.29 115.98,-54.71
              91.48,-72.59 91.48,-9.59 91.48,189.93 91.48,252.93 115.98,267.8 115.98,204.8 115.98,153.59 288.03,53.57 275.82,32.57"/>
            `
          },
          Laf: {
            name: 'Laf',
            ruName: 'Лаф',
            description: `
              <p><b>Руна «Лаф». Laf, lagu, logr, laug</b> - изначальный закон (нем. Urgesetz); море; жизнь (нем. Leben); проводник к высшему ; познание закона жизни, но падение и поражение от его неисполнения. Руна тонкого тела.</p>
              <p>Интуитивное знание сущности Всего, а потому -  опыта и законов природы,- образует основу священных учений , посвящения в Высшую жизнь. Эзотерические знания передаваемые когда-то посредством символики мифов, чтобы неискушенный взгляд народа, не привыкший к глубокому видению и восприятию, сумел разглядеть изначальные законы творения не глубже, чем физический взгляд может узреть глубины океана, а неопытный духовный взгляд - бесконечность Всего.</p>
              <p><b>Потому четырнадцатая руна гласит: «Сперва научись править судном, а уж потом берись переплыть море».</b></p>
              <br style="clear: both;"/>
              <p class="poem">Четырнадцатое пою я собранию народному,</p>
              <p class="poem">имена Богов называя;</p>
              <p class="poem">Асов и Альвов различных родов</p>
              <p class="poem">непросвещенный назвать не сможет</p>
              <p class=""><b><i>(Речи Высокого, 159)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
<polygon class="symbol" points="116.98,254.8 116.98,140.59 289.03,40.57 276.82,19.57 116.98,112.49 116.98,-4.71 92.48,-22.59
92.48,239.93"/>`
          },
          Man: {
            name: 'Man',
            ruName: 'Ман',
            description: `
              <p><b>Руна «Ман». Man</b> - человек, мужчина (нем. Mann); топ - Луна (нем. Mond) (та - мать; пустой или мертвый).</p>
              <p>Руна космического духовного зачатия. Знак, посвященный распространению, размножению человеческой расы, позитивной мужской силы. Первичное слово «mа»  - символ женского начала, символ продолжения рода, подобно тому, как первичное слово «fa» - символ мужского начала. («ma-ther» - мать, источник, и «fa-ther» отец, предок.)</p>
              <p> Руна охватывает понятия высокого таинства человеческой природы, и достигает своего зенита в предупреждении: «Будь человеком».</p>
              <br style="clear: both;"/>
              <p class="poem">Я знаю  пятнадцатое, что карлик</p>
              <p class="poem">утром ранним пел перед воротами дня,</p>
              <p class="poem">Асам – укрепление,  Альвам – силу,</p>
              <p class="poem">мне же, Всеотцу – мудрость.</p>
              <p class=""><b><i>(Речи Высокого, 160)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <g class="symbol">
              <polygon  points="276.82,31.57 116.98,124.49 116.98,-0.71 92.48,-10.59 92.48,251.93 116.98,266.8 116.98,152.59
              289.03,52.57"/>
              <polygon  points="168.03,70.78 168.03,50.6 150.55,40.51 133.08,50.6 133.08,70.78 150.55,80.87"/>
              </g>`
          },
          Yr: {
            name: 'Yr',
            ruName: 'Ир',
            description: `
              <p><b>Руна «Ир». Yr, Eur, Iris</b> - радуга; гнев, ошибка (нем.  Irren); поклон, изгиб и замешательство т.д.</p>
              <p>Представляет собой перевернутую руну Ман и означает «изгибание», нестабильность прибывающей и убывающей Луны - в противоположность полной Луне руны Ман. Потому она, во-первых, обращает наш взгляд к изменчивости Луны, а во-вторых, как руна Ошибки , вызывающая смятение, причинами которого могут быть иллюзии : страсть в любви, азарт в игре, или опьянение, или проблемы в общении и т.д. Быть может, она сама способна помочь преодолеть преграды именно посредством самого смятения. Но успех такой победы так же обманчив, как и победа сама по себе, - ибо она приносит гнев, дикую ярость и, в конечном счете, безумие. </p>
              <p><b>Потому она учит: «Подумай о том, что будет после».</b></p>
              <br style="clear: both;"/>
              <p class="poem">Говорю я  шестнадцатое пред девой достойной,</p>
              <p class="poem">Я покорю сердце девы прелестной,</p>
              <p class="poem">пробудив ее чувства и направив стремленья;</p>
              <p class="poem">и будут ко мне обращены ее помыслы </p>
              <p class=""><b><i>(Речи Высокого, 161)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
<polygon class="symbol" points="248.72,115.45 129.98,115.45 129.98,-3.28 104.09,-3.28 104.09,115.45 -14.65,115.45
-14.65,141.35 104.09,141.35 104.09,260.08 129.98,260.08 129.98,141.35 248.72,141.35"/>`
          },
          Eh: {
            name: 'Eh',
            ruName: 'Эх',
            description: `
              <p><b>Руна «Эх». Eh</b> - замужество, брак (нем. Ehe); лошадь; закон, право; суд и т.д.</p>
              <p>Руна замужества утверждает понятие прочной любви на основе брака как узаконенной связи между мужчиной и женщиной.  Замужество - основа народа, и потому Eh - понятие еще и законодательное, закон природы, где два «я» в чистой любви достигают высшей жизни.</p>
              <p><b>Потому: «Брак - корень ариев».</b></p>
              <br style="clear: both;"/>
              <p class="poem">Знаю семнадцатое, как мудрым законом</p>
              <p class="poem">две жизни любовью связать;</p>
              <p class="poem">И каждая согласна: и не одна дева</p>
              <p class="poem">меня не покинет после такого.</p>
              <p class=""><b><i>(Речи Высокого, 162)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
<polygon class="symbol" points="105.48,-16.65 105.48,6.57 -66.56,106.58 -54.36,127.58 105.48,34.66 105.48,260.87 129.98,278.74
129.98,-7.77"/>`
          },
          Ge: {
            name: 'Ge',
            ruName: 'Гибур',
            description: `
            <div class="${this.$style.geDescription}">
              <p><b>Руна «Гибур». Ge, gi, gifa, gibor</b> - дар (нем. Gebe), даритель (нем. Geber); бог (нем. Gott); Gea,  Geo (Земля); gigur, смерть и т.д.</p>
              <p>Первичное слово здесь - «gi» ; в нем заключена идея «появления», «дарения» (нем. geben - «дарить»), но оно также отражает и «жизнь» как дар (нем. Gebe - «дар»), и «смерть» -движение, переход к новому рождению (нем. gehen -  «идти»). символизирует, в свою очередь, и бога, воплощенного во Всём: в душе Всего, в душе мира и в душе человека. Она представляет собой символ объединения духа человеческой природы с богом, символ духа, который достигает знания как изнутри наружу, так и извне вовнутрь. Поэтому значение руны ближе всего по значению к  свастике.</p>
              <p>Различие между  руной Гибор и собственно свастикой заключается в том, что руна утверждает, что «человек возникает из бога и возвращается к нему», а древний символ констатирует существование «незримой связи человека и божества» - и потому можно уверенно сказать: «Человек, будь одним целым с богом!»</p>
              <br style="clear: both;"/>
              <p class="poem">Восемнадцатое узнал я, но никогда</p>
              <p class="poem">не узнают его ни жена и ни дева.</p>
              <p class="poem">Каждый хранит самое сокровенное при себе -</p>
              <p class="poem">и тут подходит к концу моя песня -</p>
              <p class="poem">Да будет это та, которую обниму я</p>
              <p class="poem">как жену и сестру.</p>
              <p class="poem">И вот я закончил высокую песню</p>
              <p class="poem">Здесь, в чертогах Высокого, </p>
              <p class="poem">нужную людям, не нужную Йотунам! </p>
              <p class="poem">Благо узнавшему! Благо сказавшему! </p>
              <p class="poem">Так бери на пользу себе Благо внимавшему! </p>
              <p class=""><b><i>(Речи Высокого, 164)</i></b></p>
          </div>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
<polygon class="symbol" points="288.69,100.07 116.65,0.06 116.65,-23.16 92.14,-14.28 92.14,272.23 116.65,254.36 116.65,28.15
200.77,77.05 200.77,233.05 225.27,233.05 225.27,91.3 276.48,121.07"/>`
          },
          Fa: {
            name: 'Fa',
            ruName: 'Фа',
            description: `
              <p ><b>Руна «Фа». Fa, feh, feo</b> - огненное рождение (нем. Feuerzeugung); собственность, имуще-ство, скот (нем. Vieh); расти, странствовать, разрушать (нем. fetzen).</p>
              <p >Корневое слово «fa», которое в данной руне есть понятий­ная основа таких слов, как «появление», «бытие», «дела­ние», «действие», «управление», а также - переход к но­вому рождению, - и потому оно символизирует мимолетность существования всего живого и ста­бильность эго в постоянных его трансформациях.</p>
              <br />
              <p >Посему, эта руна скрывает утешение скальдов; она гласит, что настоящие мудрецы живут для разви­тия будущего, и только дураки горюют над выс­казыванием:</p>
              <p ><b>«Сотвори себе счастье, и будешь счастлив»!</b></p>
              <br style="clear: both;"/>
              <p class="poem">Первое с готовностью помощь окажет в заботах, печалях и боли. </p>
              <p class="poem ">В изменении вечном пребывает человек от исчезновения к рождению вновь.</p>
              <p class=""><b><i>(Речи Высокого, 147)</i></b></p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="symbol" transform="scale(1.3) translate(10 30)" points="49.1,164.6 49.1,124.8 142.5,70.9 133.5,55.3 49.1,104 49.1,0 31.1,0 31.1,175 45.8,187.1 141.9,131.6 132.9,116 "/>`
          },
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

  .wheel {
    position: relative;
    display: block;
    max-width: 900px;
    min-width: 300px;
    height: 100vh;
    margin: 0 auto;
    z-index: 1;
  }
  #wheel-bg {
    fill: var(--background-color-primary);
    stroke: var(--wheel-color-bg);
    stroke-width: 5;
  }
  #card {
    #card-bg {
      filter: drop-shadow(-2px 2px 12px rgba(0, 0, 0, 0.25));
      fill: var(--background-color-secondary);
    }
    #card-frame {
      fill: var(--background-color-secondary);
      filter: drop-shadow(-2px 2px 12px var(--wheel-shadow));
    }
    .rune-name-ru {
      #card-title {
        fill: var(--background-color-secondary);
      }
    }
  }

  .trapezoid {
    fill: var(--background-color-secondary);
    filter: drop-shadow(-2px 2px 12px rgba(0, 0, 0, 0.15));
    &.active {
      fill: #97743A;
    }
  }

  .rune {
    &:hover {
      cursor: pointer;
    }
    .rune-hex {
      fill: var(--background-hex-color-primary);
      stroke-width: 2;
      stroke: var(--stroke-color);
      filter: drop-shadow(-2px 2px 5px rgba(black, 0.15));
    }
    #rune-symbol {
      //fill:url(#gradient-gold);
      fill: #CEA662;
    }
  }

  .poly25 {
    #filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    #filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0px 0px 50px #000);
    filter: drop-shadow(0px 0px 50px #000);
  }
  #flags {
    transform: translateY(8px);
    .flags-figure {
      fill: var(--background-hex-color-primary);
      filter: drop-shadow(-2px 2px 8px rgba(black, 0.25));
      stroke: var(--background-hex-color-primary);
      stroke-width: 6;
      stroke-linejoin: round;
    }
    .title-en-wrapper {
      x: 35%;
      y: 1.6%;
      width: 30%;
      height: 5%;
      .title-en {
        font-family: "Arial", serif;
        font-weight: normal;
        font-size: 1.6em;
        color: #CEA662;
        text-align: center;
        #text-transform: uppercase;
        user-select: none;
        margin-top: 0;
        letter-spacing: 0;
      }
    }
  }

  .link-group {
    cursor: pointer;
  }

  //.link-group .link-bg {
  //  fill: #6845bc;
  //}

  .link-group .link {
    color: #ffffff !important;
  }

  .link-group:active {
    filter: url(#inset-shadow);
  }

  .link-group .link-wrapper {
    x: 1%;
    y: 3.7%;
    width: 27.5%;
    height: 4%;
  }

  .link-group.home .link-wrapper {
    x: 71%;
  }

  .link {
    font-family: "Arial", serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0.8em;
    text-align: center;
    display: inline-block;
    width: 264px;
    &.about-rune-link {
      //font-weight: normal;
      //letter-spacing: 0.1em;
     }
  }

  .arrow {
    cursor: pointer;
  }

  //.arrow .bg:hover {
  //  fill: #6845bc;
  //}

  .arrow:active {
    //color: #6845bc;
    filter: url(#inset-shadow);
  }

  .description-wrapper {
    x: 23%;
    y: 52%;
    width: 55.5%;
    height: 33%;
    cursor: pointer;
  }

  .description {
    font-family: 'Arial', serif;
    font-size: 1rem;
    height: 180px;
    overflow: hidden;
    padding: 0.5rem;
    user-select: none;
    //word-wrap: break-word;
    margin-bottom: 10px;
    color: var(--text-primary-color);
  }

  .readmore {
    width: 100%;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.3rem;
    user-select: none;
    text-transform: uppercase;
    color: #CEA662;
  }

  @media screen and (max-width: 500px) {
    .description {
      font-size: 1.5rem;
    }

    .readmore {
      font-size: 1rem;
    }
  }

  .link-group {
    cursor: pointer;
    user-select: none;
  }

  //.link-group .link-bg {
  //  fill: #6845bc;
  //}

  .link-group .link {
    color: #ffffff !important;
  }

  .link-group:active {
    filter: url(#inset-shadow);
  }

  .title-ru {
    width: 41%;
    height: 3%;
    x: 30%;
    y: 48.5%;
  }

  .title-ru-wrapper {
    width: 100%;
    line-height: 2em
  }

  .title-ru-wrapper span {
    padding: 1px;
  }

  .title-ru .name {
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 1.4em;
    color: #CEA662;
    #text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: inline-block;
    user-select: none;
    padding-top: 4px;
  }

  .button:hover .link {
    color: #ffffff !important;
  }

  .button:active {
    filter: url(#inset-shadow);
  }

  .button:active .link {
    font-size: 1.29rem;
  }

  .st0 {
    fill: #6A7883;
  }

  .st1 {
    fill: #FFFFFF;
  }

  .st2 {
    fill: #7D57D2;
  }

  .st3 {
    fill: #98A1A5;
  }

  .st4 {
    fill: #B3B3B3;
  }

  .st5 {
    clip-path: url(#SVGID_2_);
  }

  .st6 {
    clip-path: url(#SVGID_4_);
    fill: #354C5C;
  }

  .st7 {
    clip-path: url(#SVGID_6_);
    fill: #354C5C;
  }

  .st8 {
    clip-path: url(#SVGID_8_);
    fill: #354C5C;
  }

  .st9 {
    clip-path: url(#SVGID_10_);
    fill: #354C5C;
  }

  .st10 {
    clip-path: url(#SVGID_12_);
    fill: #354C5C;
  }

  .st11 {
    clip-path: url(#SVGID_14_);
    fill: #354C5C;
  }

  .st12 {
    clip-path: url(#SVGID_16_);
    fill: #354C5C;
  }

  .st13 {
    fill: #354C5C;
  }

  .st14 {
    clip-path: url(#SVGID_18_);
    fill: #354C5C;
  }

  .st15 {
    clip-path: url(#SVGID_20_);
    fill: #354C5C;
  }

  .st16 {
    clip-path: url(#SVGID_22_);
    fill: #354C5C;
  }

  .st17 {
    clip-path: url(#SVGID_24_);
    fill: #354C5C;
  }

  .st18 {
    clip-path: url(#SVGID_26_);
    fill: #354C5C;
  }

  .st19 {
    clip-path: url(#SVGID_28_);
    fill: #354C5C;
  }

  .st20 {
    clip-path: url(#SVGID_30_);
    fill: #354C5C;
  }

  .st21 {
    clip-path: url(#SVGID_32_);
    fill: #354C5C;
  }

  .st22 {
    clip-path: url(#SVGID_34_);
  }

  .st23 {
    clip-path: url(#SVGID_36_);
    fill: #354C5C;
  }

  .st24 {
    fill: #224B5C;
  }

  .st25 {
    enable-background: new;
  }

  .st26 {
    fill: #36265B;
  }

  .st27 {
    fill: #6546AA;
  }

  .st28 {
    fill: #2C1659;
  }

  .st29 {
    fill: #5229A5;
  }

</style>


<style module>
  .geDescription {
    background-repeat: no-repeat;
    background-image: url(../assets/img/ge.svg);
    background-position: 100% 95%;
  }
</style>
