<template>
  <svg  :height="height || '17%'" x="0.5%" y="30%" viewBox="0 0 170.9 187.1">
    <polygon v-if="name === 'Ur'" class="theme-point" points="44.9,0.3 31.5,14.1 31.5,17.1 31.5,22.1 31.5,117.1 31.5,187.1 49.5,187.1 49.5,117.1
	49.5,24.1 124.5,66.1 124.5,164.1 142.5,164.1 142.5,55.1 "/>
    <path v-if="name === 'Thorn'" class="theme-point" d="M142,94.1L50.5,41.1v-41h-0.8H32.5h-0.9v170.5l-0.1,16.5h19v-40.2L142,94.1z M105.9,94.1L105.9,94.1
	l-55.4,32.1V62L105.9,94.1z"/>
    <polygon v-if="name === 'Os'" class="theme-point" points="127.8,0 31.7,55.5 40.7,71.1 124.5,22.5 124.5,60.3 31.1,114.2 40.1,129.8 124.5,81.1
	124.5,187.1 142.5,187.1 142.5,12.1 "/>
    <path v-if="name === 'Rit'" class="theme-point" d="M133.9,138.1L63.9,93.9L115.4,61l0.1,0.1l18.1-11.3L44.5,0.1l-13,14v3v100v70h18v-70v-11l74.8,47.2
	L133.9,138.1z M49.5,80.4V24.1l47.3,26.5L49.5,80.4z"/>
    <polygon v-if="name === 'Ka'" class="theme-point" points="170.9,54.3 161.9,38.7 94.5,77.6 94.5,0.1 76.5,0.1 76.5,187.1 94.5,187.1 94.5,98.4 "/>
    <polygon v-if="name === 'Hagall'" class="theme-point" points="170.9,54.3 161.9,38.7 94.5,77.6 94.5,0.1 76.5,0.1 76.5,77.6 9,38.7 0,54.3 67.5,93.2
	0,132.2 9,147.8 76.5,108.8 76.5,187.1 94.5,187.1 94.5,108.8 161.9,147.8 170.9,132.2 103.5,93.2 "/>
    <polygon v-if="name === 'Nauth'" class="theme-point" points="170.9,132.2 94.5,88 94.5,0.1 76.5,0.1 76.5,77.6 9,38.7 0,54.3 76.5,98.4 76.5,187.1
	94.5,187.1 94.5,108.8 161.9,147.8 "/>
    <rect v-if="name === 'Is'" x="76.5" y="0.1" class="theme-point" width="18" height="187"/>
    <polygon v-if="name === 'Ar'" class="theme-point" points="76.5,0.1 76.5,88 0,132.2 9,147.8 76.5,108.8 76.5,187.1 94.5,187.1 94.5,0.1 "/>
    <polygon v-if="name === 'Sol'" class="theme-point" points="49.5,103.5 49.5,0.1 31.5,0.1 31.5,114.1 31.5,124.1 31.5,135.1 124.5,81.4 124.5,187.1
	142.5,187.1 142.5,71.1 142.5,62.1 142.5,49.1 "/>
    <polygon v-if="name === 'Tyr'" class="theme-point" points="170.4,49.2 86,0.4 85.7,0.9 85.4,0.4 1,49.2 10,64.8 76.5,26.4 76.5,187.1 94.5,187.1
	94.5,26.1 161.4,64.8 "/>
    <path v-if="name === 'Bar'" class="theme-point" d="M115.4,126.1L64.5,93.6L115.4,61l0.1,0.1l18.1-11.3L44.5,0.1l-13,14v56v47v56l13,14l89.1-49.7
	L115.4,126.1L115.4,126.1z M49.5,24.1l47.3,26.5L49.5,80.4V70.1V24.1z M49.5,117.1v-10.3l47.3,29.8L49.5,163V117.1z"/>
    <polygon v-if="name === 'Laf'" class="theme-point" points="142.5,55.1 133.4,50.1 133.5,50.1 44.5,0.1 31.5,14.1 32.1,14.4 31.5,15.1 31.5,17.1
	31.5,118.1 31.5,187.1 49.5,187.1 49.5,118.1 49.5,25 132.5,71.1 "/>
    <polygon v-if="name === 'Man'" class="theme-point" points="170.9,54.3 161.9,38.7 94.5,77.6 94.5,0.1 76.5,0.1 76.5,77.6 9,38.7 0,54.3 76.5,98.4
	76.5,187.1 94.5,187.1 94.5,98.4 "/>
    <polygon v-if="name === 'Yr'" class="theme-point" points="170.9,132.2 94.5,88 94.5,0.1 76.5,0.1 76.5,88 0,132.2 9,147.8 76.5,108.8 76.5,187.1
	94.5,187.1 94.5,108.8 161.9,147.8 "/>
    <polygon v-if="name === 'Eh'" class="theme-point" points="170.9,54.3 161.9,38.7 94.5,77.6 94.5,0.1 76.5,0.1 76.5,88 0,132.2 9,147.8 76.5,108.8
	76.5,187.1 94.5,187.1 94.5,98.4 "/>
    <polygon v-if="name === 'Ge'" class="theme-point" points="125.1,0.9 111.3,12.5 143.5,50.8 88,82.7 30,13.6 16.2,25.2 72.2,91.9 17,123.6
	16.9,123.6 16.5,123.9 1.2,132.7 3.1,135.1 3.1,135.1 46.8,187.2 60.6,175.7 28.6,137.5 83.8,105.7 141.9,175 155.7,163.4
	99.6,96.6 170.6,55.7 168.5,53.2 "/>
    <polygon v-if="name === 'Fa'" class="theme-point" points="49.1,164.6 49.1,124.8 142.5,70.9 133.5,55.3 49.1,104 49.1,0 31.1,0 31.1,175 45.8,187.1
	141.9,131.6 132.9,116 "/>
  </svg>

</template>

<script>
  export default {
    name: "ArmanicRunes",
    props: {
      name: String,
      height: String
    }
  }
</script>

<style scoped>
  .theme-point {
    fill: #CEA662;
  }
</style>
