<template>
<!--  <svg class="button"-->
<!--       :x="x" :y="y"-->
<!--       width="250px"-->
<!--       height="40px"-->
<!--       viewBox="0 0 250 40">-->
<!--    <g class="group">-->
<!--      <polygon class="bg" fill="#7D57D2" points="12,40.082 0,20 12,0 138,0 150,20 138,40 	"/>-->
<!--      <polygon fill="#635791" points="10.2,37 136,37 147,20 150,20 138,40 12,40 	"/>-->
<!--      <polygon fill="#917EB7" points="139.8,3 14,3 3,20 0,20 12,0 138,0"/>-->
<!--      <g id="text">-->
<!--        <foreignObject class="foreign-container" height="40" width="100%">-->
<!--          <slot name="link"></slot>-->
<!--        </foreignObject>-->
<!--      </g>-->
<!--    </g>-->
<!--  </svg>-->
  <svg class="button" :x="x" :y="y" width="312" height="44" viewBox="0 0 312 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="group">
      <path d="M12.6 43.5L0 21.7L12.6 0H299.4L312 21.7L299.4 43.5H12.6Z" fill="#C1A875"/>
      <path d="M301.3 3.3H14.7L3.2 21.7H0L12.6 0H299.4L301.3 3.3Z" fill="#E5D0A4"/>
      <path d="M10.7 40.2H297.3L308.8 21.7H312L299.4 43.5H12.6L10.7 40.2Z" fill="#97743A"/>
      <g id="text">
        <foreignObject class="foreign-container" height="40" width="100%">
          <slot name="link"></slot>
        </foreignObject>
      </g>
    </g>

  </svg>

</template>

<script>
  export default {
    name: "Button",
    props: {
      x: String,
      y: String,
      text: String
    }
  }
</script>

<style scoped>
  .button .group:hover .bg {
    fill: #806AAE;
  }

  .foreign-container .link{
    /*color: #cccccc !important;*/
    font-size: 1rem;
    font-weight: bold;
    margin-top: 6px;
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
  }

  .button .group:hover .link {
    color: #ffffff !important;
  }

  /*.button:active .group {*/
  /*  filter: url(#inset-shadow);*/
  /*}*/

  .button:active .link {
    font-size: 0.75rem;
  }

</style>
