<template>
  <svg x="162px" y="56px" width="222.078px" height="188.634px" viewBox="0 0 222.078 188.634">
    <defs>
      <filter id="blurMe">
        <feGaussianBlur in="SourceGraphic" stdDeviation="2"/>
      </filter>
      <filter id="glow">
        <feGaussianBlur class="blur" result="coloredBlur" stdDeviation="3"></feGaussianBlur>
        <feMerge>
          <feMergeNode in="coloredBlur"></feMergeNode>
          <feMergeNode in="coloredBlur"></feMergeNode>
          <feMergeNode in="coloredBlur"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
      </filter>
    </defs>
    <g class="rune" :class="{animate: name==='Fuhu'}">
      <polygon class="theme-point" fill="#3E4C5B" points="165.896,44.205 73.646,97.941 73.646,76.202 165.896,22.917 165.896,1.205
		73.646,54.941 73.646,1.205 55.49,13.205 55.49,187.43 73.646,175.43 73.646,119.202 165.896,65.917 	"/>
      <g class="flow">
        <line class="line s0" fill="none" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="60.438"
              y1="14.137" x2="60.438" y2="179.358"/>
        <line class="line s1" fill="none" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="67.764"
              y1="173.8" x2="67.764" y2="8.579"/>
        <line class="line s2" fill="none" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="73.828"
              y1="65.168" x2="161.238" y2="14.137"/>
        <line class="line s3" fill="none" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="161.238"
              y1="57.589" x2="73.828" y2="109.632"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Uruz'}">
      <polygon class="theme-point" fill="#3E4C5B" points="56.39,1.571 55.836,1.205 55.836,175.43 73.992,187.43 73.992,32.465
		148.086,75.382 148.086,176.133 166.242,187.43 166.242,85.898 166.242,66.982 166.242,64.994 	"/>
      <g class="flow">
        <line class="line s0" fill="none" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="60.602"
              y1="9.084" x2="60.602" y2="174.305"/>

        <line class="line s1" fill="none" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="156.691"
              y1="177.337" x2="156.691" y2="68.2"/>

        <line class="line s2" fill="none" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="156.564"
              y1="69.589" x2="67.133" y2="17.674"/>
        <line class="line s3" fill="none" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="68.133"
              y1="16.674" x2="67.133" y2="177.337"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Thurisaz'}">
      <path class="theme-point" fill="#3E4C5B" d="M184.188,94.369l-92.25-53.281V13.205l-18.156-12V175.43l18.156,12v-39.86L184.188,94.369
		z M148.133,94.317h0.014l-56.21,32.521V61.804L148.133,94.317z"/>
      <g class="flow">
        <line class="line s0" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="79.259"
              y1="10.368" x2="79.259" y2="175.042"/>

        <line class="line s1" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="86.459" y1="179.863"
              x2="86.459" y2="15.021"/>

        <line class="line s2" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="91.937" y1="51.779"
              x2="168.312" y2="94.321"/>

        <line class="line s3" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="91.937"
              y1="138.179" x2="168.312" y2="94.321"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Ansuz'}">
      <polygon class="theme-point" fill="#3E4C5B" points="165.917,118.487 73.667,65.226 73.667,32.208 165.917,85.641 165.917,64.737
		55.522,1 55.522,1.007 55.51,1 55.51,21.578 55.51,21.691 55.51,21.691 55.51,175.225 73.667,187.225 73.667,85.958
		165.917,139.391 	"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="63.722"
              y1="14.263" x2="63.722" y2="177.337"/>

        <line class="line s1" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="160.354"
              y1="70.689" x2="62.964" y2="15.916"/>

        <line class="line s2" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="160.354"
              y1="126.432" x2="63.722" y2="69.689"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Raitho'}">
      <path class="theme-point" fill="#3E4C5B" d="M177.187,166.321l-88.035-50.827l88.014-50.757L66.813,1v0.021L66.781,1v174.225
		l18.156,12v-53.433l92.25,53.433V166.321z M141.126,64.685L84.938,97.193v-65.01l56.175,32.501H141.126z"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="75.091"
              y1="177.337" x2="75.091" y2="12.747"/>
        <line class="line s1" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="172.48"
              y1="174.558" x2="74.712" y2="118.095"/>

        <line class="line s2" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="73.712"
              y1="113.274" x2="160.491" y2="62.688"/>

        <line class="line s3" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="74.712"
              y1="16.158" x2="160.491" y2="64.688"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Kenaz'}">
      <polygon class="theme-point" fill="#3E4C5B" points="158.563,19.914 29.984,94.286 30.041,94.317 29.984,94.348 158.563,168.721
		158.563,147.009 67.393,94.317 158.563,41.626 	"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="153.659"
              y1="32.832" x2="43.512" y2="94.317"/>

        <line class="line s1" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="153.659"
              y1="155.116" x2="43.512" y2="93.317"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Gebo'}">
      <polygon class="theme-point" fill="#3E4C5B" points="166.886,35.196 166.895,4.875 111.31,79.021 55.724,4.875 55.733,35.196
		99.903,94.237 55.724,153.167 55.724,183.785 111.31,109.484 166.895,183.785 166.895,153.167 122.717,94.237 	"/>
      <g class="flow">
        <line class="line s0" display="inline" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10"
              x1="60.438" y1="25.758" x2="160.733" y2="161.674"/>

        <line class="line s1" display="inline" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10"
              x1="60.438" y1="162.674" x2="160.733" y2="26.758"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Uunio'}">
      <path class="theme-point" fill="#3E4C5B"
            d="M184.167,64.877L75.41,2.063L73.802,1v174.225l18.156,12v-69.171L184.167,64.877z M148.113,64.825h0.014L91.958,97.322V32.336L148.113,64.825z"/>
      <g class="flow">
        <polyline class="line s0" fill="none" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" points="82.417,177.337
			82.417,113.147 165.775,64.642 82.417,16.663 82.417,99.526 		"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Hagalaz'}">
      <polygon class="theme-point" fill="#3E4C5B" points="147.76,1 147.76,94.315 73.667,51.241 73.667,13 55.51,1 55.51,175.225
		73.667,187.225 73.667,72.243 147.76,115.316 147.76,175.225 165.917,187.225 165.917,13 	"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="64.722"
              y1="13.632" x2="64.722" y2="174.811"/>

        <line class="line s1" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="158.206"
              y1="177.337" x2="158.206" y2="13.632"/>

        <line class="line s2" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="68.775"
              y1="54.547" x2="154.164" y2="104.063"/>

        <line class="line s3" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="154.164"
              y1="112.663" x2="68.775" y2="62.642"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Nauthiz'}">
      <polygon class="theme-point" fill="#3E4C5B" points="165.917,115.4 119.807,88.616 119.807,13.41 101.651,1.41 101.651,77.955
		55.51,51.379 55.51,71.768 101.651,98.783 101.651,175.634 119.807,187.634 119.807,109.524 165.917,136.27 	"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="107.714"
              y1="10.632" x2="107.714" y2="174.337"/>

        <line class="line s1" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="113.754"
              y1="179.358" x2="113.754" y2="15.653"/>

        <line class="line s2" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="60.438"
              y1="61.105" x2="161.743" y2="120.232"/>

        <line class="line s3" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="161.743"
              y1="127.432" x2="60.438" y2="69.211"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Isa'}">
      <polygon class="theme-point" fill="#3E4C5B" points="119.792,13.41 101.635,1.41 101.635,175.634 119.792,187.634 	"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="107.714"
              y1="10.632" x2="107.714" y2="174.337"/>

        <line class="line s1" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="113.754"
              y1="179.358" x2="113.754" y2="15.653"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Jera'}">
      <g display="inline">
        <polygon class="theme-point" fill="#3E4C5B" points="111.725,59.283 111.714,79.974 186.024,122.968 186.038,122.968 111.758,165.943 111.769,186.634
			222.078,123.02 		"/>
        <polygon class="theme-point" fill="#3E4C5B" points="111.672,22.281 111.661,1.59 1.307,65.327 111.616,128.941 111.627,108.25 37.348,65.275
			37.361,65.275 		"/>

        <g class="flow">

          <line class="line s0" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="105.659" y1="14.642" x2="19.259" y2="65.266"/>

          <line class="line s1" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="105.659" y1="115.705" x2="16.733" y2="64.266"/>

          <line class="line s2" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="116.775" y1="73.189" x2="204.88" y2="123.4"/>

          <line class="line s3" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="118.291" y1="173.295" x2="205.701" y2="122.959"/>
        </g>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Eihuaz'}">
      <polygon class="theme-point" fill="#3E4C5B" points="184.414,49.103 102.574,1.327 102.574,1.351 102.008,1 101.84,155.886
		37.664,118.423 37.664,139.36 118.836,186.392 120.101,187.225 119.77,32.13 184.403,69.677 	"/>

      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="42.501"
              y1="133.379" x2="111.039" y2="173.295"/>

        <line class="line s1" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="112.238"
              y1="176.337" x2="111.238" y2="15.663"/>

        <line class="line s2" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="111.039"
              y1="15.663" x2="178.417" y2="56.579"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Perth'}">
      <polygon class="theme-point" fill="#3E4C5B" points="73.84,138.501 73.052,50 112.039,72.992 168.385,39.333 168.374,18.759
		112.039,52.055 55.131,18.952 55.12,39.526 55.292,39.626 55.724,149.083 55.708,149.092 55.713,158.873 55.708,163.763
		55.716,163.758 55.719,169.667 112.039,137.169 167.708,170.241 167.719,149.667 112.039,116.232 	"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="67.754" y1="154.6" x2="67.754" y2="33.842"/>

        <line class="line s1" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="61.796" y1="29.368" x2="61.796" y2="159.968"/>

        <line class="line s2" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="60.943" y1="30.811" x2="112.164" y2="62.2"/>

        <line class="line s3" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="163.764" y1="31.842" x2="110.753" y2="62.147"/>

        <line class="line s4" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="60.438" y1="158.632" x2="111.039" y2="126.432"/>

        <line class="line s5" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="162.743" y1="157.632" x2="110.185" y2="126.432"/>

      </g>
    </g>
    <g class="rune" :class="{animate: name==='Algiz'}">
      <polygon class="theme-point" fill="#3E4C5B" points="184.414,51.984 184.403,31.41 120.102,68.656 120.102,2.41 101.945,14.41
		101.945,68.638 37.675,31.41 37.664,51.984 101.945,89.531 101.945,188.634 120.102,176.634 120.102,89.549 	"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="111.039" y1="174.811" x2="111.039" y2="12.621"/>

        <line class="line s1" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="41.491" y1="44.2" x2="110.964" y2="82.347"/>

        <line class="line s2" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="178.922" y1="44.453" x2="111.039" y2="82.853"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Souulo'}">
      <polygon class="theme-point" fill="#3E4C5B" points="186.56,85.239 161.628,85.239 161.628,85.239 161.628,85.239 87.387,85.239
		162.175,2.667 137.745,2.667 62.44,85.741 45.794,103.395 145.103,103.395 69.921,186 94.385,186 169.648,103.395 169.649,103.395
			"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="85.449" y1="181.379" x2="166.291" y2="93.716"/>
        <polyline class="line s1" fill="none" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" points="145.575,7.558
			65.722,94.495 167.785,94.495 		"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Teiuaz'}">
      <polygon class="theme-point" fill="#3E4C5B" points="184.414,44.268 111.039,1.41 37.664,44.268 37.675,64.843 101.945,27.615
		101.945,187.634 120.102,175.634 120.102,27.596 184.403,64.843 	"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="114.754"
              y1="173.295" x2="114.754" y2="8.626"/>

        <line class="line s1" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="108.185"
              y1="8.626" x2="108.185" y2="177.337"/>

        <line class="line s2" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="40.985"
              y1="51.526" x2="111.039" y2="9.626"/>

        <line class="line s3" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="111.039"
              y1="9.626" x2="178.922" y2="51.526"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Berkana'}">
      <path class="theme-point" fill="#3E4C5B"
            d="M95.781,93.14l71.345-41.145L74.898,0l0.125,186.157l92.12-51.801L95.781,93.14z M131.102,134.304l-37.923,21.941V112.37l37.91,21.933H131.102z M131.086,51.943L93.179,73.875V30.019l37.894,21.924H131.086z"/>

      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="82.417"
              y1="172.284" x2="82.417" y2="13.632"/>
        <polyline class="line s1" fill="none" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" points="79.417,11.632
			149.606,51.947 80.417,91.958 149.606,134.307 79.417,174.284 		"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Exuaz'}">
      <polygon class="theme-point" fill="#3E4C5B" points="184.395,1.428 184.395,1.41 111.031,43.767 37.667,1.41 37.667,1.417
		37.656,1.41 37.656,175.634 55.812,187.634 55.812,32.547 110.988,64.645 110.995,64.692 111.031,64.67 111.068,64.692
		111.075,64.645 166.266,32.538 166.266,187.634 184.422,175.634 184.422,1.41 	"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="45.912"
              y1="15.021" x2="45.912" y2="174.558"/>

        <line class="line s1" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="176.27"
              y1="174.558" x2="176.27" y2="15.021"/>

        <line class="line s2" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="45.154"
              y1="15.916" x2="111.039" y2="54.432"/>

        <line class="line s3" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="177.27"
              y1="14.916" x2="111.039" y2="54.432"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Mannaz'}">
      <g>
        <path class="theme-point" fill="#3E4C5B"
              d="M111.045,43.761L37.691,1.41l0.001,0.008L37.68,1.41v174.225l18.156,12v-91.11 l55.209-31.958l55.198,31.952v91.117l18.156-12V1.41L111.045,43.761z M55.836,75.635V32.608L93.05,54.15L55.836,75.635z M129.039,54.15l37.203-21.536v43.015L129.039,54.15z"/>
      </g>

      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="45.912"
              y1="16.158" x2="176.27" y2="92.705"/>

        <line class="line s1" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="45.912"
              y1="92.705" x2="176.27" y2="16.158"/>

        <line class="line s2" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="45.912"
              y1="13.884" x2="45.912" y2="174.558"/>

        <line class="line s3" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="176.27"
              y1="174.558" x2="176.27" y2="13.884"/>
      </g>
    </g>
    <g class="rune" :class="{animate: name==='Laguz'}">
      <polygon class="theme-point" fill="#3E4C5B" points="156.704,50.513 74.864,2.737 74.864,2.761 74.299,2.41 74.109,176.603
		92.392,188.634 92.06,33.54 156.693,71.087 	"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="83.049"
              y1="177.337" x2="83.049" y2="14.537"/>

        <line class="line s1" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="82.049"
              y1="13.263" x2="151.638" y2="54.189"/>

        <line class="line s2" fill="#FFFFFF" stroke="#009A22" stroke-width="3" stroke-miterlimit="10" x1="151.638"
              y1="62.147" x2="82.67" y2="21.979"/>
      </g>
    </g>
    <g id="Inguz" class="rune" :class="{animate: name==='Inguz'}">
      <g>
        <polygon fill="none" points="63.656,94 159.214,94 111.435,46.221"/>
        <polygon fill="none" points="112.438,21.541 124.276,33.38 124.273,33.383 172.143,81.252 172.219,81.177 185.042,94 188.052,94
			188.052,21.541 		"/>
        <polygon fill="none" points="50.727,81.252 98.596,33.383 98.594,33.38 110.432,21.541 31.833,21.541 31.833,94 37.828,94
			50.651,81.177 		"/>
        <path class="theme-point" fill="#3E4C5B" d="M185.042,94l-12.823-12.823l-47.945-47.794l0.003-0.003l-12.841-12.841l-1.003,1.003L98.594,33.38
			l0.003,0.003L50.651,81.177L37.828,94l12.823,12.823l47.945,47.794l-0.003,0.003l11.838,11.838l1.003,1.003l12.841-12.841
			l-0.003-0.003l47.945-47.794L185.042,94z M111.435,141.779L63.656,94l47.779-47.779L159.214,94L111.435,141.779z"/>
      </g>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="50.08" y1="94"
              x2="111.435" y2="155.989"/>

        <line class="line s1" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="50.08"
              y1="94.317" x2="111.435" y2="32.832"/>

        <line class="line s2" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="111.039"
              y1="32.832" x2="172.48" y2="94.317"/>


        <line class="line s3" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="111.039"
              y1="155.989" x2="172.163" y2="94"/>

      </g>
    </g>
    <g class="rune" :class="{animate: name==='Dagaz'}">
      <path class="theme-point" fill="#3E4C5B" d="M204.047,51.348l0.026-0.015l-0.011-20.691l-92.369,53.349L19.324,30.642l-0.006,11.435
		h-0.005l0.002,6.155l-0.002,3.101l0.003,0.001l0.025,93.42h0.021l0.007,13.239l92.325-53.243l92.325,53.243l0.007-12.339h0.049
		L204.047,51.348z M37.492,126.81L37.474,61.84l56.149,32.486h0.014L37.492,126.81z M129.762,94.326l56.132-32.476l0.018,64.969
		l-56.163-32.494H129.762z"/>
      <g class="flow">

        <line class="line s0" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="26.964" y1="45.716" x2="195.596" y2="142.173"/>

        <line class="line s1" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="26.964" y1="143.863" x2="195.596" y2="45.716"/>

        <line class="line s2" fill="#FFFFFF" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" x1="27.964" y1="45.716" x2="27.964" y2="143.863"/>

        <line class="line s3" fill="#FFFFFF" stroke="#EF0500" stroke-width="3" stroke-miterlimit="10" x1="195.596" y1="143.863" x2="195.596" y2="44.2"/>
      </g>
    </g>
    <g id="Ethel" class="rune" :class="{animate: name==='Ethel'}">
      <path class="theme-point" fill="#3E4C5B" d="M165.734,64.223l1.891-1.99L110.392,2L53.164,62.228l1.399,1.473l44.178,48.777l-44.179,48.045v24.963
		l55.586-60.577l55.586,60.577v-24.963l-44.179-48.045L165.734,64.223L165.734,64.223z M145.9,61.191l-35.752,38.881L75.101,61.957
		l35.29-36.275L145.9,61.191z"/>
      <g class="flow">
        <polyline class="line s0" fill="none" stroke="#4995CF" stroke-width="3" stroke-miterlimit="10" points="61.828,165.242
			156.701,61.877 109.764,14.263 63.722,62.877 159.354,166.242"/>
      </g>
    </g>
  </svg>

</template>

<script>
  export default {
    name: "FutarkRunes",
    props: {
      name: String,
      height: String
    }
  }
</script>

<style lang="scss" scoped>
  .rune {
    display: none;
    .flow {
      .line {
        stroke: white;
        stroke-width: 2;
      }
    }
    polygon {
      //fill: darkgrey;
    }
    .theme-point {
      //fill: var(--background-rune-color);
      fill: #CEA662;
    }
  }

  .rune.animate {
    display: inline-block;
  }

  .rune.animate .line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-opacity: 1;
    animation: fadeout 10s linear forwards, dash 10s linear forwards;
    #filter: url(#glow);
    //stroke-width: 3px;
  }

  .rune.animate .flow {
    filter: url(#glow);
  }

  .rune.animate .flow .s0 {
    animation-delay: 0s;
  }

  .rune.animate .flow .s1 {
    animation-delay: 1s;
  }

  .rune.animate .flow .s2 {
    animation-delay: 2s;
  }

  .rune.animate .flow .s3 {
    animation-delay: 3s;
  }

  .rune.animate .flow .s4 {
    animation-delay: 4s;
  }

  .rune.animate .flow .s5 {
    animation-delay: 5s;
  }

  .rune.animate .flow .s6 {
    animation-delay: 6s;
  }

  .rune.animate .flow .s7 {
    animation-delay: 7s;
  }

  .rune.animate .flow .s8 {
    animation-delay: 8s;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fadeout {
    from {
      stroke-opacity: 1;
    }
    to {
      stroke-opacity: 0;
    }
  }
</style>
