<template>
  <div class="wheel" @keyup.left="prev()" @keyup.right="next()">
    <!--<Loader></Loader>-->
    <svg width="100%" height="100%" viewBox="0 0 900 1000" style="margin: 0 20px; transform: translateX(-20px);">

<!--      <g transform="translate(325 10)">
        <polygon fill="#98A1A5" stroke="#98A1A5" stroke-miterlimit="10"
                 points="14.448,59.429 0.015,13.329 48.153,0.004 187.708,0.004 235.985,13.468 221.691,59.996 179.351,48.844 56.788,48.426 "/>
        <foreignObject class="title-en-name">
          <h1 v-if="selectedRune">
            {{selectedRune.name}}
          </h1>
        </foreignObject>
      </g>-->
      <g transform="translate(-30 10)">
        <g id="flags">
          <polygon class="flags-figure" fill="#6A7882" points="563.2,10.1 402.5,10.1 402.5,10.1 333.9,16.8 333.9,56.9 402.6,50.2 563.2,50.2 620.9,56.9
		620.9,16.8 	"/>
          <foreignObject class="title-en-wrapper">
            <h2 class="title-en">Старший Футарк</h2>
          </foreignObject>

        </g>
        <g id="menu">
          <g class="link-group back">
            <polygon class="link-bg" fill="#C1A875;"
                     points="24.6,84.5 11.9,62.7 24.6,41 263.3,41 275.9,62.7 263.3,84.5   "/>
            <polygon fill="#E5D0A4"
                     points="265.2,44.3 26.7,44.3 15.1,62.7 11.9,62.7 24.6,41 263.3,41   "/>
            <polygon fill="#97743A"
                     points="22.7,81.2 261.2,81.2 272.8,62.7 275.9,62.7 263.3,84.5 24.6,84.5   "/>
            <foreignObject class="link-wrapper">
              <a href="/#/" class="link">НАЗАД В МЕНЮ</a>
            </foreignObject>
          </g>
          <g class="link-group home">
            <polygon class="link-bg" fill="#C1A875;"
                     points="696.7,84.5 684,62.7 696.7,41 935.4,41 948,62.7 935.4,84.5   "/>
            <polygon fill="#E5D0A4"
                     points="937.3,44.3 698.8,44.3 687.2,62.7 684,62.7 696.7,41 935.4,41   "/>
            <polygon fill="#97743A"
                     points="694.8,81.2 933.3,81.2 944.9,62.7 948,62.7 935.4,84.5 696.7,84.5   "/>
            <foreignObject class="link-wrapper">
              <a href="/#/" class="link">НА ГЛАВНУЮ</a>
            </foreignObject>
          </g>
        </g>
      </g>

      <g class="wheel-wrapper" transform="translate(5, 95)">
        <polygon class="wheel-bg"
                 stroke-miterlimit="10"
                 transform="rotate(3.5 160 160), translate(0 12)"
                 :points="getPolygonPoints(runeNames.length, 460, 400, 457)"/>
        <template v-for="(name, index) in runeNames">
          <template>
            <g :key="'bg'+name" transform="rotate(10.5 400 370)">
              <polygon class="trapezoid"
                       :class="{active: runes[name].active}"
                       :key="name+index"
                       :transform="getTrapezoidTransform(index, runeNames.length, 400, 370, 395)"
                       points="0,0 110,0 96,100 12,100 "/>
            </g>
          </template>
          <template>
            <g :key="'rune'+name"
               class="rune"
               :transform="getRuneTransform(index, runeNames.length, 408, 385, 395)"
               @click="selectRune(runes[name])">
              <polygon :key="'hex'+ name"
                       class="hexagon"
                       fill="#B2B2B2"
                       stroke="#B2B2B2"
                       stroke-miterlimit="10"
                       points="213.413,184.99 106.911,246.376 0.499,184.836 0.587,61.91 107.089,0.524 213.501,62.064 "/>
              <path v-if="runes[name].path" class="symbol"
                    :key="'symbol'+name"
                    :d="runes[name].path"/>
              <template v-if="runes[name].paths">
                <path v-for="path in runes[name].paths"
                      class="symbol"
                      :key="'symbol-path'+ path"
                      :d="path"/>
              </template>

            </g>
          </template>
        </template>
      </g>
      <RuneCard :rune="selectedRune"
          list="FutarkRunes"
          x="17.5%"
          y="20%"
          @prev="prev($event)"
          @next="next($event)">
      </RuneCard>
    </svg>
    <b-modal>
      <ReadMoreModal :rune="selectedRune"></ReadMoreModal>
    </b-modal>

  </div>
</template>

<script>
  import ReadMoreModal from "@/components/ReadMoreModal";
  import FutarkRunes from "@/components/FutarkRunes";
  import RuneCard from "@/components/RuneCard";
  import Button from "@/components/Button";
  import { Subject } from "rxjs";
  import PostsService from "@/services/posts-service";
  import Loader from "@/components/ui/Loader";


  export default {
    name: "Futark",
    components: {Loader, ReadMoreModal, RuneCard, FutarkRunes, Button},
    props: {
      defaultRune: String
    },
    computed: {
      prevRune() {
        const names = Object.keys(this.runes);
        const prevIndex = names.indexOf(this.selectedRune.name.replace(/\s/g, '')) - 1;
        if (names[prevIndex]) {
          return this.runes[names[prevIndex]];
        } else {
          return this.runes[names[names.length - 1]];
        }
      },
      nextRune() {
        const names = Object.keys(this.runes);
        const nextIndex = names.indexOf(this.selectedRune.name.replace(/\s/g, '')) + 1;
        if (names[nextIndex]) {
          return this.runes[names[nextIndex]];
        } else {
          return this.runes[names[0]];
        }
      },
      runeNames() {
        return Object.keys(this.runes);
      },
      runeKeys() {
        return Object.keys(this.runes);
      }
    },
    created() {
      this.selectedRune = this.runes[this.defaultRune];
      this.runes[this.defaultRune].active = true;
      if (typeof window !== 'undefined') {
        document.addEventListener('keyup', this.keyPress)
      }
      this.swipeRuneSubscription = this.swipeRune$.subscribe((eventName) => {
        switch (eventName) {
          case 'next':
            this.next();
            break;
          case 'prev':
            this.prev();
            break;
          default:
            return;
        }
      });
    },
    methods: {
      setPost(id){
        this.loadingPost = true;
        return PostsService.getPost(id).then((response) => {
          this.selectedRune.description = response.data.content.rendered;
          this.loadingPost = false;
        });
      },
      readMore(event) {
        if (event) event.stopPropagation();
        this.modalInstance = this.$buefy.modal.open({
          parent: this,
          component: ReadMoreModal,
          hasModalCard: true,
          props: {
            order: 'Futark',
            rune: this.selectedRune,
            rune$: this.rune$,
            swipeRune$: this.swipeRune$,
            hasHeaderIcon: false,
            hasRuneSymbol: true
          }
        });
      },
      keyPress({keyCode}) {
        switch (keyCode) {
          case 37:
            this.prev();
            break;
          case 39:
            this.next();
            break;
          case 13:
            this.readMore();
            break;
          default:
            return;
        }
      },
      getPolygonPoints(numPoints, cx, cy, sideLength) {
        let result = ``;
        for (let i = 0; i <= numPoints; i++) {
          result += `${Math.round(cx + sideLength * Math.cos(i * 2 * Math.PI / numPoints))},${Math.round(cy + sideLength * Math.sin(i * 2 * Math.PI / numPoints))} `;
        }
        return result;
      },

      getRuneTransform(index, numPoints, cx, cy, sideLength) {
        const offset = 6.465;
        const x = Math.round(cx + sideLength * Math.cos((index - 7) * 2 * Math.PI / numPoints + offset));
        const y = Math.round(cy + sideLength * Math.sin((index - 7) * 2 * Math.PI / numPoints + offset));
        return `translate(${x}, ${y}), scale(0.35)`;
      },
      getTrapezoidTransform(index, numPoints, cx, cy, sideLength) {
        const x = Math.round(cx + sideLength * Math.cos((index - 7) * 2 * Math.PI / numPoints));
        const y = Math.round(cy + sideLength * Math.sin((index - 7) * 2 * Math.PI / numPoints));
        return `translate(${x}, ${y}), rotate(${index ? 360 / numPoints * index - 11 : -11} 55 50)`;
      },
      prev() {
        this.selectRune(this.prevRune);
        this.$emit('modal-content', this.selectedRune);
      },
      next() {
        this.selectRune(this.nextRune);
        this.$emit('modal-content', this.selectedRune);
      },
      selectRune(rune) {
        this.selectedRune = rune;
        for (let name in this.runes) {
          this.runes[name].active = false;
        }
        rune.active = true;
      }
    },
    data() {
      return {
        loadingPost: false,
        swipeRuneSubscription: null,
        modalInstance: null,
        swipeRune$: new Subject(),
        rune$: new Subject(),
        selectedRune: null,
        runes: {
          Fuhu: {
            name: 'Fuhu',
            ruName: 'Феху',
            description: `
            <p><b>Архетип:</b> энергообмен</p>
            <p><b>Образ:</b> эскалатор</p>
            <p><b>Универсальная идея и функция в Мироздании:</b> любая локальная Система во Вселенной постоянно что-то отдаёт от своего Актива вовне, единовременно возмещая отчуждение  извне.</p>
            <p><b>Значение:</b> руна роста и сбалансированного энергообмена для естественного использования и увеличения любых ресурсов.</p>
            <p><b>Интерпретация:</b> актуальность и прирост (увеличение, преумножение, восполнение) Актива любого свойства (денег, силы, здоровья, энергии, отношений, клиентов и т.д.) на условиях честного обмена.</p>
            <p><b>Принцип:</b> для того, чтобы взять что-то для поддержания стабильности и развития, необходимо взамен взятого что-то отдать. Получение и накопление для преумножения требует справедливого отчуждения.</p>
            <p><b>Результат:</b> преумножаемое сохранение того, что есть, хоть в каком-то минимальном значении, и прирост желаемого ресурса.</p>
            <p><b>Правильное проявление в жизни:</b> покупатель расстаётся с соответствующей своему спросу суммой денег в обмен на получаемый от продавца товар.</p>
            <p><b>Неправильное проявление в жизни:</b> невыраженная благодарность за искренне совершенную любезность.</p>
            <p><b>Проявленность в энергоинформационном плане:</b> верхняя чакра, получая энергию от более Высших Аспектов, единовременно отдаёт информационный импульс в сознание.</p>
            <p><b>Созидательное воздействие:</b> через энергию руны Феху активируется или восстанавливается нормальный энергообмен с внешним миром. Настраивается соразмерная отдача из личных ресурсов того вида Актива, что прибывает в избытке (таланты, качество, знание, внимание, время, навык, терпение и т.д.), и получение за его стабильное проявление то, в чём есть нужда (признание, опыт, награда, деньги, слава и т.д.).</p>
            <p><b>Разрушительное воздействие:</b> через энергию руны к энергообмену подключается пагубный процесс, нарушая его, у человека из ресурсов утекает хорошее, а восполняется негодное.</p>
            <p><b>Воздействие на личные отношения:</b> через энергию руны балансируется обмен между партнёрами. Мужчина расстаётся с мужской ресурсностью, восполняясь энергетически с приростом от женщины, и наоборот.</p>
            <p><b>Воздействие на финансы:</b> При условии наличия хороших продуктов / товаров / услуг, которые бы удовлетворили потребности клиентов, бизнес получает клиентов, которые готовы платить деньги.</p>
            <p><b>Применение в жизни:</b> а) самореклама, раскачка и презентация собственных качеств или демонстрация полезных сторон явления в окружающем пространстве для привлечения ресурсов; б) актуализация договоренностей.</p>
            <p><b>Пример формулы:</b> <span class="formula">ᛉ ᚠ ᛉ</span> – защитная формула из 2 рун АЛЬГИЗ в ФЕХУ потоках любого неодушевленного предмета или живого существа;</p>
            <p>ᚠ ᛋ ᛟ ᚹ – формула, ведущая к успеху в материализации (ФЕХУ) через светлый коридор (СОУЛО – ВУНЬО) намерения в каком – либо деле (ОДАЛ);</p>
            <p>ᛖ ᚠ ᛋ ЭВАС ФЕХУ СОУЛО — толчок своему делу или шест преодоления преграды к нужному месту, разрушение препятствий на пути к новым начинаниям, «пролом» в стене.</p>
            <p>ᚠ < ᚷ ᛋ ФЕХУ КЕНАЗ ГЕБО СОУЛО — формула для новых начинаний, реализации идей, проектов и творческих планов.</p>
            `,
            active: false,
            path: ' M 106.41 0.00 L 106.77 0.00 C 107.29 21.03 106.82 42.09 107.02 63.14 C 125.44 52.61 143.65 41.72 162.09 31.21 C 169.54 35.81 177.10 40.24 184.45 45.00 C 158.89 60.41 133.01 75.37 107.17 90.32 C 106.79 101.57 107.08 112.85 107.02 124.12 C 142.72 103.88 178.34 83.48 214.00 63.17 L 214.00 89.80 C 178.37 110.54 142.66 131.14 107.01 151.85 C 106.80 183.23 107.39 214.64 106.71 246.00 L 106.36 246.00 C 99.43 241.07 90.79 237.30 83.15 232.88 C 83.11 159.65 82.95 86.41 83.00 13.17 C 90.73 8.76 99.36 4.91 106.41 0.00 Z',
            path_fixed: 'M149.874 44.1847L57.1778 98.1155V76.3222L149.874 22.7932V1L57.1778 54.9307V1L39 13.0516V188L57.1778 175.948V119.507L149.874 65.978V44.1847Z'
          },

          Uruz: {
            name: 'Uruz',
            ruName: 'Уруз',
            description: `
              <p><b>Значение:</b>  руна увеличение мощности любых источников энергии и самой энергии.</p>
              <p><b>Интерпретация:</b> увеличение мощности Актива любого рода – от предметов и тел до состояния, самочувствия  и событий. Наделение их природной силой (энергией, потенциалом). Если речь идёт о человеке – волевой, эмоциональный и психологический аспект. Результат действий и перемен от приложенных внутренних и внешних усилий.</p>
              <p><b>Принцип:</b> усиление природной энергии любой активной проявленности;  физический потенциал, заряженный силой духа. </p>
              <p><b>Результат:</b> волевые действия и психически приложенные усилия несут предвосхищаемые  перемены. </p>
              <p><b>Пример формулы :</b> <span class="formula">ᚢᛋᚠ</span> усиление физической силы, энергии, выносливости, где усилие воли (УРУЗ) через свет и радость (СОЛУ) даёт «вечный двигатель» честного энергообмена (ФЕХУ)</p>
            `,
            active: false,
            path: ' M 106.41 0.00 L 107.29 0.00 C 113.49 3.22 119.39 6.99 125.57 10.24 C 127.83 11.68 130.16 13.03 132.57 14.24 C 134.86 15.64 137.17 17.03 139.57 18.24 C 141.87 19.64 144.17 21.02 146.57 22.24 C 169.01 35.16 191.55 47.90 214.00 60.80 L 214.00 185.37 C 213.39 185.72 212.17 186.40 211.57 186.74 C 204.34 190.80 197.09 194.84 189.97 199.09 C 190.06 158.11 189.93 117.14 190.04 76.17 C 162.59 59.68 134.50 44.20 106.98 27.80 C 107.02 100.53 107.01 173.27 107.03 246.00 L 105.01 246.00 L 105.79 245.57 C 98.08 241.79 90.77 237.24 83.04 233.51 C 82.95 160.10 83.02 86.69 83.01 13.28 C 90.92 9.05 98.69 4.56 106.41 0.00 Z',
            path_fixed: 'M39.6026 0.401719L39 0V174.948L57.2782 187V31.4345L131.697 74.5188V175.651L149.874 187V85.0639V66.0827V64.0741L39.6026 0.401719Z'
          },
          Thurisaz: {
            name: 'Thurisaz',
            ruName: 'Турисаз',
            description: `
              <p><b>Значение:</b>  руна направленного во внешние источники  влияния энергии.</p>
              <p><b>Интерпретация:</b>  действенное влияние, увеличение влияния Актива любого рода для вклинивания,  лидерства и экспансии вне собственных границ.</p>
              <p><b>Принцип:</b> высвобожденное  экспансивное проникновение энергии в любую внешнюю среду, проявляя себя там, создаёт подобный себе порядок.</p>
              <p><b>Результат:</b> базовое качество определенной энергии отражает свойственную ей суть внутри инородной системы. </p>
              <p><b>Пример формулы:</b>  снятие жара и температуры  <span class="formula">ᚦ<ᛁᛃ</span> разрушаем, отсекаем (Турисаз) температуру (Кеназ) охлаждением тела (Иса) и зацикливаем процесс до полного снятия жара (Йера).</p>
            `,
            active: false,
            path: 'M 105.85 0.00 L 106.98 0.00 C 107.06 20.27 106.92 40.55 107.05 60.82 C 142.71 81.27 178.28 101.88 214.00 122.22 L 214.00 123.97 C 179.73 143.64 145.59 163.54 111.34 183.25 C 109.52 184.44 106.31 185.13 107.00 188.00 C 107.00 207.33 106.97 226.67 107.02 246.00 L 105.77 246.00 L 106.00 245.99 C 98.48 241.08 90.36 237.15 82.81 232.28 C 83.13 227.52 82.98 222.76 83.00 218.00 C 83.01 151.67 82.98 85.35 83.01 19.02 C 82.99 17.25 82.90 15.48 82.82 13.71 C 90.29 8.81 98.47 5.04 105.85 0.00 M 107.14 88.17 C 106.88 111.43 106.96 134.72 107.10 157.98 C 126.96 146.47 146.86 135.01 166.72 123.51 C 166.70 123.28 166.66 122.83 166.64 122.61 C 146.79 111.16 126.93 99.72 107.14 88.17 Z',
            path_fixed: 'M149.975 93.6004L57.2782 40.0714V12.0516L39 0V174.948L57.2782 187V146.929L149.975 93.6004ZM113.72 93.5L57.2782 126.14V60.8604L113.72 93.5Z'
          },
          Ansuz: {
            name: 'Ansuz',
            ruName: 'Ансуз',
            description: `
              <p><b>Значение:</b> руна приёма и отдачи неискаженной информации в первозданном виде. Осознанность и возвышенность работы сознания.</p>
              <p><b>Интерпретация:</b> прием и отдача информации,  сообщённая работы Актива , наделенного Сознанием  со структурами внешнего Мира любого уровня. Возвышенное и вдохновленное получение Истиной информации, правильного руководства к действию и инсайтов через  осознанность и сонастройки чистого Сознания под информационную структуру любой изменчивой реальности.</b> </p>
              <p><b>Принцип:</b> энергия подстраиваемости под информационную структуру любой  внешней и внутренней среды на любых уровнях.</b>  </p>
              <p><b>Результат:</b> сонастроенное под  информационную структуру любой среды сознание получает истинный ответ на запрос, давая совершить правильный выбор.</b>  </p>
              <p><b>Пример формулы:</b> успешные переговоры: <span class="formula">ᚹᚷᚫᚷᚹ</span>  лёгкое восприятие (ВУНЬО),  при гармоничной (ГЕБО)  передаче информации (АНСУЗ) и далее то же самое в полиндромном отражении.  В связи с тем, что цель - успешные переговоры, АНСУЗ стоит в центре – как передача информации, ГЕБО – энергия партнерства и единства - в результате получаем то, к чему мы стремимся, ограничивая энергообмен конструктивного общения в границах позитива руны ВУНЬО.</b>  </p>
            `,
            active: false,
            path: ' M 106.23 0.00 L 106.81 0.00 C 142.40 20.95 178.42 41.19 214.00 62.15 L 214.00 90.10 C 178.44 69.24 142.70 48.67 107.01 28.05 C 107.04 39.30 106.89 50.55 107.08 61.81 C 142.57 82.50 178.46 102.55 214.00 123.19 L 214.00 151.09 C 178.44 130.25 142.71 109.68 107.01 89.06 C 107.02 141.37 106.92 193.69 107.07 246.00 L 106.46 246.00 C 99.06 240.94 90.72 237.45 83.09 232.77 C 82.94 159.59 82.95 86.40 83.08 13.22 C 90.71 8.65 98.67 4.68 106.23 0.00 Z',
            path_fixed: 'M149.874 118.005L57.2782 64.4758V31.334L149.874 84.9635V63.9737L39 0V20.6885V20.7889V174.948L57.2782 187V85.3652L149.874 138.995V118.005Z'
          },
          Raitho: {
            name: 'Raitho',
            ruName: 'Райдо',
            description: `
              <p><b>Значение:</b> руна эффективного перемещения любых источников и объектов до осознанно определенной цели.</p>
              <p><b>Интерпретация:</b> движение и перемещение любого Актива  (объектов, мыслей, идей, отношений)  в правильном, осознанном направлении. Мотивированная жизненная активность.</p>
              <p><b>Принцип:</b> активного целевого движения энергии в правильном направлении.</p>
              <p><b>Результат:</b> вектор пути в идеально предвосхищенный пункт без энергозатрат.</p>
              <p><b>Пример формулы:</b> открытие дорог, пути: <span class="formula">ᚱᛚᚱ</span>  РАЙДО – ЛАГУЗ - РАЙДО. Здесь РАЙДО – процесс двухстороннего движения и ЛАГУЗ - поток, ЛАГУЗ для того, чтобы запустить этот процесс в движение с помощью энергии руны РАЙДО и, вычищая его, увидеть правильный путь.</p>
            `,
            active: false,
            path: 'M 106.45 0.00 L 107.49 0.00 C 134.20 15.47 160.98 30.80 187.70 46.25 C 196.55 51.11 205.33 56.12 214.00 61.30 L 214.00 62.91 C 179.36 82.94 144.72 102.96 110.09 123.00 C 144.72 143.04 179.37 163.05 214.00 183.10 L 214.00 184.73 C 206.48 189.15 198.94 193.55 191.30 197.74 C 163.23 181.44 135.11 165.23 107.01 148.97 C 106.99 181.31 107.00 213.66 107.00 246.00 L 106.42 246.00 C 98.65 241.47 90.87 236.95 83.01 232.57 C 82.99 159.53 82.99 86.48 83.01 13.43 C 90.88 9.04 98.65 4.50 106.45 0.00 M 107.04 27.16 C 106.96 50.45 107.01 73.74 107.01 97.03 C 126.98 85.51 146.90 73.91 166.90 62.45 C 166.84 62.24 166.73 61.83 166.68 61.62 C 146.77 50.19 126.92 38.65 107.04 27.16 Z',
            path_fixed: 'M149.874 166.01L61.4962 114.992L149.874 63.9737L39 0V174.948L57.2782 187V133.371L149.975 187V166.01H149.874ZM113.619 63.9737L57.1778 96.6133V31.334L113.619 63.9737Z'
          },
          Kenaz: {
            name: 'Kenaz',
            ruName: 'Кеназ',
            description: `
              <p><b>Значение:</b> руна яркой, взрывной реализации энергии.</p>
              <p><b>Интерпретация:</b> озарение от яркой вспышки одержимой энергии  реализации и творения активом чего угодно, в том числе себя. Раскрытие как потенциал процесса притяжения, вбирания энергии. Творчество и создание нового в любой сфере. Оперативное осознание текущего процесса и следующего действия.</p>
              <p><b>Принцип:</b> достигнув максимального сжатия,  энергия притяжения и вбирания раскрывает весь свой потенциал.</p>
              <p><b>Результат:</b> энергия высвечивания, озарив теневые аспекты среды, создает новое в любой сфере, меняя ее структуру и влияя на протекающие процессы.</p>
              <p><b>Пример формулы:</b> улучшение  зрения, четкость восприятия объектов:   КАНО -СОУЛО- КАНО <span class="formula"><ᛋ<</span>. Здесь КАНО  символ прозрения, СОУЛО – символ дополнительного солнечного света, при котором начинаешь видеть объекты лучше и четче.</p>
            `,
            active: false,
            path: ' M 168.40 36.26 C 176.83 38.48 185.71 44.84 193.00 49.72 C 151.21 74.72 108.52 98.67 66.91 123.72 C 108.66 147.86 150.15 172.46 191.98 196.43 C 185.78 202.17 175.92 206.59 167.97 211.12 C 118.42 182.45 69.39 152.80 19.90 124.00 C 17.51 123.12 20.15 121.61 21.38 121.27 C 70.38 92.92 119.42 64.64 168.40 36.26 Z',
            path_fixed: 'M158.6 20L30 94.4L158.6 168.8V147.1L67.4 94.4L158.6 41.7V20Z'
          },
          Gebo: {
            name: 'Gebo',
            ruName: 'Гебо',
            description: `
              <p><b>Значение:</b> руна совмещения разных по параметрам энергий  в равные условия и параметры партнерства.</p>
              <p><b>Интерпретация:</b> равенство, партнерство  и равного действия параметров разных видов Активов в полной гармонизации. Слияние, совмещение через принятие,  скрещивание. Совмещение двух компонентов, где каждый из компонентов дает, то, что может дать получается единая система, где каждый из участников системы получает себе недостающий компонент.  Честное, гармонизирующее партнерство.</p>
              <p><b>Принцип:</b> совмещение двух разных компонентов, где каждый из которых, высвобождая в слиянии потенциал, трансформируется в единую систему и каждый из участников системы получает себе недостающий потенциал через равный энергоинформационный обмен. «Единство противоположностей»</p>
              <p><b>Результат:</b> через принятие и слияние в единстве двух разрозненных сил происходит гармонизация среды от неидентичных параметров в двусторонний, равноподдерживаемый баланс.</p>
              <p><b>Пример формулы:</b> «страсть & гармония» <span class="formula">ᛏᚷ<ᚷᛒ</span> ,где мужчина (ТЕЙВАЗ), гармонично и с пониманием на всех уровнях (ГЕБО), освещенный сиянием страсти и интереса (КАНО) , единится к противоположности гармонии(ГЕБО)  женщины (БЕРКАНО).</p>
            `,
            active: false,
            path: ' M 0.00 61.19 C 4.07 58.85 8.04 56.32 12.30 54.31 C 41.89 72.79 72.75 89.43 102.77 107.31 C 104.74 108.50 107.11 110.20 109.21 108.28 C 139.93 90.13 171.32 72.98 201.65 54.25 C 205.90 56.31 209.94 58.78 214.00 61.19 L 214.00 75.50 C 186.31 91.26 158.74 107.27 131.25 123.38 C 158.51 139.83 186.26 155.70 214.00 171.39 L 214.00 184.81 C 209.65 187.31 205.43 190.07 200.87 192.16 C 169.88 173.54 138.41 155.57 107.00 137.68 C 75.30 155.18 44.13 173.86 12.71 191.95 C 8.32 189.86 4.22 187.22 0.00 184.81 L 0.00 171.23 C 27.80 155.73 55.16 139.43 82.76 123.55 C 55.26 107.49 27.78 91.34 0.00 75.77 L 0.00 61.19 Z',
            path_fixed: 'M152.235 31.6719V0L94.1174 77.455L36 0V31.6719L82.2012 93.3432L36 155.015V187L94.1174 109.336L152.235 187V155.015L106.034 93.3432L152.235 31.6719Z'
          },
          Uunio: {
            name: 'Uunio',
            ruName: 'Вуньо',
            description: `
              <p><b>Значение:</b> руна зацикливания энергии и движения по петле.</p>
              <p><b>Интерпретация:</b> зацикливание чего – либо на чем- либо. Зацикленность внутреннего и внешнего состояния параметров (радость/вражда, больше/меньше, быстрее/медленнее и т.д. ) всех видов Активов (эмоция, сила, энергия, отношение и т.д.) Руна наполненностью безусловной радостью,  аккорды играющего в своё удовольствие эго, легкое восприятие жизни. «Стакан полностью полон».</p>
              <p><b>Принцип:</b> Зацикленное состояние в повторяемости действий, созданное на определенный, контролируемый отрезок времени.</p>
              <p><b>Результат:</b> прикладная энергия, не способная ничего создать, но динамично способная созданное запускать, снабжать инерцией и обновлять.</p>
              <p><b>Пример формулы:</b> «улыбка фортуны» <span class="formula">ᚹᛋᚹ</span>  одно за другим, удачные стечения обстоятельств (ВУНЬО),  выжигая преграды солнечной энергией (СОУЛО), приводят к реализации намерения.</p>
            `,
            active: false,
            path: ' M 105.54 0.00 L 108.22 0.00 C 143.16 20.89 178.86 40.62 214.00 61.21 L 214.00 61.72 C 178.61 82.80 142.50 102.83 107.17 123.91 C 106.94 164.59 106.79 205.32 107.25 246.00 L 105.81 246.00 C 98.48 240.90 90.24 237.22 82.82 232.24 C 83.11 159.42 83.11 86.58 82.83 13.75 C 90.11 8.74 98.49 5.30 105.54 0.00 M 107.27 26.28 C 106.76 49.43 106.95 72.66 107.18 95.82 C 126.95 84.27 147.74 73.14 166.67 60.98 C 147.52 49.15 126.94 37.93 107.27 26.28 Z',
            path_fixed: 'M149.874 64.1745L40.6069 1.10473L39 0V174.948L57.2782 187V117.503L149.874 64.1745ZM113.619 64.0741L57.2782 96.7137V31.4345L113.619 64.0741Z'
          },
          Hagalaz: {
            name: 'Hagalaz',
            ruName: 'Хагалаз',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 37.86 39.59 C 46.04 34.57 54.35 29.70 62.86 25.27 C 60.98 44.88 62.35 65.02 62.16 84.82 C 92.61 102.66 123.21 120.32 153.85 137.85 C 154.25 100.87 153.79 63.88 154.08 26.90 C 162.25 31.25 170.33 35.85 178.17 40.76 C 177.89 95.58 177.89 150.42 178.17 205.24 C 170.33 210.15 162.24 214.75 154.08 219.11 C 153.78 201.42 154.26 183.71 153.84 166.03 C 123.57 147.95 92.81 130.33 62.11 112.92 C 62.39 148.80 61.00 184.97 62.81 220.69 C 54.30 216.28 46.01 211.40 37.84 206.40 C 38.11 150.80 38.08 95.19 37.86 39.59 Z',
            path_fixed: 'M131.697 0V93.7009L57.2782 50.4157V12.0516L39 0V174.948L57.2782 187V71.5059L131.697 114.791V174.948L149.874 187V12.0516L131.697 0Z'
          },

          Nauthiz: {
            name: 'Nauthiz',
            ruName: 'Наутиз',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 105.64 0.00 L 108.15 0.00 C 111.58 2.64 115.66 4.24 119.14 6.80 C 118.95 39.56 118.84 72.36 119.18 105.11 C 136.96 116.33 155.84 126.17 173.80 137.22 C 174.17 146.37 174.12 155.58 173.81 164.74 C 155.55 154.35 137.45 143.67 119.20 133.25 C 118.83 168.55 118.95 203.89 119.14 239.20 C 115.76 241.79 111.60 243.18 108.37 246.00 L 105.88 246.00 C 102.44 243.35 98.36 241.75 94.87 239.18 C 95.03 199.21 95.19 159.20 94.79 119.25 C 76.80 108.47 58.45 98.26 40.39 87.61 C 39.53 78.46 40.12 69.13 40.09 59.92 C 58.56 69.93 76.36 81.23 94.89 91.13 C 95.06 63.03 95.10 34.92 94.86 6.82 C 98.25 4.21 102.43 2.85 105.64 0.00 Z',
            path_fixed: 'M149.874 114.49L103.576 87.5746V12.0516L85.3985 0V76.9291L39 50.2148V70.7025L85.3985 97.8185V174.948L103.576 187V108.564L149.874 135.48V114.49Z'
          },
          Isa: {
            name: 'Isa',
            ruName: 'Иса',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 105.65 0.00 L 108.14 0.00 C 111.59 2.61 115.64 4.25 119.14 6.80 C 118.91 84.26 118.91 161.74 119.14 239.20 C 115.74 241.79 111.61 243.20 108.36 246.00 L 105.89 246.00 C 102.43 243.37 98.36 241.74 94.86 239.18 C 95.09 161.73 95.09 84.27 94.86 6.82 C 98.25 4.22 102.42 2.84 105.65 0.00 Z',
            path_fixed: 'M103.278 12.0516L85 0V174.948L103.278 187V12.0516Z'
          },
          Jera: {
            name: 'Jera',
            ruName: 'Йера',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            paths: [
              ' M 0.00 96.09 C 35.34 74.71 70.99 53.85 106.81 33.28 C 107.13 42.46 107.15 51.69 106.82 60.87 C 86.59 73.50 64.50 84.26 45.10 97.56 C 65.59 109.56 86.28 121.24 106.73 133.31 C 107.33 142.50 106.95 151.77 106.91 160.99 C 70.78 140.65 35.51 118.83 0.00 97.44 L 0.00 96.09 Z',
              ' M 107.20 83.28 C 143.01 103.86 178.67 124.70 214.00 146.10 L 214.00 147.64 C 178.32 168.66 143.25 190.78 107.09 210.99 C 107.05 201.77 106.68 192.50 107.26 183.31 C 127.72 171.25 148.42 159.55 168.91 147.55 C 149.47 134.26 127.42 123.50 107.17 110.87 C 106.85 101.69 106.86 92.46 107.20 83.28 Z'
            ],
            path_fixed_array: ['M93.5 64.8673V82.3985L156.426 118.816L93.5847 155.149V172.68L187 118.816L93.5 64.8673Z',
            'M93.5 33.5312V16L0 69.9488L93.4153 123.813V106.366L30.4891 69.9488H30.5738L93.5 33.5312Z']
          },
          Eihuaz: {
            name: 'Eihuaz',
            ruName: 'Эйваз',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: 'M 105.58 0.00 L 107.58 0.00 C 142.94 20.61 178.46 40.96 214.00 61.28 L 214.00 89.29 C 178.06 69.43 142.89 48.09 107.08 27.97 C 107.09 100.64 106.68 173.35 107.29 246.00 L 105.89 246.00 C 70.86 225.15 35.28 205.18 0.00 184.74 L 0.00 156.86 C 26.97 172.64 54.23 187.96 81.05 203.95 C 82.69 206.17 83.20 203.54 83.05 202.01 C 82.81 139.25 83.26 76.49 82.82 13.74 C 90.14 8.75 98.49 5.27 105.58 0.00 Z',
            path_fixed: 'M167.33 48.3067L85.1788 0.301289V0.401719L84.5763 0L84.3754 155.566L20 117.904V138.995L101.448 186.197L102.754 187L102.453 31.2336L167.33 68.9952V48.3067Z'
          },
          Perth: {
            name: 'Perth',
            ruName: 'Перто',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 22.22 48.60 C 30.43 43.49 38.85 38.69 47.37 34.11 C 66.67 46.56 87.01 57.64 107.00 68.95 C 127.08 57.70 147.25 46.38 166.79 34.20 C 175.24 38.71 183.58 43.50 191.72 48.55 C 163.04 63.74 135.46 81.16 107.00 96.80 C 87.21 85.87 67.84 74.10 48.11 63.03 C 47.93 103.34 47.93 143.66 48.12 183.97 C 67.84 172.90 87.21 161.13 107.00 150.20 C 134.91 165.94 162.60 182.18 190.33 198.28 C 182.36 203.13 174.31 207.93 166.00 212.19 C 146.57 200.44 126.84 189.05 106.99 178.05 C 87.16 189.07 67.43 200.43 48.01 212.19 C 39.78 207.94 31.79 203.20 23.88 198.41 C 24.05 148.62 24.12 98.82 23.84 49.04 C 23.44 48.93 22.63 48.71 22.22 48.60 Z',
            path_fixed: 'M47.0971 147.846L46.2325 38.5363L94.2794 66.9445L163.941 25.3203V0L94.2794 41.1301L24 0.247029V25.5674L24.247 25.6909L24.7411 160.939V173.043V179.095V186.382L94.2794 146.24L163.077 187V161.68L94.2794 120.303L47.0971 147.846Z'
          },

          Algiz: {
            name: 'Algiz',
            ruName: 'Альгиз',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 105.32 0.00 L 108.68 0.00 C 111.76 2.59 115.66 3.86 118.90 6.18 C 119.20 38.81 118.83 71.44 119.06 104.07 C 147.78 88.72 175.95 71.68 204.19 55.26 C 207.55 57.03 211.10 58.67 214.00 61.18 L 214.00 77.90 C 182.14 95.61 150.94 114.48 119.17 132.33 C 118.70 168.18 119.23 204.06 118.93 239.91 C 115.41 241.75 111.76 243.40 108.72 246.00 L 105.32 246.00 C 102.24 243.41 98.34 242.14 95.10 239.82 C 94.72 203.98 95.34 168.11 94.82 132.29 C 63.13 114.30 31.68 95.71 0.00 77.74 L 0.00 61.18 C 2.90 58.69 6.42 57.01 9.79 55.30 C 38.15 71.52 66.23 88.70 94.94 104.07 C 95.17 71.44 94.80 38.81 95.10 6.18 C 98.34 3.86 102.24 2.59 105.32 0.00 Z',
            path_fixed: 'M167.33 49.8131V29.1246L102.754 66.5848V0L84.4758 12.0516V66.4844L20 29.1246V49.8131L84.4758 87.4742V187L102.754 174.948V87.4742L167.33 49.8131Z'
          },
          Souulo: {
            name: 'Souulo',
            ruName: 'Соуло',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 120.06 7.26 C 127.72 11.76 135.65 15.87 143.12 20.68 C 106.89 49.39 72.10 80.90 36.85 110.92 C 95.90 111.11 154.95 110.95 214.00 111.00 L 214.00 134.78 C 173.83 169.17 133.57 203.46 93.61 238.08 C 85.75 234.47 77.95 230.24 70.90 225.30 C 106.18 195.75 141.66 165.66 176.17 135.08 C 117.45 134.89 58.72 135.06 0.00 135.00 L 0.00 110.15 C 40.52 76.60 80.63 42.14 120.06 7.26 Z',
            path_fixed: 'M165.642 84.1653H140.137H64.4397L140.75 0H115.755L38.9351 84.6754L22 102.733H123.304L46.5865 187H71.581L148.299 102.733L165.642 84.1653Z'
          },
          Teiuaz: {
            name: 'Teiuaz',
            ruName: 'Тейваз',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 105.34 0.00 L 108.66 0.00 C 143.05 21.53 178.96 40.79 214.00 61.29 L 214.00 89.27 C 182.01 71.84 150.94 52.59 119.02 34.98 C 119.08 103.04 118.80 171.11 119.15 239.17 C 115.95 241.90 111.43 242.75 108.70 246.00 L 105.35 246.00 C 102.20 243.19 98.07 241.89 94.85 239.15 C 95.17 170.78 94.95 102.39 94.97 34.02 C 63.47 52.66 31.52 70.55 0.00 89.16 L 0.00 61.09 C 35.23 40.95 70.71 21.07 105.34 0.00 Z',
            path_fixed: 'M167.33 43.0843L93.6149 0L20 43.0843V63.6724L84.4758 26.3126V187L102.754 174.948V26.3126L167.33 63.6724V43.0843Z'
          },

          Berkana: {
            name: 'Berkana',
            ruName: 'Беркано',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 82.99 14.14 C 91.04 9.71 99.01 5.12 107.00 0.59 C 142.63 21.02 178.16 41.62 213.82 62.00 C 179.17 82.13 144.54 102.28 109.90 122.43 C 144.33 142.86 179.13 162.69 213.64 182.99 C 177.94 203.88 142.46 225.25 106.45 245.55 C 106.52 245.66 106.66 245.89 106.73 246.00 L 106.37 246.00 C 106.38 245.88 106.41 245.64 106.42 245.52 C 98.45 241.29 90.87 236.36 83.01 231.93 C 82.98 159.33 83.00 86.73 82.99 14.14 M 107.04 25.87 C 106.92 49.27 107.03 72.68 107.02 96.08 C 127.31 84.54 147.73 72.94 167.81 61.21 C 148.47 49.04 127.16 37.70 107.04 25.87 M 107.07 147.88 C 106.93 171.30 107.05 194.72 107.00 218.13 C 127.44 206.44 147.87 194.73 168.29 183.01 C 147.89 171.29 127.51 159.53 107.07 147.88 Z',
            path_fixed: 'M68.9898 93.5L140.596 52.2234L48 0L48.1004 187L140.596 134.977L68.9898 93.5ZM104.441 134.877L66.3786 156.871V112.782L104.441 134.877ZM104.441 52.123L66.3786 74.2175V30.1289L104.441 52.123Z'
          },
          Exuaz: {
            name: 'Exuaz',
            ruName: 'Эваз',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 0.00 60.96 L 0.83 61.27 C 35.68 82.58 71.48 102.68 107.00 122.99 C 142.53 102.69 178.30 82.57 213.18 61.28 L 214.00 60.96 L 214.00 184.91 C 205.91 189.08 198.57 194.63 190.22 198.30 C 189.68 166.52 190.21 134.74 189.96 102.96 C 162.34 119.01 134.66 135.06 107.00 151.00 C 79.42 134.88 51.56 119.13 24.03 102.90 C 23.76 134.69 24.37 166.51 23.78 198.29 C 15.64 194.23 8.00 189.23 0.00 184.90 L 0.00 60.96 Z',
            path_fixed: 'M167.33 0L93.6149 42.5822L20 0V174.948L38.1778 187V31.2336L93.6149 63.4715V63.572H93.7154V63.4715L149.153 31.2336V187L167.33 174.948V0Z'
          },
          Mannaz: {
            name: 'Mannaz',
            ruName: 'Маназ',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 0.00 60.11 C 9.46 55.88 18.08 47.87 27.89 45.72 C 54.23 61.56 81.17 77.17 107.94 92.00 C 133.93 76.42 160.74 62.06 186.39 45.97 C 196.37 48.31 204.63 55.77 214.00 60.11 L 214.00 184.72 C 205.95 188.50 198.81 193.88 190.94 197.98 C 188.75 188.01 190.76 177.49 189.82 167.34 C 162.41 151.79 135.17 135.86 107.94 120.00 C 79.91 135.45 52.02 152.12 24.08 168.14 C 22.81 177.94 25.96 188.51 23.05 197.98 C 15.52 193.30 7.89 188.75 0.00 184.72 L 0.00 60.11 M 24.05 71.96 C 23.95 94.65 23.99 117.36 24.04 140.05 C 43.63 129.56 64.18 117.22 82.94 106.01 C 64.48 94.44 43.42 82.95 24.05 71.96 M 189.27 72.32 C 170.58 83.82 150.19 94.69 132.06 105.99 C 150.12 117.72 171.25 128.09 189.96 140.04 C 189.59 117.86 190.93 92.46 189.27 72.32 Z',
            path_fixed: 'M93.6149 42.5822L20 0V174.948L38.2782 187V95.5086L93.7154 63.3711L149.153 95.5086V187L167.431 174.948V0L93.6149 42.5822ZM38.1778 74.5188V31.334L75.5376 52.9264L38.1778 74.5188ZM111.692 53.0269L149.052 31.4345V74.6192L111.692 53.0269Z'
          },
          Laguz: {
            name: 'Laguz',
            ruName: 'Лагуз',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 105.35 0.00 L 108.66 0.00 C 143.21 21.22 178.73 41.02 214.00 61.08 L 214.00 89.29 C 181.86 71.13 150.01 52.39 118.05 33.90 C 118.08 102.34 117.76 170.80 118.19 239.24 C 115.87 242.60 111.08 242.73 108.70 246.00 L 105.35 246.00 C 101.83 242.93 97.19 241.52 93.76 238.30 C 94.16 161.44 94.14 84.55 93.78 7.70 C 97.19 4.46 101.84 3.08 105.35 0.00 Z',
            path_fixed: 'M135.955 48.3067L53.8034 0.301289V0.401718L53.2009 0L53 174.948L71.3786 187L71.0773 31.2336L135.955 68.9952V48.3067Z'
          },
          Inguz: {
            name: 'Inguz',
            ruName: 'Ингуз',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 0.00 108.21 C 36.17 88.82 71.30 67.28 107.00 46.99 C 142.70 67.28 177.83 88.82 214.00 108.21 L 214.00 135.79 C 177.89 155.27 142.66 176.65 107.00 197.01 C 71.34 176.65 36.11 155.27 0.00 135.79 L 0.00 108.21 M 106.27 75.30 C 80.02 90.29 53.87 105.47 27.72 120.63 C 25.46 120.54 25.46 123.46 27.72 123.37 C 54.14 138.58 80.40 154.12 107.00 168.99 C 133.60 154.12 159.86 138.58 186.28 123.37 C 187.84 123.62 188.93 121.15 187.06 120.91 C 160.06 106.17 133.50 88.81 106.27 75.30 Z',
            path_fixed: 'M167.2 94.4L154.4 81.6L106.5 33.8L93.7 21L92.7 22L80.8 33.8L32.9 81.6L20 94.4L32.8 107.2L80.7 155L92.5 166.8L93.5 167.8L106.3 155L154.2 107.2L167.2 94.4ZM93.6 142.2L45.9 94.4L93.7 46.6L141.4 94.4L93.6 142.2Z'

          },
          Ethel: {
            name: 'Ethel',
            ruName: 'Одал',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b></p>
            `,
            active: false,
            path: ' M 106.30 0.00 L 107.70 0.00 C 142.90 20.80 178.59 40.87 214.00 61.28 L 214.00 88.89 C 187.54 104.98 160.48 120.10 133.67 135.59 C 132.29 135.55 131.21 137.68 132.93 138.07 C 160.17 153.01 186.54 169.75 214.00 184.20 L 214.00 184.94 C 205.57 189.29 197.88 194.99 189.18 198.86 C 162.40 182.14 134.65 166.40 106.97 151.06 C 79.72 167.21 52.00 182.56 24.82 198.84 C 16.30 194.66 8.37 189.39 0.00 184.93 L 0.00 184.15 C 28.09 170.20 56.10 152.53 82.89 136.98 C 56.01 121.44 28.14 103.76 0.00 89.82 L 0.00 61.28 C 35.41 40.87 71.10 20.80 106.30 0.00 M 106.27 28.30 C 80.01 43.28 53.88 58.49 27.72 73.62 C 25.47 73.55 25.47 76.45 27.72 76.38 C 53.43 91.33 79.23 106.14 104.98 121.04 C 107.83 123.32 111.08 121.11 113.67 119.59 C 138.50 104.51 165.12 90.90 188.98 75.09 C 161.32 59.79 134.13 42.22 106.27 28.30 Z',
            path_fixed: 'M150.646 63.3864L152.582 61.3482L94.291 0L36 61.3482L37.4267 62.8768L82.4698 112.608L37.4267 161.523V187L94.0872 125.244L150.748 187V161.523L105.705 112.608L150.646 63.3864ZM130.468 60.3292L93.9853 99.9711L58.3177 61.1444L94.291 24.152L130.468 60.3292Z'
          },
          Dagaz: {
            name: 'Dagaz',
            ruName: 'Дагаз',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: ' M 0.00 61.25 C 3.95 58.15 8.71 53.20 13.87 53.78 C 44.02 71.46 74.27 89.07 104.66 106.38 C 108.58 108.82 111.37 103.67 114.90 102.87 C 143.31 86.26 172.10 70.14 200.21 53.14 C 205.29 54.18 209.32 57.99 214.00 60.13 L 214.00 184.74 C 210.23 186.42 206.66 188.56 203.21 190.82 C 170.74 173.42 139.31 153.29 107.01 135.97 C 74.36 152.78 43.01 172.86 10.81 190.82 C 7.12 188.95 3.74 186.46 0.00 184.75 L 0.00 61.25 M 189.29 87.31 C 170.44 99.56 148.98 109.58 131.00 121.93 C 150.70 133.24 170.61 144.19 189.98 156.03 C 189.58 133.48 190.92 107.91 189.29 87.31 M 24.04 87.97 C 23.96 110.33 23.98 132.68 24.03 155.03 C 43.09 144.61 64.05 132.88 81.87 121.19 C 62.86 109.82 43.22 98.65 24.04 87.97 Z',
            path_fixed: 'M184 30L94.0487 82.0411L4 30V154.061L93.9513 102.214L184 154.158V30ZM21.7369 123.752V60.4061L76.4093 92.0791L21.7369 123.752ZM111.688 92.0791L166.361 60.4061V123.752L111.688 92.0791Z'
          },
          Wyrd: {
            name: 'Wyrd',
            ruName: 'Вирд',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            path: '',

          }
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
  .wheel {
    position: relative;
    display: block;
    max-width: 900px;
    min-width: 300px;
    height: 100vh;
    margin: 0 auto;
    z-index: 1;
  }
  .wheel-wrapper {
    .wheel-bg {
      fill: var(--background-color-primary);
      stroke: var(--wheel-color-bg);
      stroke-width: 5;
    }
    .trapezoid {
      fill: var(--background-color-secondary);
      filter: drop-shadow(-2px 2px 12px rgba(0, 0, 0, 0.15));
      &.active {
        fill: #97743A;
      }
    }
  }
  //
  //.trapezoid {
  //  fill: #ffffff;
  //}
  //
  //.trapezoid.active {
  //  fill: #7D57D2;
  //}
  .hexagon {
    fill: var(--background-hex-color-primary);
    stroke-width: 2;
    stroke: var(--stroke-color);
    filter: drop-shadow(-2px 2px 5px rgba(black, 0.15));
  }

  .poly25 {
    #filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    #filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0px 0px 50px #000);
    filter: drop-shadow(0px 0px 50px #000);
  }

  #flags {
    .flags-figure {
      fill: var(--background-hex-color-primary);
      filter: drop-shadow(-2px 2px 8px rgba(black, 0.25));
      stroke: var(--background-hex-color-primary);
      stroke-width: 6;
      stroke-linejoin: round;
    }
    .title-en-wrapper {
      x: 37%;
      y: 1%;
      width: 33.5%;
      height: 5%;
      .title-en {
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        color: #CEA662;
        text-align: center;
        /*#text-transform: uppercase;*/
        user-select: none;
        margin-top: 2px;
        letter-spacing: 0.1rem;
      }
    }
  }

  .link-group {
    cursor: pointer;
  }

  .link-group .link-bg {
    fill: #C1A875;
  }

  .link-group .link {
    color: #ffffff !important;
  }

  .link-group:active {
    filter: url(#inset-shadow);
  }

  .link-group .link-wrapper {
    x: 1%;
    y: 3.7%;
    width: 27.5%;
    height: 4%;
  }

  .link-group.home .link-wrapper {
    x: 76%;
  }

  .link {
    font-family: "Arial", serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0.8em;
    text-align: center;
    display: inline-block;
    width: 264px;
    user-select: none;
  }

  .rune {
    cursor: pointer;
  }

  .rune .symbol {
    fill: #CEA662;
  }

</style>
