<template>
    <path class="hexagon" :class="{active: active}"
          d=" M 106.40 0.00 L 107.58 0.00 C 142.73 21.09 178.71 40.77 214.00 61.60 L 214.00 184.61 C 194.45 195.36 175.31 206.83 155.99 217.97 C 139.89 227.36 123.38 236.05 107.62 246.00 L 106.44 246.00 C 71.43 224.68 35.20 205.39 0.00 184.40 L 0.00 61.51 C 35.35 40.80 71.31 21.14 106.40 0.00 Z"/>
</template>

<script>
  export default {
    name: "Hexagon",
    props: {
      active: Boolean
    },
    methods: {
    },
  }
</script>

<style scoped>

</style>
