<template>
  <div  class="video">
    <video autoplay controls style="object-fit: cover;" @ended="routeToMenu()">
      <source src="../assets/video/intro.mp4" type="video/mp4">
    </video>

  </div>

</template>

<script>
  export default {
    name: "Home",
    data(){
      return {
        videoSrc: '../assets/video/intro.mp4'
      }
    },
    methods: {
      routeToMenu(){
        this.$router.push('/menu');
      }
    }
  }
</script>

<style scoped>

  video {
    width: 100vw;
    max-height: 100vh;
  }

  .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
  }
</style>
