<template>
  <svg x="160px" y="20px" width="225px" height="300px" viewBox="0 0 225 300 ">
    <defs>
      <filter id="blurMe">
        <feGaussianBlur in="SourceGraphic" stdDeviation="2"/>
      </filter>
      <filter id="glow">
        <feGaussianBlur class="blur" result="coloredBlur" stdDeviation="3"></feGaussianBlur>
        <feMerge>
          <feMergeNode in="coloredBlur"></feMergeNode>
          <feMergeNode in="coloredBlur"></feMergeNode>
          <feMergeNode in="coloredBlur"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
      </filter>
    </defs>
    <g v-if="name === 'Ass'">
      <polygon class="st0 st-fix-x-axis" points="83.4,197.1 83.4,218 159.1,174.9 159,209.6 177.2,221.6 176.9,34.3 159,44.4 159.2,103.3
		83.4,146.1 83.4,167 159.2,123.9 159.1,154.3"/>
    </g>
    <g v-if="name === 'Bjarkan'">
      <path id="Bjarkan" class="st0" d="M163.61,173.99l-54.11-50.94l53.11-34.82L88.52,46.32l0,0L72.3,37.14l-1.63-0.92v0l-0.01,0
		l-0.31,88.77l0,0.07l0.01,20.69l0.12-0.07l-0.1,61.13l-0.04,0.02l0.01,16.07l0,2.62l0.01,0v0L163.61,173.99z M88.52,66.9
		l40.03,21.27h0.01l-39.55,23.98l-0.07-0.06l0.04,0.07l-0.46,0.27V66.9z M88.52,135.22l4.12-2.39l40.24,38.31l-5.32,2.79
		l-39.04,22.45V135.22z"/>
    </g>
    <g v-if="name === 'KneSol'">
      <polygon class="st0" points="147.47,174.87 160.31,161.79 160.31,161.79 160.31,161.78 160.31,161.78 160.31,161.78 99.53,99.84
				162.11,35.99 136.45,35.99 86.69,86.76 86.68,86.76 73.85,99.84 73.85,99.84 73.85,99.84 73.85,99.85 73.85,99.85 134.63,161.79
				71.85,225.75 97.54,225.75 147.47,174.87 			"/>
    </g>
    <g v-if="name === 'Madr'">
      <polygon class="st0" points="190.36,87.93 190.35,67.36 126.41,104.39 126.41,88.27 126.41,47.59 116.98,37.27
		107.55,47.95 107.88,104.58 43.62,67.36 43.61,87.93 107.89,125.48 107.89,155.93 107.55,213.78 107.89,214.16 107.89,214.58
		108.2,214.51 116.98,224.47 126.41,214.15 126.41,173.47 126.41,125.28 	"/>
    </g>
    <g v-if="name === 'Plastur'">
      <polygon id="Plastur" class="st0" points="171.5,58.32 171.46,35.83 80.45,108.82 80.33,36.54 62.47,46.61 62.47,212.85
		80.63,224.85 80.5,148.61 171.5,225.91 171.5,202.04 84.09,128.87 	"/>
    </g>
    <g v-if="name === 'Reid'">
      <path id="Reid" class="st0" d="M88.52,215.49v-19.1v-8.11v-53.05l4.12-2.39l36.61,34.85l0,0l0,0l3.63,3.46l0,0l12.72,12.79l18-9.95
		l-54.11-50.94l53.11-34.82L88.52,46.32v-0.03L72.3,37.14l-1.63-0.92v0l-0.01,0l-0.13,88.75l-0.03,20.72l-0.1,61.13l-0.04,0.02
		l0.01,16.07l0,2.62l0.01,0v0L88.52,215.49z M88.52,66.9l41.85,22.36h0.01l-41.35,25.2l-0.07-0.06l0.04,0.08l-0.48,0.28V66.9z"/>
    </g>
    <g v-if="name === 'Sol'">
      <path id="Sol" class="st0" d="M126.41,167.74V47.53l-9.43-10.32l-9.43,10.68l0.69,119.6c-11.84,3.71-20.44,14.77-20.44,27.84
		c0,16.11,13.06,29.17,29.17,29.17c16.11,0,29.17-13.06,29.17-29.17C146.16,182.54,137.9,171.66,126.41,167.74z M116.55,211.15
		c-8.94,0-15.22-6.28-15.22-15.22c0-8.94,6.28-15.22,15.22-15.22s15.22,6.28,15.22,15.22C131.77,204.87,125.49,211.15,116.55,211.15
		z"/>
    </g>
    <g v-if="name === 'Tvi-OrvadrBogi'">
      <path id="Tvi-OrvadrBogi" class="st0" fill-rule="evenodd" clip-rule="evenodd" d="M0 126.385H25.7692V174.462H0V189.846H41.3462C60.0775 189.846 75.7576 176.783 79.7728 159.269H143.304C147.319 176.783 162.999 189.846 181.731 189.846H225V174.462H197.308V126.385H225V111H181.731C163.275 111 147.781 123.682 143.489 140.808H79.5883C75.2961 123.682 59.8022 111 41.3462 111H0V126.385ZM180.577 126.412C167.837 127.014 157.692 137.534 157.692 150.423C157.692 163.312 167.837 173.832 180.577 174.434V126.412ZM42.5 174.434C55.2402 173.832 65.3846 163.312 65.3846 150.423C65.3846 137.534 55.2402 127.014 42.5 126.412V174.434Z" fill="#3E4C5B"/>
    </g>
    <g v-if="name === 'Tyrt'">
      <polygon class="st0" points="186.13,156.42 186.06,138.56 141.42,138.56 141.26,37.22 141.25,37.22 141.25,37.22 139.57,38.17
			123.4,47.28 123.4,47.31 47.83,90.06 47.83,110.94 123.4,67.9 123.4,138.56 80.83,138.56 80.83,156.72 123.4,156.6 123.4,212.52
			141.56,224.52 141.45,156.55 		"/>
      <path class="st0" d="M178.89,173.17c-4.97-1.09-9.89,2.05-10.98,7.03c-1.09,4.97,2.05,9.89,7.03,10.98
			c4.97,1.09,9.89-2.05,10.98-7.03S183.86,174.26,178.89,173.17z"/>
    </g>
    <g v-if="name === 'Logr'">
      <polygon id="Logr" class="st0" points="163.85,89.06 88.28,46.31 88.28,46.28 72.11,37.17 70.43,36.22 70.43,36.22 70.42,36.22
		70.12,225.52 88.28,211.52 88.28,66.9 163.85,109.94 	"/>
    </g>
    <g v-if="name === 'Ar'">
      <polygon id="Ar" class="st0" points="163.85,224.52 163.55,37.22 145.69,47.28 145.69,106.31 70.12,149.06 70.12,169.94
		145.69,126.9 145.69,212.52 	"/>
    </g>
    <g v-if="name === 'Fe'">
      <polygon id="Fe" class="st0" points="176.5,80.3 84.3,134 84.3,112.3 176.5,59 176.5,37.3 84.3,91 84.3,37.3 66.1,49.3 66.1,226.5
			84.3,214.5 84.3,155.3 176.5,102 		"/>
    </g>
    <g v-if="name === 'Kaun'">
      <polygon id="Kaun" class="st0" points="163.85,91.8 88.28,134.84 88.28,49.22 70.12,37.22 70.42,224.52 88.28,214.45 88.28,155.42
		163.85,112.68 	"/>
    </g>
    <g v-if="name === 'StanginnKaun'">
      <polygon class="st0" points="88.28,134.84 88.28,49.22 70.12,37.22 70.42,224.52 88.28,214.45 88.28,155.42 163.85,112.68
			163.85,91.8 		"/>
      <path class="st0" d="M114.05,97.31c4.97,1.09,9.89-2.05,10.98-7.03c1.09-4.97-2.05-9.89-7.03-10.98
			c-4.97-1.09-9.89,2.05-10.98,7.03S109.07,96.22,114.05,97.31z"/>
    </g>
    <g v-if="name === 'StanginnIss'">
      <polygon id="StanginnIss" class="st0" points="210.59,121.79 181.71,121.84 181.68,121.79 125.95,121.79 126.06,49.26
		107.91,37.26 107.95,66.14 107.91,66.17 107.91,121.79 33.44,121.79 23.37,139.65 33.21,139.69 107.91,139.81 107.91,214.41
		125.76,224.48 125.81,214.64 125.92,139.84 198.59,139.95 	"/>
    </g>
    <g v-if="name === 'Tyrr'">
      <polygon id="Tyr" class="st0" points="163.85,224.52 163.55,37.22 163.54,37.22 163.54,37.22 161.86,38.17 145.69,47.28
		145.69,47.31 70.12,90.06 70.12,110.94 145.69,67.9 145.69,212.52 	"/>
    </g>
    <g v-if="name === 'Ur'">
      <polygon class="st0" points="62.33,38.12 61.78,37.76 61.78,211.98 79.94,223.98 79.94,69.02 154.03,111.93 154.03,212.68
			172.19,223.98 172.19,122.45 172.19,103.53 172.19,101.55 		"/>
    </g>
    <g v-if="name === 'Yr'">
      <polygon id="Yr" class="st0" points="126.05,199.04 126.05,139.29 169.64,139.17 169.57,121.55 126.05,121.55 126.05,62.7
		190.35,99.45 190.36,79.15 116.98,36.86 43.61,79.15 43.62,99.45 107.89,62.72 107.89,121.55 64.33,121.55 64.33,139.46
		107.89,139.34 107.89,199.02 43.62,162.29 43.61,182.59 116.98,224.87 190.36,182.59 190.35,162.29 	"/>
    </g>
    <g v-if="name === 'Turs'">
      <path class="st0" d="M105.1,77.2c-1.7,0-3.4,0.1-5,0.2V44.7v-8.3l-18,11.9v165.2l17.9,10.1l0.1-40.2
		c1.6,0.2,3.3,0.2,5,0.2c29.4,0,53.2-23.8,53.2-53.2S134.5,77.2,105.1,77.2z M105.1,166.6c-1.7,0-3.4-0.1-5-0.4V165V94.7v-0.1
		c1.6-0.2,3.3-0.4,5-0.4c20,0,36.2,16.2,36.2,36.2S125.1,166.6,105.1,166.6z"/>
    </g>
    <g v-if="name === 'Hagall'">
      <polygon id="Hagall" class="st0" points="175.39,101.34 175.24,78.07 126.41,114.3 126.41,113.77 126.41,47.09 116.98,36.77
		107.55,47.45 107.91,95.94 107.91,114.34 58.68,78.07 58.58,100.75 101.63,132.7 58.58,164.65 58.68,187.33 107.91,151.06
		107.91,165.79 107.55,214.28 116.98,224.97 126.41,214.65 126.41,151.09 175.24,187.33 175.39,164.06 132.83,132.7 	"/>
    </g>
    <g v-if="name === 'Esinger'">
      <path id="Esinger" class="st0" d="M169.64,123.48l-0.07-17.86h-43.15V92.6l43.22-0.12l-0.07-17.86l-43.15-0.99V47.48l-9.43-10.32
		l-8.79,9.96l-0.29,0v0.33l-0.35,0.4l0.19,26.78H64.33v18.16l43.55-0.12l0.03,3.71v9.26H64.33v18.16l43.58-0.12v12.66l-39.59,39.59
		l48.67,48.67l48.67-48.67l-39.24-39.24V123.6L169.64,123.48z M116.98,201.68l-25.78-25.78l25.78-25.78l25.78,25.78L116.98,201.68z"/>
    </g>
    <g v-if="name === 'ElliHvild'">
      <path id="ElliHvild" class="st0" d="M126.41,153.42v-12.42l43.22-0.12l-0.07-17.86h-43.16V108c15.59-4.16,27.08-18.37,27.08-35.27
		c0-20.16-16.34-36.51-36.51-36.51S80.48,52.57,80.48,72.73c0,17.04,11.67,31.35,27.45,35.37l0.03,14.92H64.33v18.16l43.66-0.12
		l-0.07,12.02l-42.56,22.43l0.2,50.01l18.49-11.54l-0.13-25.59l23.87-12.3l-0.23,37.86l9.43,10.68l9.43-10.32v-38.36l23.53,11.21
		l0.09,26.54l0.05,0.2l18.54,11.46l-0.24-50.29L126.41,153.42z M99.12,73.75c0-9.87,8-17.86,17.86-17.86s17.86,8,17.86,17.86
		s-8,17.86-17.86,17.86S99.12,83.61,99.12,73.75z"/>
    </g>
  </svg>

</template>

<script>
  export default {
    name: "IcelandRunes",
    props: {
      name: String,
      height: String
    }
  }
</script>

<style lang="scss" scoped>
  .st0{
    fill: #CEA662;
    &.st-fix-x-axis {
        left: 0
     }
  }

  .line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-opacity: 1;
    animation: fadeout 10s linear forwards, dash 10s linear forwards;
    #filter: url(#glow);
    stroke-width: 3px;
  }

  .flow {
    filter: url(#glow);
  }

  .s0 {
    animation-delay: 0s;
  }

  .s1 {
    animation-delay: 1s;
  }

  .s2 {
    animation-delay: 2s;
  }

  .s3{
    animation-delay: 3s;
  }

  .s4 {
    animation-delay: 4s;
  }

  .s5 {
    animation-delay: 5s;
  }

  .s6 {
    animation-delay: 6s;
  }

  .s7 {
    animation-delay: 7s;
  }

  .s8 {
    animation-delay: 8s;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fadeout {
    from {
      stroke-opacity: 1;
    }
    to {
      stroke-opacity: 0;
    }
  }
</style>
