<template>
  <div class="iceland wheel" @keyup.left="prev()" @keyup.right="next()">
    <!--<Loader></Loader>-->
    <svg width="100%" height="100%" viewBox="0 0 900 1000" style="margin: 0 20px; transform: translateX(-20px);">
      <defs>
        <polygon id="hex" fill="#B3B3B3"
                 points="224.86,188.75 224.86,63.02 116.98,0.15 9.11,63.02 9.11,188.75 116.98,251.62"/>
        <clipPath id="hex-clip-path">
          <polygon
                   points="224.86,188.75 224.86,63.02 116.98,0.15 9.11,63.02 9.11,188.75 116.98,251.62"/>
        </clipPath>
      </defs>
      <g transform="translate(-30 10)">
        <g id="flags">
          <path class="flags-figure" d="M579.655 10H394.878L316 16.7286V57L394.993 50.2714H579.655L646 57V16.7286L579.655 10Z" fill="#6A7882"/>
          <foreignObject class="title-en-wrapper">
            <h2 class="title-en">Исландский Футорк</h2>
          </foreignObject>
        </g>
        <g id="menu">
        <g class="link-group back">
          <polygon class="link-bg" fill="#806AAE" points="24.6,84.5 11.9,62.7 24.6,41 263.3,41 275.9,62.7 263.3,84.5"/>
          <polygon fill="#E5D0A4" points="265.2,44.3 26.7,44.3 15.1,62.7 11.9,62.7 24.6,41 263.3,41"/>
          <polygon fill="#97743A" points="22.7,81.2 261.2,81.2 272.8,62.7 275.9,62.7 263.3,84.5 24.6,84.5"/>
          <foreignObject class="link-wrapper">
            <a href="/#/" class="link">НАЗАД В МЕНЮ</a>
          </foreignObject>
        </g>
        <g class="link-group home">
          <polygon class="link-bg" fill="#806AAE" points="696.7,84.5 684,62.7 696.7,41 935.4,41 948,62.7 935.4,84.5"/>
          <polygon fill="#E5D0A4" points="937.3,44.3 698.8,44.3 687.2,62.7 684,62.7 696.7,41 935.4,41"/>
          <polygon fill="#97743A" points="694.8,81.2 933.3,81.2 944.9,62.7 948,62.7 935.4,84.5 696.7,84.5"/>
          <foreignObject class="link-wrapper">
            <a href="/#/" class="link">НА ГЛАВНУЮ</a>
          </foreignObject>
        </g>
      </g>
      </g>
      <g class="wheel-wrapper" transform="translate(5, 110) rotate(-3.5 432 425)">
        <polygon
                class="wheel-bg"
                 stroke-miterlimit="10"
                 transform="rotate(3.5 160 160), translate(0 12)"
                 :points="getPolygonPoints(runeNames.length, 460, 400, 457)"/>
        <template v-for="(name, index) in runeNames">
          <template>
            <g :key="'bg'+name" transform="rotate(10.5 400 370)">
              <polygon class="trapezoid"
                       :class="{active: runes[name].active,
                       white: (index < 11) ? true : false,
                       blue: (index >= 11) ? true : false}"
                       :key="name+index"
                       :transform="getTrapezoidTransform(index, runeNames.length, 400, 370, 395)"
                       points="0,0 110,0 96,100 12,100 "/>
            </g>
          </template>
          <template>
            <g :key="'rune'+name"
               class="rune"
               :transform="getRuneTransform(index, runeNames.length, 408, 385, 395)"
               @click="selectRune(runes[name])">
              <g transform="rotate(3.5 30 30)" v-if="runes[name].svg" v-html="runes[name].svg">
              </g>
            </g>
          </template>
        </template>
      </g>

      <RuneCard :rune="selectedRune"
        list="IcelandRunes"
        x="17.5%"
        y="21%"
        @prev="prev($event)"
        @next="next($event)">
      </RuneCard>
    </svg>

    <b-modal>
      <ReadMoreModal :rune="selectedRune"></ReadMoreModal>
    </b-modal>

  </div>
</template>

<script>
  import ReadMoreModal from "@/components/ReadMoreModal";
  import AboutRunesModal from "@/components/AboutRunesModal";
  import IcelandRunes from "@/components/IcelandRunes";
  import RuneCard from "@/components/RuneCard";
  import Button from "@/components/Button";
  import { Subject } from "rxjs";
  import PostsService from "@/services/posts-service";
  import Loader from "@/components/ui/Loader";


  export default {
    name: "Iceland",
    components: { Loader, RuneCard, ReadMoreModal, IcelandRunes, Button, AboutRunesModal },
    props: {
      defaultRune: String,

    },
    computed: {
      prevRune() {
        const names = Object.keys(this.runes);
        const prevIndex = names.indexOf(this.selectedRune.name.replace(/\s/g, '')) - 1;
        if (names[prevIndex]) {
          return this.runes[names[prevIndex]];
        } else {
          return this.runes[names[names.length - 1]];
        }
      },
      nextRune() {
        const names = Object.keys(this.runes);
        const nextIndex = names.indexOf(this.selectedRune.name.replace(/\s/g, '')) + 1;
        if (names[nextIndex]) {
          return this.runes[names[nextIndex]];
        } else {
          return this.runes[names[0]];
        }
      },
      runeNames() {
        return Object.keys(this.runes);
      },
      runeKeys() {
        return Object.keys(this.runes);
      }
    },
    created() {
      this.selectedRune = this.runes[this.defaultRune];
      this.runes[this.defaultRune].active = true;
      if (typeof window !== 'undefined') {
        document.addEventListener('keyup', this.keyPress)
      }

      this.swipeRuneSubscription = this.swipeRune$.subscribe((eventName) => {
        switch (eventName) {
          case 'next':
            this.next();
            break;
          case 'prev':
            this.prev();
            break;
          default:
            return;
        }
      });
    },
    methods: {
      setPost(id){
        this.loadingPost = true;
        return PostsService.getPost(id).then((response) => {
          this.selectedRune.description = response.data.content.rendered;
          this.loadingPost = false;
        });
      },
      readMore(event) {
        if (event) event.stopPropagation();
        this.modalInstance = this.$buefy.modal.open({
          parent: this,
          component: ReadMoreModal,
          hasModalCard: true,
          props: {
            order: 'Iceland',
            rune: this.selectedRune,
            rune$: this.rune$,
            swipeRune$: this.swipeRune$,
            hasHeaderIcon: false,
            hasRuneSymbol: true
          }
        });
      },
      aboutRune(event) {
        if (event) event.stopPropagation();
        this.modalInstance = this.$buefy.modal.open({
          parent: this,
          component: AboutRunesModal,
          hasModalCard: true,
          props: {
            order: 'Iceland',
            aboutRow: this.aboutRuneRow,
            headRowTitle: this.headTitle
          }
        });
      },
      keyPress({ keyCode }) {
        switch (keyCode) {
          case 37:
            this.prev();
            break;
          case 39:
            this.next();
            break;
          case 13:
            this.readMore();
            break;
          default:
            return;
        }
      },
      getPolygonPoints(numPoints, cx, cy, sideLength) {
        let result = ``;
        for (let i = 0; i <= numPoints; i++) {
          result += `${Math.round(cx + sideLength * Math.cos(i * 2 * Math.PI / numPoints))},${Math.round(cy + sideLength * Math.sin(i * 2 * Math.PI / numPoints))} `;
        }
        return result;
      },

      getRuneTransform(index, numPoints, cx, cy, sideLength) {
        const offset = 6.475;
        const x = Math.round(cx + sideLength * Math.cos((index - 11) * 2 * Math.PI / numPoints + offset));
        const y = Math.round(cy + sideLength * Math.sin((index - 11) * 2 * Math.PI / numPoints + offset));
        return `translate(${x}, ${y}), scale(0.35)`;
      },
      getTrapezoidTransform(index, numPoints, cx, cy, sideLength) {
        const rotOffset = -89;
        const x = Math.round(cx + sideLength * Math.cos((index - 11) * 2 * Math.PI / numPoints));
        const y = Math.round(cy + sideLength * Math.sin((index - 11) * 2 * Math.PI / numPoints));
        return `
        translate(${x}, ${y}), rotate(${index ? 360 / numPoints * index + rotOffset : rotOffset} 55 50), scale(1.08)`;
      },
      prev() {
        this.selectRune(this.prevRune);
        this.$emit('modal-content', this.selectedRune);
      },
      next() {
        this.selectRune(this.nextRune);
        this.$emit('modal-content', this.selectedRune);
      },
      async selectRune(rune) {
        this.selectedRune = rune;
        console.log(rune)
        for (let name in this.runes) {
          this.runes[name].active = false;
        }
        rune.active = true;
      }
    },
    data() {
      return {
        headTitle: 'Исландский Футорк',
        loadingPost: false,
        swipeRuneSubscription: null,
        modalInstance: null,
        swipeRune$: new Subject(),
        rune$: new Subject(),
        selectedRune: null,
        aboutRuneRow: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.',
        runes: {
          Ass: {
            name: 'Ass',
            ruName: 'Ass',
            description: `
            <p><b>Значение:</b> руна роста и сбалансированного энергообмена для естественного увеличения любых ресурсов.</p>
            <p><b>Интерпретация:</b>  прирост (увеличение, приумножение) любого рода Актива (денег, силы, здоровья, энергии, отношений,  клиентов) на условиях честного обмена.</p>
            <p><b>Результат:</b> Прирост  желаемого ресурса. Приумножаемое сохранение того, что есть, хоть в каком-то минимальном значении.</p>
            <p><b>Пример формулы:</b> <span class="formula">ᚠ ᛋ ᛟ ᚹ</span>   – формула, ведущая к успеху в материализации (ФЕХУ) через светлый коридор (СОУЛО – ВУНЬО) намерения в каком – либо деле (ОДАЛ)</p>
            `,
            active: false,
            svg: `<use href="#hex"/>
            <polygon fill="#354C5C" class="${this.$style.symbol}" points="117,-16 117,47 117,98.2 38.6,144.3 38.6,172.3 117,126.3 117,161.2 -55.1,261.2 -42.8,282.2 117,189.3 117,243.5 117,306.5 141.5,324.4 141.5,261.4 141.5,61.8 141.5,-1.2"/>`,
            path_fixed: 'M47 162.6V183.5L122.7 140.5L122.6 175.1L140.8 187.1L140.5 0L122.6 10.1L122.8 68.9L47 111.7V132.6L122.8 89.5L122.7 119.9L47 162.6Z'
          },
      Bjarkan: {
            name: 'Bjarkan',
            ruName: 'Bjarkan',
            description: `
              <p><b>Значение:</b>  руна увеличение мощности любых источников энергии и самой энергии.</p>
              <p><b>Интерпретация:</b> увеличение мощности Актива любого рода – от предметов и тел до состояния, самочувствия  и событий. Наделение их природной силой (энергией, потенциалом). Если речь идёт о человеке – волевой, эмоциональный и психологический аспект. Результат действий и перемен от приложенных внутренних и внешних усилий.</p>
              <p><b>Принцип:</b> усиление природной энергии любой активной проявленности;  физический потенциал, заряженный силой духа. </p>
              <p><b>Результат:</b> волевые действия и психически приложенные усилия несут предвосхищаемые  перемены. </p>
              <p><b>Пример формулы :</b> <span class="formula">ᚢᛋᚠ</span> усиление физической силы, энергии, выносливости, где усилие воли (УРУЗ) через свет и радость (СОЛУ) даёт «вечный двигатель» честного энергообмена (ФЕХУ)</p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <path class="${this.$style.symbol}" d="M289.03,25.57l-12.21-21l-75.27,43.76L116.98-0.49v-19.22L92.48-37.59v22.95L59.6-33.62L47.34-12.4 l45.14,26.06v223.95l-41.14,23.75l12.25,21.22l45.75-26.42l7.64,4.63v-9.04l86.76-50.09l33.35,33.35l17.33-17.33L145.65,108.92 L289.03,25.57z M177.13,62.53l-60.14,34.96V27.81L177.13,62.53z M185.81,183.73l-68.82,39.74v-97.88l6.75-3.93L185.81,183.73z"/>`,
              path_fixed: 'M140.165 136.171L86.6658 85.935L139.176 51.5214L65.899 9.98784L49.8789 0.890005L48.2967 0L48 87.715V108.284L48.0989 108.185L48 168.508V187L140.165 136.171ZM65.899 30.3591L105.455 51.4225L66.2946 75.156L66.1957 75.0571V75.156L65.7012 75.4527L65.899 30.3591V30.3591ZM65.899 97.8017L69.9535 95.4283L109.707 133.303L104.466 136.072L65.899 158.223V97.8017Z'
          },
          KneSol: {
            name: 'Kne Sol',
            ruName: 'Kne Sol',
            description: `
              <p><b>Значение:</b>  руна направленного во внешние источники  влияния энергии.</p>
              <p><b>Интерпретация:</b>  действенное влияние, увеличение влияния Актива любого рода для вклинивания,  лидерства и экспансии вне собственных границ.</p>
              <p><b>Принцип:</b> высвобожденное  экспансивное проникновение энергии в любую внешнюю среду, проявляя себя там, создаёт подобный себе порядок.</p>
              <p><b>Результат:</b> базовое качество определенной энергии отражает свойственную ей суть внутри инородной системы. </p>
              <p><b>Пример формулы:</b>  снятие жара и температуры  <span class="formula">ᚦ<ᛁᛃ</span> разрушаем, отсекаем (Турисаз) температуру (Кеназ) охлаждением тела (Иса) и зацикливаем процесс до полного снятия жара (Йера).</p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="${this.$style.symbol}" points="42.13,71.05 86.63,44.88 147.1,9.86 135.88,1.92 137.54,-13.26 14.52,59.03 14.52,59.04 7.23,54.8 -0.81,65.93 -0.21,66.3 -5.82,69.05 186.97,182.98 79.8,247.1 115.95,255.75 209.44,200.38 211.97,201.54 237.62,183.92"/>
             `,
            path_fixed: 'M123.662 136.897L136.286 123.976L76.3201 62.8265L138.062 0H112.714L63.6957 50.0047L50.9726 62.8265L110.939 123.976L49 187H74.3476L123.662 136.897Z'
          },
          Logr: {
            name: 'Logr',
            ruName: 'Logr',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="${this.$style.symbol}" points="116.98,-23.59 116.98,-0.37 289.03,99.64 276.82,120.64 116.98,27.72 116.98,253.93 92.48,271.8 92.48,-8.71"/>
             `,
            path_fixed: 'M139.758 52.2136L64.9979 9.98784L48.9778 0.988895L47.2967 0L47 187L64.9979 173.155V30.3591L139.758 72.7827V52.2136Z'
          },
          Madr: {
            name: 'Madr',
            ruName: 'Madr',
            description: `
              <p><b>Значение:</b> руна приёма и отдачи неискаженной информации в первозданном виде. Осознанность и возвышенность работы сознания.</p>
              <p><b>Интерпретация:</b> прием и отдача информации,  сообщённая работы Актива , наделенного Сознанием  со структурами внешнего Мира любого уровня. Возвышенное и вдохновленное получение Истиной информации, правильного руководства к действию и инсайтов через  осознанность и сонастройки чистого Сознания под информационную структуру любой изменчивой реальности.</b> </p>
              <p><b>Принцип:</b> энергия подстраиваемости под информационную структуру любой  внешней и внутренней среды на любых уровнях.</b>  </p>
              <p><b>Результат:</b> сонастроенное под  информационную структуру любой среды сознание получает истинный ответ на запрос, давая совершить правильный выбор.</b>  </p>
              <p><b>Пример формулы:</b> успешные переговоры: <span class="formula">ᚹᚷᚫᚷᚹ</span>  лёгкое восприятие (ВУНЬО),  при гармоничной (ГЕБО)  передаче информации (АНСУЗ) и далее то же самое в полиндромном отражении.  В связи с тем, что цель - успешные переговоры, АНСУЗ стоит в центре – как передача информации, ГЕБО – энергия партнерства и единства - в результате получаем то, к чему мы стремимся, ограничивая энергообмен конструктивного общения в границах позитива руны ВУНЬО.</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="${this.$style.symbol}" points="129.03,134.56 301.03,31.57 288.82,13.57 129.03,106.47 129.03,-18.59 116.75,-9.63 104.48,-18.59 104.48,106.47 -55.31,13.57 -67.52,31.57 104.48,134.56 104.48,261.93 104.52,261.95 104.52,276.8 116.75,269.38 128.98,276.8 128.98,261.95 129.03,261.93"/>
             `,
            path_fixed: 'M167.8 50.5V30.1L103.8 67V50.9V10.3L94.4 0L85 10.7L85.3 67.2L21 30.1V50.5L85.3 88.1V118.5L85 176.3L85.3 176.7V177.1L85.6 177L94.4 187L103.8 176.6V136.1V87.9L167.8 50.5Z'
          },
          Plastur: {
            name: 'Plastur',
            ruName: 'Plastur',
            description: `
              <p><b>Значение:</b> руна эффективного перемещения любых источников и объектов до осознанно определенной цели.</p>
              <p><b>Интерпретация:</b> движение и перемещение любого Актива  (объектов, мыслей, идей, отношений)  в правильном, осознанном направлении. Мотивированная жизненная активность.</p>
              <p><b>Принцип:</b> активного целевого движения энергии в правильном направлении.</p>
              <p><b>Результат:</b> вектор пути в идеально предвосхищенный пункт без энергозатрат.</p>
              <p><b>Пример формулы:</b> открытие дорог, пути: <span class="formula">ᚱᛚᚱ</span>  РАЙДО – ЛАГУЗ - РАЙДО. Здесь РАЙДО – процесс двухстороннего движения и ЛАГУЗ - поток, ЛАГУЗ для того, чтобы запустить этот процесс в движение с помощью энергии руны РАЙДО и, вычищая его, увидеть правильный путь.</p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="${this.$style.symbol}" points="341.1,238.44 137.97,129.8 302.03,31.57 289.82,13.57 129.98,106.49 129.98,-0.71 105.48,-18.59 105.48,261.93 129.98,276.8 129.98,152.2 313.78,251.62"/>
             `,
            path_fixed: 'M147.335 22.1564V0L57.6266 71.7867L57.5282 0.68931L40 10.6351V174.199L57.8236 186.015L57.7251 110.979L147.335 187V163.465L61.2701 91.5798L147.335 22.1564Z'
          },
          Reid: {
            name: 'Reid',
            ruName: 'Reid',
            description: `
              <p><b>Значение:</b> руна яркой, взрывной реализации энергии.</p>
              <p><b>Интерпретация:</b> озарение от яркой вспышки одержимой энергии  реализации и творения активом чего угодно, в том числе себя. Раскрытие как потенциал процесса притяжения, вбирания энергии. Творчество и создание нового в любой сфере. Оперативное осознание текущего процесса и следующего действия.</p>
              <p><b>Принцип:</b> достигнув максимального сжатия,  энергия притяжения и вбирания раскрывает весь свой потенциал.</p>
              <p><b>Результат:</b> энергия высвечивания, озарив теневые аспекты среды, создает новое в любой сфере, меняя ее структуру и влияя на протекающие процессы.</p>
              <p><b>Пример формулы:</b> улучшение  зрения, четкость восприятия объектов:   КАНО -СОУЛО- КАНО <span class="formula"><ᛋ<</span>. Здесь КАНО  символ прозрения, СОУЛО – символ дополнительного солнечного света, при котором начинаешь видеть объекты лучше и четче.</p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <path class="${this.$style.symbol}" d="M289.03,25.57l-12.21-21l-75.27,43.76L116.98-0.49v-19.22L92.48-37.59v22.95L59.6-33.62L47.34-12.4 l45.14,26.06v232.27l24.51,14.87V125.59l6.75-3.93L237.1,235.02l17.33-17.33L145.65,108.92L289.03,25.57z M177.13,62.53l-60.14,34.96V27.81L177.13,62.53z"/>
             `,
            path_fixed: 'M65.899 177.111V97.8017L69.9535 95.4283L106.147 129.941L109.707 133.402L122.266 146.06L140.066 136.27L86.5669 86.0338L139.077 51.5214L65.899 9.98784L49.8789 0.890005L48.2967 0L48.0989 87.715V108.185L48 168.508V187L65.899 177.111ZM65.899 30.3591L107.235 52.5103L66.3934 77.3316L66.2946 77.2327V77.3316L65.8001 77.6282C65.899 77.6282 65.899 30.3591 65.899 30.3591V30.3591Z'

          },
          Sol: {
            name: 'Sol',
            ruName: 'Sol',
            description: `
              <p><b>Значение:</b> руна совмещения разных по параметрам энергий  в равные условия и параметры партнерства.</p>
              <p><b>Интерпретация:</b> равенство, партнерство  и равного действия параметров разных видов Активов в полной гармонизации. Слияние, совмещение через принятие,  скрещивание. Совмещение двух компонентов, где каждый из компонентов дает, то, что может дать получается единая система, где каждый из участников системы получает себе недостающий компонент.  Честное, гармонизирующее партнерство.</p>
              <p><b>Принцип:</b> совмещение двух разных компонентов, где каждый из которых, высвобождая в слиянии потенциал, трансформируется в единую систему и каждый из участников системы получает себе недостающий потенциал через равный энергоинформационный обмен. «Единство противоположностей»</p>
              <p><b>Результат:</b> через принятие и слияние в единстве двух разрозненных сил происходит гармонизация среды от неидентичных параметров в двусторонний, равноподдерживаемый баланс.</p>
              <p><b>Пример формулы:</b> «страсть & гармония» <span class="formula">ᛏᚷ<ᚷᛒ</span> ,где мужчина (ТЕЙВАЗ), гармонично и с пониманием на всех уровнях (ГЕБО), освещенный сиянием страсти и интереса (КАНО) , единится к противоположности гармонии(ГЕБО)  женщины (БЕРКАНО).</p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <path class="${this.$style.symbol}" d="M128.6,151.22V-0.85h-23.24v153.37l-32.4,21.75v51.54l44.72,26.53l47.75-27.79v-50.02L128.6,151.22z M141.7,210.2l-23.24,13.52L96.7,210.81v-25.08l21.5-14.42l23.5,14.54V210.2z"/>
             `,
            path_fixed: 'M103.576 130.261V10.289L94.1863 0L84.7963 10.6886L85.4956 130.061C78.8548 132.14 73.1737 136.52 69.4738 142.414C65.774 148.307 64.2982 155.328 65.3118 162.212C66.3255 169.097 69.7621 175.394 75.0036 179.971C80.2451 184.548 86.9476 187.105 93.9059 187.181C100.864 187.258 107.621 184.85 112.963 180.39C118.304 175.93 121.879 169.71 123.045 162.85C124.21 155.99 122.89 148.939 119.321 142.965C115.752 136.991 110.169 132.486 103.576 130.261V130.261ZM93.7867 173.514C84.8962 173.514 78.603 167.221 78.603 158.331C78.603 149.44 84.8962 143.147 93.7867 143.147C102.677 143.147 108.97 149.44 108.97 158.331C108.97 167.221 102.677 173.514 93.7867 173.514Z'
    },
          'Tvi-OrvadrBogi': {
            name: 'Tvi-Orvadr Bogi',
            ruName: 'Tvi-Orvadr Bogi',
            description: `
              <p><b>Значение:</b> руна зацикливания энергии и движения по петле.</p>
              <p><b>Интерпретация:</b> зацикливание чего – либо на чем- либо. Зацикленность внутреннего и внешнего состояния параметров (радость/вражда, больше/меньше, быстрее/медленнее и т.д. ) всех видов Активов (эмоция, сила, энергия, отношение и т.д.) Руна наполненностью безусловной радостью,  аккорды играющего в своё удовольствие эго, легкое восприятие жизни. «Стакан полностью полон».</p>
              <p><b>Принцип:</b> Зацикленное состояние в повторяемости действий, созданное на определенный, контролируемый отрезок времени.</p>
              <p><b>Результат:</b> прикладная энергия, не способная ничего создать, но динамично способная созданное запускать, снабжать инерцией и обновлять.</p>
              <p><b>Пример формулы:</b> «улыбка фортуны» <span class="formula">ᚹᛋᚹ</span>  одно за другим, удачные стечения обстоятельств (ВУНЬО),  выжигая преграды солнечной энергией (СОУЛО), приводят к реализации намерения.</p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <path class="${this.$style.symbol}" d="M282.14,103.67V80.43H178.06v0.13l-39.51,32.51H90.02L50.34,80.42l-0.05,0.06v-0.05H-53.8v23.24h76.46v42.76 H-53.8v23.24H50.29v-0.06l40.48-33.31h46.75l40.49,33.31l0.05-0.06v0.11h104.08v-23.24h-72.46v-42.76H282.14z M67.94,124.99 l-22.03,18.12v-36.25L67.94,124.99z M186.41,146.43l-25.92-21.33l25.95-21.35v42.67H186.41z"/>`,
            path_fixed: 'M187 74.3457V61.5594H143.207L120.591 84.1752L118.913 85.8534V85.7735H67.1282L64.8906 83.5359L42.3547 61H0V73.7863H21.4171V113.504H0V126.29H42.2748L67.4479 101.117H117.394L143.127 126.85H187V114.063H164.144V74.3457H187ZM35.3222 113.104V74.106L54.8214 93.6051L35.3222 113.104ZM150.079 113.664L130.66 94.2444L150.079 74.8252V113.664Z'
          },
          Tyrt: {
            name: 'Tyrt',
            ruName: 'Tyrt',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <g class="${this.$style.symbol}">
                <polygon points="129.31,109.18 129.31,-0.93 104.8,-15.81 104.8,6.41 -67.24,107.42 -55.03,128.42 104.8,35.5 104.8,109.18 36.9,109.18 36.9,133.68 104.8,133.68 104.8,261.71 129.31,279.58 129.31,133.68 198.33,133.68 198.33,109.18"/>
                <polygon points="163.08,163.6 163.08,183.78 180.55,193.87 198.03,183.78 198.03,163.6 180.55,153.51 "/>
              </g>`,
            // path_fixed: 'M139.152 145.5C139.152 150.747 134.899 155 129.652 155C124.405 155 120.152 150.747 120.152 145.5C120.152 140.253 124.405 136 129.652 136C134.899 136 139.152 140.253 139.152 145.5Z',
            paths: ['M200.475 140.24V121.97H154.749L154.647 18L152.908 19.0264L136.336 28.3662L59 72.1918V93.5401L136.336 49.5093V121.97H92.7577V140.547L136.336 140.445V197.716L154.954 210.032L154.749 140.445L200.475 140.24Z', 'M193.11 157.482C187.995 156.353 182.983 159.638 181.857 164.667C180.732 169.799 184.006 174.828 189.018 175.957C194.133 177.086 199.145 173.802 200.271 168.772C201.396 163.743 198.225 158.611 193.11 157.482Z']
          },

      Ar: {
            name: 'Ar',
            ruName: 'Ar',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="${this.$style.symbol}" points="104.98,-9.03 104.98,105.19 -67.06,205.2 -54.85,226.2 104.98,133.28 104.98,250.48 129.49,268.36 129.49,5.84"/>
             `,
            path_fixed: 'M140.75 187L140.45 0L122.56 10.0946V68.9631L47 111.74V132.529L122.56 89.5521V175.006L140.75 187Z'
          },
          Fe: {
            name: 'Fe',
            ruName: 'Fe',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="${this.$style.symbol}" points="115.98,125.49 115.98,90.59 288.03,-9.43 275.82,-30.43 115.98,62.49 115.98,8.29 115.98,-54.71
              91.48,-72.59 91.48,-9.59 91.48,189.93 91.48,252.93 115.98,267.8 115.98,204.8 115.98,153.59 288.03,53.57 275.82,32.57"/>
            `,
            path_fixed: 'M148.232 42.545L57.0074 95.5778V74.1074L148.232 21.4704V0L57.0074 53.0328V0L39 11.873V187L57.0074 175.127V116.652L148.232 63.9164V42.545Z'
          },
          Kaun: {
            name: 'Kaun',
            ruName: 'Kaun',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
<polygon class="${this.$style.symbol}" points="116.98,254.8 116.98,140.59 289.03,40.57 276.82,19.57 116.98,112.49 116.98,-4.71 92.48,-22.59
92.48,239.93"/>`,
            path_fixed: 'M140.75 54.4709L65.1903 97.4479V11.9936L47 0L47.2998 187L65.1903 176.905V118.037L140.75 75.3597V54.4709Z'
          },
          StanginnKaun: {
            name: 'Stanginn Kaun',
            ruName: 'Stanginn Kaun',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <g class="${this.$style.symbol}">
              <polygon  points="276.82,31.57 116.98,124.49 116.98,-0.71 92.48,-10.59 92.48,251.93 116.98,266.8 116.98,152.59
              289.03,52.57"/>
              <polygon  points="168.03,70.78 168.03,50.6 150.55,40.51 133.08,50.6 133.08,70.78 150.55,80.87"/>
              </g>`,
            // path_fixed: 'M140.75 54.4709L65.1903 97.4479V11.9936L47 0L47.2998 187L65.1903 176.905V118.037L140.75 75.3597V54.4709Z',
            paths: ['M103.537 126.645V26.1101L82 12L82.355 232L103.537 220.124V150.867L193 100.658V76.0834L103.537 126.645Z','M134.068 82.5505C139.985 83.8439 145.784 80.0812 147.085 74.3196C148.387 68.4404 144.6 62.6788 138.802 61.3854C132.885 60.0919 127.086 63.8546 125.785 69.6162C124.483 75.3779 128.151 81.2571 134.068 82.5505Z']
          },
      StanginnIss: {
            name: 'Stanginn Iss',
            ruName: 'Stanginn Iss',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
<polygon class="${this.$style.symbol}" points="248.72,115.45 129.98,115.45 129.98,-3.28 104.09,-3.28 104.09,115.45 -14.65,115.45
-14.65,141.35 104.09,141.35 104.09,260.08 129.98,260.08 129.98,141.35 248.72,141.35"/>`,
            path_fixed: 'M187 85.3098H158.131H102.39L102.59 12.9872L84.4097 1V29.7692V29.8691V85.3098H9.98932L0 103.091L9.78953 103.191L84.4097 103.291V177.711L102.291 187.8V177.911L102.39 103.291L175.013 103.39L187 85.3098Z'
    },
          Tyrr: {
            name: 'Tyrr',
            ruName: 'Tyrr',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
<polygon class="${this.$style.symbol}" points="105.48,-16.65 105.48,6.57 -66.56,106.58 -54.36,127.58 105.48,34.66 105.48,260.87 129.98,278.74
129.98,-7.77"/>`,
            path_fixed: 'M140.75 187L140.45 0H140.35L138.751 0.999465L122.56 10.0946L47 52.7718V73.5607L122.56 30.6836V175.006L140.75 187Z'
          },
          Ur: {
            name: 'Ur',
            ruName: 'Ur',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
<polygon class="${this.$style.symbol}" points="288.69,100.07 116.65,0.06 116.65,-23.16 92.14,-14.28 92.14,272.23 116.65,254.36 116.65,28.15
200.77,77.05 200.77,233.05 225.27,233.05 225.27,91.3 276.48,121.07"/>`,
            path_fixed: 'M39.5027 0.301613L39 0V174.935L57.1973 187V31.3677L131.696 74.3978V175.639L149.994 187V84.9543V65.9527V64.0425L39.5027 0.301613Z'
          },
          Yr: {
            name: 'Yr',
            ruName: 'Yr',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <path class="${this.$style.symbol}" d="M301.33,107.13l-172-99.99V-7.23v-19.87l-12.27,8.95l-12.27-8.95v19.87V7.14l-172,99.99l11.02,18.96
              l-11.02,18.96l172,99.99v14.37v19.87l12.27-8.95l12.27,8.95v-19.87v-14.37l172-99.99l-11.02-18.96L301.33,107.13z M-51.51,126.09
              l156.29-90.86v74.23H36.33v24.51h68.45v82.98L-51.51,126.09z M129.33,133.97h69.19v-24.51h-69.19V35.23l156.29,90.86
              l-156.29,90.86V133.97z"/>`,
            path_fixed: 'M103.149 161.21V101.864L146.463 101.765V84.2396H103.149V25.6901L167.175 62.1342V42.1198L94.0873 0L21 42.1198V62.1342L85.0261 25.6901V84.2396H41.6118V102.063L85.0261 101.864V161.21L21 124.766V144.88L94.0873 187L167.175 144.88V124.766L103.149 161.21Z'
          },
          Turs: {
            name: 'Turs',
            ruName: 'Turs',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <path class="${this.$style.symbol}" d="M129,62.3v-0.6V38.3v-90.9l-24.5,14.9v58.1v204.4v58.1l24.5,14.9v-90.9v-23.2l77.5-46v-2.6v-25.2v-2.6L129,62.3z M129,155.9v-0.4V90.1l56,32.5L129,155.9z"/>`,
            path_fixed: 'M79 40.8C77.3 40.8 75.6 40.9 74 41V0L56 11.9V176.9L73.9 187L74 146.8C75.661 146.968 77.3308 147.035 79 147C93.083 147 106.589 141.406 116.547 131.447C126.506 121.489 132.1 107.983 132.1 93.9C132.1 79.817 126.506 66.3108 116.547 56.3526C106.589 46.3944 93.083 40.8 79 40.8V40.8ZM79 130.1C77.3246 130.12 75.6509 129.986 74 129.7V58.1C75.6568 57.8634 77.3267 57.7298 79 57.7C88.6008 57.7 97.8085 61.5139 104.597 68.3027C111.386 75.0916 115.2 84.2992 115.2 93.9C115.2 103.501 111.386 112.708 104.597 119.497C97.8085 126.286 88.6008 130.1 79 130.1V130.1Z'
          },
          Hagall: {
            name: 'Hagall',
            ruName: 'Hagall',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <polygon class="${this.$style.symbol}" points="243.19,67.68 214.98,54.53 130.07,103.8 130.07,2.87 105.89,-13.11 105.89,104.3 20.11,54.53
              -8.1,67.68 92.89,125.37 -7.1,183.38 18.44,196.05 105.89,146.1 105.89,248.9 130.07,264.88 130.07,146.6 217.09,197.18
              242.19,183.38 142.2,125.37 "/>`,
            path_fixed: 'M152.179 64.0574L151.98 41.0803L103.439 76.9883V76.491V10.2452L94.0894 0L84.7394 10.6431L85.0378 58.6862V76.9883L36.0995 41.0803L36 63.5601L78.7713 95.2904L36 127.021L36.0995 149.501L85.0378 113.593V128.214L84.7394 176.357L94.0894 187L103.439 176.655V113.593L151.98 149.501L152.179 126.523L109.805 95.2904L152.179 64.0574Z'
          },
          Esinger: {
            name: 'Esinger',
            ruName: 'Esinger',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <path class="${this.$style.symbol}" d="M198.33,133.68l-0.16-24.51h-69V86.68h69.16l-0.16-24.51h-69V3.68l-24.18-9.74v68.24H36.9l0.16,24.51h67.93
              v22.49H36.9l0.16,24.51h67.93v11.83l-67.57,38.59l0.37,27.94l4.87-2.76l65.66,38.29l-0.23,10.63l9.23-5.38l10.3,6l-0.26-11.86
              l65.15-37.99l0-0.22l4.8,2.72l0.37-27.94l-68.53-39.14v-10.71H198.33z M117.33,224.3l-50.06-28.94l50.79-28.75l50.05,28.33
              L117.33,224.3z"/>`,
            path_fixed: 'M146.963 85.9243L146.864 68.0816H103.802V55.1231L146.864 55.0235L146.764 37.1807L103.702 36.1839V10.2671L94.5314 0L85.7596 9.96802H85.4606V10.2671L85.1615 10.6658L85.3609 37.3801H42V55.5219L85.4606 55.4222V68.3806H42V86.5224L85.4606 86.4227V99.0821L45.9872 138.555L94.5314 187L143.076 138.555L104.001 99.4808V86.323L146.963 85.9243ZM94.5314 163.775L68.814 138.057L94.5314 112.34L120.249 138.057L94.5314 163.775Z'
          },
          ElliHvild: {
            name: 'Ell iHvild',
            ruName: 'Ell iHvild',
            description: `
              <p><b>Значение:</b> </p>
              <p><b>Интерпретация:</b> </p>
              <p><b>Принцип:</b>  </p>
              <p><b>Результат:</b>  </p>
              <p><b>Пример формулы:</b>  </p>
            `,
            active: false,
            svg: `
              <use href="#hex"/>
              <path class="${this.$style.symbol}" d="M129.45,143.3v-9.36h68.87l-0.13-24.51h-68.75V96.12l35.98-18.94V27.16L117.68-1.63L72.97,24.89v52.54
              l31.98,18.75v13.26H37.07l0.13,24.51h67.75v8.99l-67.19,40.24v8.82l-0.23,0.17l0.23,14.1v4.88l0.08-0.04l0.82,49.49l24.47-19.19
              v-43.19l41.83-25.33v96.58l22.51,18.87V172.25l44.49,24.51v42.31l24.51,17.87l1-45.77v-19.74v-8.22L129.45,143.3z M96.7,40.88
              l21.76-12.91L141.7,41.5v24.34l-23.5,12.54L96.7,65.96V40.88z"/>`,
              path_fixed: 'M103.345 116.247V103.998L146.021 103.899L145.922 86.2165H103.247V71.3988C111.654 69.1085 118.938 63.8331 123.736 56.56C128.534 49.2869 130.518 40.5145 129.315 31.8845C128.113 23.2546 123.807 15.3586 117.203 9.67428C110.599 3.98996 102.15 0.90692 93.4374 1.00214C84.7246 1.09736 76.3451 4.36432 69.8671 10.1916C63.3891 16.0189 59.2565 24.0071 58.2429 32.6613C57.2293 41.3154 59.404 50.0424 64.3602 57.2089C69.3163 64.3754 76.7141 69.4903 85.169 71.5963V86.3153H42V104.294L85.169 104.195L85.0703 116.05L42.9879 138.177L43.1854 187.471L61.4606 176.012L61.3619 150.723L84.9715 138.573L84.7739 176.012L94.0597 186.582L103.345 176.407V138.474L126.56 149.538L126.659 175.716L126.758 175.913L145.033 187.274L144.835 137.684L103.345 116.247ZM76.3772 37.7131C76.3772 34.2158 77.4142 30.7971 79.3572 27.8892C81.3002 24.9813 84.0618 22.7149 87.2929 21.3766C90.5239 20.0382 94.0793 19.6881 97.5094 20.3703C100.939 21.0526 104.09 22.7367 106.563 25.2097C109.036 27.6826 110.72 30.8333 111.402 34.2634C112.085 37.6935 111.735 41.2488 110.396 44.4799C109.058 47.7109 106.791 50.4726 103.884 52.4156C100.976 54.3585 97.557 55.3956 94.0597 55.3956C91.7369 55.3982 89.4363 54.9426 87.2898 54.0549C85.1433 53.1672 83.193 51.8648 81.5505 50.2223C79.908 48.5798 78.6056 46.6295 77.7179 44.483C76.8302 42.3364 76.3746 40.0359 76.3772 37.7131Z'
          }
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
  .wheel {
    position: relative;
    display: block;
    max-width: 900px;
    min-width: 300px;
    height: 100vh;
    margin: 0 auto;
    z-index: 1;
  }
  .wheel-wrapper {
    .wheel-bg {
        fill: var(--background-color-primary);
        stroke: var(--wheel-color-bg);
        stroke-width: 5;
    }
    .trapezoid {
      fill: var(--background-color-secondary);
      filter: drop-shadow(-2px 2px 12px rgba(0, 0, 0, 0.15));
      &.active {
        fill: #97743A;
      }
    }
  }

  .rune {
    cursor: pointer;
  }
  #hex {
    fill: var(--background-hex-color-primary);
    stroke-width: 2;
    stroke: var(--stroke-color);
    filter: drop-shadow(-2px 2px 5px rgba(black, 0.15));
  }

  //.trapezoid.white {
  //  fill: white;
  //}
  //
  //.trapezoid.blue {
  //  fill: #5c636b;
  //}
  //
  //.trapezoid.white.active {
  //  fill: #7d57d2;
  //}
  //
  //.trapezoid.blue.active {
  //  fill: #7d57d2;
  //}

  .poly25 {
    #filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    #filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0px 0px 50px #000);
    filter: drop-shadow(0px 0px 50px #000);
  }

  #flags {
    transform: translateY(4px);

    .flags-figure {
      fill: var(--background-hex-color-primary);
      filter: drop-shadow(-2px 2px 8px rgba(black, 0.25));
      stroke: var(--background-hex-color-primary);
      stroke-width: 6;
      stroke-linejoin: round;
    }
    .title-en-wrapper {
      x: 37%;
      y: 1%;
      width: 33.5%;
      height: 5%;
      .title-en {
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        color: #CEA662;
        text-align: center;
        /*#text-transform: uppercase;*/
        user-select: none;
        margin-top: 2px;
        letter-spacing: 0.1rem;
      }
    }
  }


  .link-group {
    cursor: pointer;
  }

  .link-group .link-bg {
    fill: #C1A875;
  }

  .link-group .link {
    color: #ffffff !important;
  }

  .link-group:active {
    filter: url(#inset-shadow);
  }

  .link-group .link-wrapper {
    x: 1%;
    y: 3.7%;
    width: 27.5%;
    height: 4%;
  }

  .link-group.home .link-wrapper {
    x: 76%;
  }

  .link {
    font-family: "Arial", serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0.8em;
    text-align: center;
    display: inline-block;
    width: 264px;
    user-select: none;
  }
</style>


<style module>
  .symbol {
    fill: #CEA662;
    clip-path: url(#hex-clip-path);
  }
</style>
