<template>
  <svg  :height="height || '16%'" x="0%" y="23.5%" viewBox="0 0 170.9 187.1">
    <polygon v-if="name === 'Ur'" class="theme-point" points="50.4,0 36.3,14.2 36.3,17.2 36.3,22.2 36.3,117.2 36.3,187.2 54.3,187.2 54.3,117.2
		54.3,24.3 129.3,66.2 129.3,164.2 147.3,164.2 147.3,55.2 	"/>
    <path v-if="name === 'Thurs'" class="theme-point" fill="#3E4C5B" d="M147,93.1L54.4,41.3v-41V0H37.5h-1.1l0,170.8l0,16.4h18l0-39.9L147,93.1z M109.3,92.4l1.3,0.7
		l-56.3,33.3l0.1-65.1L109.3,92.4z"/>
    <polygon v-if="name === 'Ass'" class="theme-point" fill="#3E4C5B" points="50.4,0 147.1,54.8 138.1,70.3 54.4,24.3 54.4,59.3 147.7,118.4 138,132.9 54.4,81.3
		54.4,187.3 36.4,187.3 36.4,14.3 	"/>
    <path v-if="name === 'Reid'" class="theme-point" fill="#3E4C5B" d="M138.4,49.9L50.3,0.2l-14,14v3v100v70h18v-70v-10l72.8,46.2l10.6-15.2L68.8,94.1 M54.3,80.5V24.3
		l47.3,26.5L54.3,80.5z"/>
    <polyline v-if="name === 'Ken'" class="theme-point" fill="#3E4C5B" points="135.5,169.9 145.5,154.9 42.3,93 42.3,93 146.5,31.3 138.1,15.4 12.6,88.8 5.3,93.2
		135.5,169.9 	"/>
    <polygon v-if="name === 'Gifu'" class="theme-point" fill="#3E4C5B" points="150.5,177.9 101.7,93.2 150.2,9.1 134.7,0.1 91.3,75.2 47.8,0 32.3,9 80.9,93.2
		32,177.9 47.6,186.9 91.3,111.2 135,186.9 	"/>
    <path v-if="name === 'Wynja'" class="theme-point" fill="#3E4C5B" d="M68.7,94.1 M138.3,49.9L50.4,0L36.3,14.2v3v100v70h18v-70v-15 M54.3,80.5V24.3l47.3,26.5
		L54.3,80.5z"/>
    <polygon v-if="name === 'Hagal'" class="theme-point" fill="#3E4C5B" points="129.3,0 129.3,105.9 54.3,62.6 54.3,0 36.2,0 36.3,187.2 54.3,187.2 54.3,83.3
		129.3,126.6 129.3,187.2 147.3,187.2 147.3,0 	"/>
    <polygon v-if="name === 'Naud'" class="theme-point" fill="#3E4C5B" points="147.8,116.4 99.3,88.4 99.3,0 81.2,0 81.2,78 45.8,57.5 36.8,73.1 81.2,98.8 81.3,187.2
		99.3,187.2 99.3,109.2 138.8,132 	"/>
    <polygon v-if="name === 'Iss'" class="theme-point" fill="#3E4C5B" points="81.2,0 81.3,187.2 99.3,187.2 99.3,0 	"/>
    <g v-if="name === 'Jara'">
      <polygon class="theme-point" fill="#3E4C5B" points="111.7,121.9 39,69.8 110.7,21.8 100.7,6.8 15.8,64.3 6.4,70.4 47.9,97.4 101.7,133.8 		"/>
      <polygon class="theme-point" fill="#3E4C5B" points="167.3,113.3 82.4,55.8 72.4,70.8 144.1,118.8 71.4,170.9 81.4,182.8 135.2,146.4 176.7,119.4 		"/>
    </g>
    <polyline v-if="name === 'Pertra'" class="theme-point" fill="#3E4C5B" points="98.2,48.8 153.1,15.9 144.1,0.3 98.8,27.6 54.4,2.3 50.4,0 49.1,1.3 36.3,14.2
		36.3,15 36.3,172.7 36.3,173.9 51.2,187.3 51.2,187.3 51.2,187.3 98.2,161.1 144.1,187.2 153.1,171.6 98.3,140.4 98.2,140.3
		98.2,140.4 98.2,140.3 98.1,140.4 54.3,165 54.3,24.3 98.2,48.8 	"/>
    <polyline v-if="name === 'Eoh'" class="theme-point" fill="#3E4C5B" points="99.3,172.2 99.3,171.2 99.3,170.2 99.3,118.2 99.3,69.2 99.3,29.2 99.3,26.2 165.2,60.9
		174.2,45.4 174.2,45.4 174.2,45.4 91.6,0 81.3,14.2 81.3,14.2 81.3,15.2 81.3,17.2 81.3,29.2 81.3,69.2 81.3,118.2 81.3,162.3
		16.4,127.9 7.3,143.2 16.3,148.2 16.3,148.2 91.2,187.4 99.3,173.2 	"/>
    <polygon v-if="name === 'Algiz'" class="theme-point" fill="#3E4C5B" points="175.7,54.4 166.5,38.1 99.2,77.4 99.3,0 81.2,0 81.2,78 14.8,38.9 4.8,54.4 81.3,99
		81.3,187.2 99.3,187.2 99.3,98.9 	"/>
    <polygon v-if="name === 'Sol'" class="theme-point" fill="#3E4C5B" points="54.3,103.7 54.3,0 36.2,0 36.3,114.2 36.2,124.3 36.2,135.3 129.3,81.6 129.3,187.2
		147.3,187.2 147.3,71.2 147.3,62.2 147.3,49.2 	"/>
    <polyline v-if="name === 'Tyr'" class="theme-point" fill="#3E4C5B" points="91.6,0 5.8,45.4 14.8,60.9 81.6,25.7 81.3,26.6 81.3,187.2 99.3,187.2 99.3,26.3
		165.2,60.9 174.2,45.4 91.6,0 	"/>
    <path v-if="name === 'Bjarka'" class="theme-point" fill="#3E4C5B" d="M68.3,93.7l70.1-43.8l-2-1.1l-2.4-1.3L50.4,0L36.3,14.2v56v47v56l13,14l89.1-48.7 M54.3,24.3
		l47.2,26.5L54.3,80.5V70.2V24.3z M54.3,117.2v-10.3l47.3,29.8l-47.3,26.5V117.2z"/>
    <polyline v-if="name === 'Eh'" class="theme-point" fill="#3E4C5B" points="163.6,0.4 91.3,43.7 19.6,0.8 19.6,0.8 18.3,0 18.3,187.2 36.3,187.2 36,31.5 91.2,63.6
		91.2,63.7 91.3,63.6 91.3,63.7 91.3,63.6 146.5,31.5 146.3,187.2 164.3,187.2 164.3,0 	"/>
    <path v-if="name === 'Madr'" class="theme-point" fill="#3E4C5B" d="M163.6,0.4L91.3,43.7L19.6,0.8L18.3,0l0,187.2h18l-0.1-91.8l55-31.9l0,0l0,0l0,0l0,0l0,0l0.1,0
		l55,31.9l-0.1,91.8h18V0L163.6,0.4z M36.1,74.6l0-26.6v0V31.6l16.4,9.5l20.8,12.1L36.1,74.6z M109.3,53.1l12.2-7.1l3.3-1.9
		l21.7-12.5V48l0,26.6L109.3,53.1z"/>
    <polyline v-if="name === 'Lagu'" class="theme-point" fill="#3E4C5B" points="147.1,54.8 50.4,0 36.3,14.2 36.3,14.2 36.3,15.2 36.3,17.2 36.3,118.2 36.3,187.2
		54.3,187.2 54.3,118.2 54.4,24.3 138.1,70.4 147.1,54.8"/>
    <path v-if="name === 'Ing'" class="theme-point" fill="#3E4C5B" d="M180.4,92.7l-15.7-15.7l-58.8-58.6l0,0L90.2,2.6L89,3.9L74.5,18.4l0,0L15.7,76.9L0,92.7l15.7,15.7
		l58.8,58.6l0,0L89,181.4l1.2,1.2l15.7-15.7l0,0l58.8-58.6L180.4,92.7z M90.2,157.9L25,92.7l65.2-65.2l65.2,65.2L90.2,157.9z"/>
    <path v-if="name === 'Odal'" class="theme-point" fill="#3E4C5B" d="M145.5,64.6l1.9-2L90.2,2.4L33,62.6l1.4,1.5l44.2,48.8l-55.8,60.8l11.7,12.2L90,125.3l55.6,60.6
		l12.2-12.2l-56.3-60.8L145.5,64.6L145.5,64.6z M125.7,61.6L90,100.5l-35-38.1l35.3-36.3L125.7,61.6z"/>
    <path v-if="name === 'Dagaz'" class="theme-point" d="M177.3,26.7l-0.3,0.1l-85.4,56L10.7,30.8l-5.4-3.5v129l0,0.6l1-0.6l84.6-52.4l86.4,53.3l0-3.9
		v-126L177.3,26.7z M23.3,123.6V62.9l50.9,30.4L23.3,123.6z M159.3,125.6l-50.9-32.2l50.9-33.6V125.6z"/>
    <polygon v-if="name === 'Feh'" class="theme-point" fill="#3E4C5B" points="137.7,74.2 54.3,126.5 54.3,85.8 147.3,31.1 138.3,15.5 54.3,64 54.3,1.2 54.3,0.2
		53.9,0.2 36.9,0.2 36.3,0.2 36.3,1.2 36.3,187.2 54.3,187.2 54.3,148.1 146.7,89.8"/>
  </svg>

</template>

<script>
  export default {
    name: "MeadowsRunes",
    props: {
      name: String,
      height: String
    }
  }
</script>

<style scoped>
  .theme-point {
    fill: #CEA662;
  }
</style>
