<template>
  <div class="wheel" @keyup.left="prev()" @keyup.right="next()">
    <!--<Loader></Loader>-->
    <svg width="100%" height="100%" viewBox="0 0 960 1080" style="margin: 0 7px; transform: translateX(-7px);">
      <defs>
        <clipPath id="hex-clip-path">
          <polygon fill="#B3B3B3"
                   points="224.86,188.75 224.86,63.02 116.98,0.15 9.11,63.02 9.11,188.75 116.98,251.62"/>
        </clipPath>
        <filter id="inset-shadow" x="-50%" y="-50%" width="200%"
                height="200%">
          <feComponentTransfer in=SourceAlpha>
            <feFuncA type="table" tableValues="1 0"/>
          </feComponentTransfer>
          <feGaussianBlur stdDeviation="4"/>
          <feOffset dx="0" dy="5" result="offsetblur"/>
          <feFlood flood-color="rgb(50, 50, 50)" result="color"/>
          <feComposite in2="offsetblur" operator="in"/>
          <feComposite in2="SourceAlpha" operator="in"/>
          <feMerge>
            <feMergeNode in="SourceGraphic"/>
            <feMergeNode/>
          </feMerge>
        </filter>

      </defs>

      <g id="wheel" transform="scale(1.05) translate(-23 10)">
        <g id="wheel-bg">
          <polygon fill="#6A7882" points="480,985 365.4,970.5 258,927.9 164.5,859.8 90.8,770.6 41.6,665.9 20,552.2 27.3,436.6 63,326.5
		124.9,228.8 209.1,149.6 310.3,93.8 422.2,65 537.8,65 649.7,93.8 750.9,149.6 835.1,228.8 897,326.5 932.7,436.6 940,552.2
		918.4,665.9 869.2,770.6 795.5,859.8 702,927.9 594.6,970.5 	"/>
        </g>
        <g id="card">
          <polygon id="card-bg" class="st9"
                   points="483.2,192.1 757.7,352.9 757.7,719.6 483.2,865.8 207.9,719.2 207.9,353.6 		"/>
          <path id="card-frame" class="st10" d="M483.2,192.1L207.9,353.6v365.5l275.3,146.6l274.5-146.2V352.9L483.2,192.1z M747.4,710.8
			H217.7l0.2-226.8h529.5V710.8z M747.3,444.2L218,444.3l0-84.9l265.2-154.2l264.2,153.9L747.3,444.2z"/>

          <MeadowsRunes :name="selectedRune.name"></MeadowsRunes>

          <g class="rune-name-ru">
            <polygon id="card-title" fill="#224B5C"
                     points="583.4,448.1 379.9,448.1 370.3,463.9 379.9,479.7 583.4,479.7 593,463.9"/>
            <foreignObject class="title-ru">
              <div class="title-ru-wrapper">
                <h2 class="name">{{selectedRune.name}}</h2>
              </div>
            </foreignObject>
          </g>

          <g class="arrow right" @click="next">
            <polygon class="bg" fill="#C1A875" points="630.2,480 599,480 606.8,464 599,448 630.2,448 638,464"/>
            <polygon class="top" fill="#E5D0A4" points="598,448 629.2,448 630.4,450.4 599.2,450.4"/>
            <polygon class="left-top" fill="#97743A" points="608.1,464 605.8,464 599.2,450.4 601.5,450.4"/>
            <polygon class="left-bottom" fill="#C1A875" points="605.8,464 608.1,464 601.5,477.6 599.2,477.6"/>
            <polyline class="bottom" fill="#97743A" points="598,480 629.3,480 637,464 634.7,464 627.6,477.6 599.2,477.6"/>
          </g>
          <g class="arrow left" @click="prev">
            <polygon class="bg" fill="#C1A875" points="326,464 333.6,448 364,448 356.4,464 364,480 333.6,480"/>
            <polyline class="top" fill="#E5D0A4" points="364,448 362.86,450.4 334.74,450.4 328.28,464 326,464 333.6,448"/>
            <polygon class="right" fill="#97743A" points="364,448 361.72,448 354.12,464 356.4,464"/>
            <polygon class="bottom" fill="#97743A" points="333.6,480 332.46,477.6 362.86,477.6 364,480"/>
          </g>

          <foreignObject @click="readMore" class="description-wrapper">
            <!--<Loader></Loader>-->
            <div class="description-short" v-html="selectedRune.description">
            </div>
            <a @click="readMore"
               class="readmore is-pulled-left">расширенное описание руны</a>
          </foreignObject>
          <Button x="35%" y="67%">
            <template v-slot:link>
              <a class="link" @click="aboutRune">О РУННОМ СТРОЕ</a>
            </template>
          </Button>
          <TemeorButton x="41.2%" y="72%">
            <template v-slot:temeor-link>
              <a class="temeor-link" href="/">
<!--                Темеор-->
              </a>
            </template>
          </TemeorButton>
        </g>
        <g id="runes">
          <linearGradient id="gradient-gold">
            <stop offset="10%" stop-color="#D0A967"/>
            <stop offset="75%" stop-color="#97743A"/>
            <stop offset="100%" stop-color="#694B19" stop-opacity=".75"/>
          </linearGradient>
          <g class="rune" @click="selectRune(runes['Ur'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Ur'}"
                     points="436.6,163.6 523.4,163.6 535.1,70 424.8,70"/>
            <g id="Ur">
              <polygon class="rune-hex" points="515,136 515,96 480,76 445,96 445,136 480,156"/>
              <g>
                <defs>
                  <polygon id="SVGID_1_" points="515,136 515,96 480,76 445,96 445,136 480,156 						"/>
                </defs>
                <clipPath id="SVGID_2_">
                  <use xlink:href="#SVGID_1_" style="overflow:visible;"/>
                </clipPath>
                <polygon class="rune-symbol" points="480,76 472,80 472,150 480,150 480,85 507,100.5 507,136 515,136 515,96"/>
              </g>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Thurs'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Thurs'}"
                     points="527.3,164.1 611,185.6 645.6,97.9 539.1,70.5"/>
            <g>
              <polygon class="rune-hex" points="614,149 614,109 579,89 544,109 544,149 579,169"/>
            </g>
            <path id="Thurs" class="rune-symbol"
                  d="M614,129l-31-17.8V93h-8v72h8v-18.2L614,129z M598.3,129.3l-15.3,8.5v-17.3L598.3,129.3z"/>
          </g>
          <g class="rune" @click="selectRune(runes['Ass'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Ass'}"
                     points="614.8,187 690.8,228.9 746.1,152.6 649.3,99.3"/>
            <polygon class="rune-hex" points="710,187 710,147 675,127 640,147 640,187 675,207"/>
            <polygon class="rune-symbol st22" points="675,136 705.8,153.8 709.8,146.8 675,126.7 675,126 673.7,126 673,125.6 672.7,126 667,126
					667,201 675,201 675,160 705.8,177.8 709.8,170.8 675,150.7 				"/>
            <g id="Ass">
              <defs>
                <polygon id="SVGID_3_" points="710,187 710,147 675,127 640,147 640,187 675,207 					"/>
              </defs>
              <clipPath id="SVGID_4_">
                <use xlink:href="#SVGID_3_" style="overflow:visible;"/>
              </clipPath>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Feh'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Feh'}"
                     points="269.1,229 344.7,187.3 310.2,99.6 213.9,152.6"/>
            <g>
              <polygon class="rune-hex" points="318.6,187 318.6,147 283.6,127 248.6,147 248.6,187 283.6,207"/>
            </g>
            <polygon id="Feh" class="rune-symbol" points="317.9,162.8 313.9,155.9 283.6,173.3 283.6,158.6 307,145.1 303,138.1 283.6,149.3
				283.6,133 275.6,133 275.6,201 283.6,201 283.6,182.6"/>
          </g>
          <g class="rune" @click="selectRune(runes['Reid'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Reid'}"
                     points="694.1,231.2 757.4,290.7 829.8,230.6 749.3,154.9"/>
            <g>
              <polygon class="rune-hex" points="793.7,246.5 793.7,206.5 758.7,186.5 723.7,206.5 723.7,246.5 758.7,266.5"/>
            </g>
            <g id="Reid">
              <defs>
                <polygon id="SVGID_5_"
                         points="793.7,246.5 793.7,206.5 758.7,186.5 723.7,206.5 723.7,246.5 758.7,266.5 					"/>
              </defs>
              <clipPath id="SVGID_6_">
                <use xlink:href="#SVGID_5_" style="overflow:visible;"/>
              </clipPath>
              <path class="rune-symbol st23" d="M793.7,206.5L793.7,206.5l0.8-0.5l-4-6.9l-4.9,2.8l-26.9-15.6v-0.7h-1.3l-0.8-0.4l-0.3,0.4h-5.7v75h8v-29
					l29.3,16.9l4-6.9l-29.9-17.3l31.2-17.5L793.7,206.5z M777.5,206.3l-18.8,10.6v-21.5L777.5,206.3z"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Ken'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Ken'}"
                     points="760,293.8 806.3,366.9 891.2,326.7 832.4,233.7"/>

            <polygon class="rune-hex"
                     points="859,326.6 859,286.6 824,266.6 789,286.6 789,326.6 824,346.6"/>
            <polygon id="Ken" class="rune-symbol"
                     points="843,284.4 838.9,277.5 790.1,307.1 838.5,336.5 842.6,329.7 804.6,307.1"/>
          </g>
          <g class="rune" @click="selectRune(runes['Gifu'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Gifu'}"
                     points="893,330.2 808.1,370.4 834.8,452.9 927,434.9 "/>
            <polygon class="rune-hex" points="901,416.6 901,376.6 866,356.6 831,376.6 831,416.6 866,436.6"/>
            <polygon id="Gifu" class="rune-symbol" points="899.2,382.1 895.2,375.1 866,392 836.8,375.1 832.8,382.1 858,396.6 832.8,411.1
				836.8,418.1 866,401.2 895.2,418.1 899.2,411.1 874,396.6"/>
          </g>
          <g class="rune" @click="selectRune(runes['Wynja'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Wynja'}"
                     points="835.8,456.7 841.2,543.3 934.9,549.6 927.9,438.8"/>
            <polygon class="rune-hex st19" points="919.7,517.5 919.7,477.5 884.7,457.5 849.7,477.5 849.7,517.5 884.7,537.5"/>
            <g>
              <defs>
                <polygon id="SVGID_7_"
                         points="919.7,517.5 919.7,477.5 884.7,457.5 849.7,477.5 849.7,517.5 884.7,537.5 					"/>
              </defs>
              <clipPath id="SVGID_8_">
                <use xlink:href="#SVGID_7_" style="overflow:visible;"/>
              </clipPath>
              <path class="rune-symbol st24" d="M919.7,477.5L919.7,477.5l0.8-0.5l-4-6.9l-4.9,2.8l-26.9-15.6v-0.7h-1.3l-0.8-0.4l-0.3,0.4h-5.7v75h8
					v-34.4l34.6-19.5L919.7,477.5z M884.7,466.5l18.8,10.9L884.7,488V466.5z"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Hagal'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Hagal'}"
                     points="841.2,547.3 825,632.6 914,662 934.7,553.6 "/>
            <polygon class="rune-hex"
                     points="914.3,619.3 914.3,579.3 879.3,559.3 844.3,579.3 844.3,619.3 879.3,639.3"/>
            <polygon id="Hagal" class="rune-symbol" points="898.3,575.3 898.3,605.7 860.3,583.8 860.3,575.3 852.3,575.3 852.3,623.3 860.3,623.3
				860.3,593 898.3,614.9 898.3,623.3 906.3,623.3 906.3,575.3"/>
          </g>
          <g class="rune" @click="selectRune(runes['Naud'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Naud'}"
                     points="824,636.5 787.1,715.1 866.1,765.6 912.9,665.8"/>
            <polygon class="rune-hex" points="883.1,715.4 883.1,675.4 848.1,655.4 813.1,675.4 813.1,715.4 848.1,735.4"/>
            <polygon class="rune-symbol" points="872.2,704.6 852.1,693.1 852.1,659.4 844.1,659.4 844.1,688.5 828.1,679.2 824.1,686.1
				844.1,697.7 844.1,731.4 852.1,731.4 852.1,702.3 868.2,711.6"/>
          </g>
          <g class="rune" @click="selectRune(runes['Iss'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Iss'}"
                     points="785.2,718.6 729.9,785.6 793.8,854.1 864,769"/>
            <polygon class="rune-hex" points="828.8,800.9 828.8,760.9 793.8,740.9 758.8,760.9 758.8,800.9 793.8,820.9"/>
            <rect id="Iss" x="789.8" y="744.9" class="rune-symbol st21" width="8" height="72"/>
          </g>
          <g class="rune" @click="selectRune(runes['Jara'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Jara'}"
                     points="727.2,788.6 656.7,839.9 701.5,922.1 791,857"/>
            <g>
              <polygon class="rune-hex"
                       points="755,872.9 755,832.9 720,812.9 685,832.9 685,872.9 720,892.9"/>
            </g>
            <g id="Jara">
              <polygon class="rune-symbol"
                       points="720.9,856.8 699.7,844.4 721,831.9 716.9,825.1 685.6,844.1 685.1,844.4 685.1,844.4 685.1,844.4
					685.5,844.7 716.7,863.6"/>
              <polygon class="rune-symbol"
                       points="755,858.4 755,858.4 754.5,858.1 723.2,839.1 719.1,845.9 740.4,858.4 719.2,870.8 723.4,877.6
					754.6,858.7 755,858.4"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Pertra'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Pertra'}"
                     points="653.3,842 572.1,874.2 595.2,964.9 698.1,924.1"/>
            <polygon class="rune-hex"
                     points="665.3,923 665.3,883 630.3,863 595.3,883 595.3,923 630.3,943"/>
            <g id="Pertra">
              <defs>
                <polygon id="SVGID_9_" points="665.3,923 665.3,883 630.3,863 595.3,883 595.3,923 630.3,943 					"/>
              </defs>
              <clipPath id="SVGID_10_">
                <use xlink:href="#SVGID_9_" style="overflow:visible;"/>
              </clipPath>
              <polygon class="rune-symbol st25" points="611.3,925.2 611.3,881 629.1,891.3 649.7,880.7 645.8,873.2 629.2,882.1 606.4,868.9 602.4,875.8
					603.7,876.6 603.3,876.6 603.3,929.6 603.7,929.6 602.4,930.4 606.4,937.3 629.2,924.1 645.8,933 649.7,925.5 629.1,914.9
					"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Eoh'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Eoh'}"
                     points="568.3,875.2 481.8,886.2 481.8,979.8 591.3,965.9"/>
            <g>
              <polygon class="rune-hex" points="565.4,949 565.4,909 530.4,889 495.4,909 495.4,949 530.4,969"/>
            </g>
            <g id="Eoh">
              <defs>
                <polygon id="SVGID_11_"
                         points="565.4,949 565.4,909 530.4,889 495.4,909 495.4,949 530.4,969 					"/>
              </defs>
              <clipPath id="SVGID_12_">
                <use xlink:href="#SVGID_11_" style="overflow:visible;"/>
              </clipPath>
              <polygon class="rune-symbol st26" points="565.2,908.4 534.4,890.6 534.4,887.6 526.4,887.6 526.4,958.5 499.5,943 495.5,949.9 526.4,967.7
					526.4,969.6 534.4,969.6 534.4,899.9 561.2,915.4 				"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Algiz'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Algiz'}"
                     points="477.5,886.1 391.1,875.2 368.3,965.9 477.8,979.7 			"/>
            <g>
              <polygon class="rune-hex st19"
                       points="464.4,948.6 464.4,908.6 429.4,888.6 394.4,908.6 394.4,948.6 429.4,968.6 				"/>
            </g>
            <polygon id="Algiz" class="rune-symbol st21" points="462,914.4 458,907.5 433.4,921.7 433.4,892.6 425.4,892.6 425.4,921.7 401,907.6
				397,914.5 425.4,930.9 425.4,964.6 433.4,964.6 433.4,930.9"/>
          </g>
          <g class="rune" @click="selectRune(runes['Sol'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Sol'}"
                     points="387.3,874 306.3,841.8 261.7,924 364.4,964.8 			"/>
            <g>
              <polygon class="rune-hex st19"
                       points="364.6,922.7 364.6,882.7 329.6,862.7 294.6,882.7 294.6,922.7 329.6,942.7 				"/>
            </g>
            <polyline id="Sol" class="rune-symbol st21" points="348.6,899.5 348.6,926.7 356.6,926.7 356.6,894.7 356.6,886.7 310.6,907.7 310.6,878.7
				302.6,878.7 302.6,920.7 			"/>
          </g>
          <g class="rune" @click="selectRune(runes['Tyr'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Tyr'}"
                     points="303,839.6 232.9,788.7 169.3,857.2 258.2,922 			"/>
            <g>
              <polygon class="rune-hex st19"
                       points="273.4,872.3 273.4,832.3 238.4,812.3 203.4,832.3 203.4,872.3 238.4,892.3 				"/>
            </g>
            <g id="Tyr">
              <defs>
                <polygon id="SVGID_13_"
                         points="273.4,872.3 273.4,832.3 238.4,812.3 203.4,832.3 203.4,872.3 238.4,892.3 					"/>
              </defs>
              <clipPath id="SVGID_14_">
                <use xlink:href="#SVGID_13_" style="overflow:visible;"/>
              </clipPath>
              <polygon class="rune-symbol st27" points="273.2,831.7 242.4,813.9 242.4,810.9 234.4,810.9 234.4,813.9 203.5,831.7 207.5,838.7
					234.4,823.1 234.4,889 242.4,889 242.4,823.2 269.2,838.7 				"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Bjarka'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Bjarka'}"
                     points="230.2,785.7 174.8,718.7 96.2,769.3 166.5,854.4 			"/>
            <g>
              <polygon class="rune-hex st19"
                       points="201.3,800.2 201.3,760.2 166.3,740.2 131.3,760.2 131.3,800.2 166.3,820.2 				"/>
            </g>
            <g id="Bjarka">
              <defs>
                <polygon id="SVGID_15_"
                         points="201.3,800.2 201.3,760.2 166.3,740.2 131.3,760.2 131.3,800.2 166.3,820.2 					"/>
              </defs>
              <clipPath id="SVGID_16_">
                <use xlink:href="#SVGID_15_" style="overflow:visible;"/>
              </clipPath>
              <path class="rune-symbol st28" d="M202.1,759.7l-4-6.9l-4.4,2.5l-28.4-16.5l-0.8,1.4h-6.2v81h8v-0.8l27.2-15.7l3.7,2.4l4.4-6.7l-33.3-21.7
					L202.1,759.7z M166.3,770.7v-22.1l19.3,11.2L166.3,770.7z M166.3,811.2V787l19.7,12.8L166.3,811.2z"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Eh'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Eh'}"
                     points="172.9,715.2 135.9,636.4 47,665.7 94.1,765.9 			"/>
            <g>
              <polygon class="rune-hex st19"
                       points="146.3,715.1 146.3,675.1 111.3,655.1 76.3,675.1 76.3,715.1 111.3,735.1 				"/>
            </g>
            <g id="Eh">
              <defs>
                <polygon id="SVGID_17_"
                         points="146.3,715.1 146.3,675.1 111.3,655.1 76.3,675.1 76.3,715.1 111.3,735.1 					"/>
              </defs>
              <clipPath id="SVGID_18_">
                <use xlink:href="#SVGID_17_" style="overflow:visible;"/>
              </clipPath>
              <polygon class="rune-symbol st29" points="149,674 146.3,669.4 146.3,667.1 145,667.1 145,667.1 144.9,667.1 138.3,667.1 138.3,670.9
					111.7,686.3 84.3,670.5 84.3,667.1 78.5,667.1 77,666.3 76.6,667.1 76.3,667.1 76.3,667.5 73,673.2 76.3,675.1 76.3,715.1
					84.3,715.1 84.3,679.7 111.5,695.4 111.7,695.5 111.9,695.4 138.3,680.2 138.3,715.1 146.3,715.1 146.3,675.5 				"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Madr'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Madr'}"
                     points="118.8,547.5 99.9,548.7 25.4,553.7 45.9,661.8 135,632.5 			"/>
            <g>
              <polygon class="rune-hex st19"
                       points="116.4,618.1 116.4,578.1 81.4,558.1 46.4,578.1 46.4,618.1 81.4,638.1 				"/>
            </g>
            <g id="Madr">
              <defs>
                <polygon id="SVGID_19_"
                         points="116.4,618.1 116.4,578.1 81.4,558.1 46.4,578.1 46.4,618.1 81.4,638.1 					"/>
              </defs>
              <clipPath id="SVGID_20_">
                <use xlink:href="#SVGID_19_" style="overflow:visible;"/>
              </clipPath>
              <path class="rune-symbol st30" d="M116.4,577.7l4.5-1.9l-3.1-7.4l-3.9,1.7h-5.4v2.3L81,584l-26.6-11.3v-2.6h-6.2l-3.9-1.7l-3.1,7.4l5.3,2.2
					v20.6l-5.3,2.2l3.1,7.4l2.1-0.9v10.8h8V604L81,592.7l27.4,11.6v13.9h8v-10.5l1.4,0.6l3.1-7.4l-4.5-1.9V577.7z M54.4,595.3v-13.8
					l16.4,6.9L54.4,595.3z M91.3,588.4l17.1-7.2v14.5L91.3,588.4z"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Lagu'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Lagu'}"
                     points="118.8,543.5 124.2,456.7 32.1,439.2 25.1,549.7 			"/>
            <g>
              <polygon class="rune-hex st19"
                       points="109.3,517.6 109.3,477.6 74.3,457.6 39.3,477.6 39.3,517.6 74.3,537.6 				"/>
            </g>
            <g id="Lagu">
              <defs>
                <polygon id="SVGID_21_"
                         points="109.3,517.6 109.3,477.6 74.3,457.6 39.3,477.6 39.3,517.6 74.3,537.6 					"/>
              </defs>
              <clipPath id="SVGID_22_">
                <use xlink:href="#SVGID_21_" style="overflow:visible;"/>
              </clipPath>
              <polygon class="rune-symbol st31"
                       points="109.1,477 78.3,459.2 78.3,456.2 70.3,456.2 70.3,534 78.3,534 78.3,468.4 105.1,483.9 				"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Ing'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Ing'}"
                     points="125.2,452.8 152,370.2 67,330.2 32.9,435.3 			"/>
            <g>
              <polygon class="rune-hex st19" points="128,416.3 128,376.3 93,356.3 58,376.3 58,416.3 93,436.3 				"/>
            </g>
            <path id="Ing" class="rune-symbol st21"
                  d="M93,374.8l-35,22l35,21l35-21L93,374.8z M72.7,396.6L93,383.8l20.3,12.8L93,408.8L72.7,396.6z"/>
          </g>
          <g class="rune" @click="selectRune(runes['Odal'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Odal'}"
                     points="153.8,366.7 200,293.8 127.6,233.8 68.8,326.6 			"/>
            <g>
              <polygon class="rune-hex st19" points="172,325.8 172,285.8 137,265.8 102,285.8 102,325.8 137,345.8 				"/>
            </g>
            <g id="Odal">
              <defs>
                <polygon id="SVGID_23_"
                         points="172,325.8 172,285.8 137,265.8 102,285.8 102,325.8 137,345.8 					"/>
              </defs>
              <clipPath id="SVGID_24_">
                <use xlink:href="#SVGID_23_" style="overflow:visible;"/>
              </clipPath>
              <path class="rune-symbol st32" d="M174.7,288.7l-4-6.9l-2.8,1.6l-28.6-16.5l-1.4-2.5l-1.4,0.8l-1.4-0.8l-1.4,2.5l-28,16.2l-3.8-2.2l-4,6.9
					l31.3,18.1l-25.5,14.7l4,6.9l29.5-17l29.5,17l4-6.9L145,305.8L174.7,288.7z M113.5,287.7l22.9-13.2l23.5,13.6L137,301.2
					L113.5,287.7z"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Dagaz'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Dagaz'}"
                     points="202.6,290.7 265.8,231.3 210.7,154.9 130.2,230.7 			"/>
            <g>
              <polygon class="rune-hex st19"
                       points="235.2,248.2 235.2,208.2 200.2,188.2 165.2,208.2 165.2,248.2 200.2,268.2 				"/>
            </g>
            <g id="Dagaz">
              <defs>
                <polygon id="SVGID_25_"
                         points="235.2,248.2 235.2,208.2 200.2,188.2 165.2,208.2 165.2,248.2 200.2,268.2 					"/>
              </defs>
              <clipPath id="SVGID_26_">
                <use xlink:href="#SVGID_25_" style="overflow:visible;"/>
              </clipPath>
              <path class="rune-symbol st33" d="M235.2,212.7l2.7-1.5l-4-6.9l-33.7,19.4l-35.3-20.4l-4,6.9l4.3,2.5v31.2l-3.4,2l4,6.9l34.4-19.9l33.3,19.3
					l4-6.9l-2.3-1.4V212.7z M173.2,239.2v-21.9l19,11L173.2,239.2z M227.2,217.3v21.9l-19-11L227.2,217.3z"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Wyrt'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Wyrt'}"
                     points="348.4,185.8 432.6,164.1 420.8,70.5 313.9,98 			"/>
            <polygon class="rune-hex st19" points="414,149 414,109 379,89 344,109 344,149 379,169 			"/>
          </g>
        </g>
      </g>
      <g id="flags">
        <polygon class="flags-figure" points="563.2,10.1 402.5,10.1 402.5,10.1 333.9,16.8 333.9,56.9 402.6,50.2 563.2,50.2 620.9,56.9
		620.9,16.8 	"/>
        <foreignObject class="title-en-wrapper">
          <h2 class="title-en">Руны Медоуза</h2>
        </foreignObject>

      </g>
      <g id="menu">
        <g class="link-group back">
          <polygon class="link-bg" fill="#C1A875" points="24.6,84.5 11.9,62.7 24.6,41 263.3,41 275.9,62.7 263.3,84.5"/>
          <polygon fill="#E5D0A4" points="265.2,44.3 26.7,44.3 15.1,62.7 11.9,62.7 24.6,41 263.3,41"/>
          <polygon fill="#97743A" points="22.7,81.2 261.2,81.2 272.8,62.7 275.9,62.7 263.3,84.5 24.6,84.5"/>
          <foreignObject class="link-wrapper">
            <a href="/#/" class="link">НАЗАД В МЕНЮ</a>
          </foreignObject>
        </g>
        <g class="link-group home">
          <polygon class="link-bg" fill="#C1A875" points="696.7,84.5 684,62.7 696.7,41 935.4,41 948,62.7 935.4,84.5"/>
          <polygon fill="#E5D0A4" points="937.3,44.3 698.8,44.3 687.2,62.7 684,62.7 696.7,41 935.4,41"/>
          <polygon fill="#97743A" points="694.8,81.2 933.3,81.2 944.9,62.7 948,62.7 935.4,84.5 696.7,84.5"/>
          <foreignObject class="link-wrapper">
            <a href="/#/" class="link">НА ГЛАВНУЮ</a>
          </foreignObject>
        </g>
      </g>
    </svg>

  </div>
</template>

<script>
  import ReadMoreModal from "@/components/ReadMoreModal";
  import AboutRunesModal from "@/components/AboutRunesModal";
  import MeadowsRunes from "@/components/MeadowsRunes";
  import Button from "@/components/Button";
  import { Subject } from "rxjs";
  import PostsService from "@/services/posts-service";
  import Loader from "@/components/ui/Loader";
  import TemeorButton from "@/components/TemeorButton";


  export default {
    name: "Meadows",
    components: { Loader, ReadMoreModal, MeadowsRunes, Button, TemeorButton, AboutRunesModal },
    props: {
      defaultRune: String
    },
    computed: {
      prevRune() {
        const names = Object.keys(this.runes);
        const prevIndex = names.indexOf(this.selectedRune.name.replace(/\s/g, '')) - 1;
        if (names[prevIndex]) {
          return this.runes[names[prevIndex]];
        } else {
          return this.runes[names[names.length - 1]];
        }
      },
      nextRune() {
        const names = Object.keys(this.runes);
        const nextIndex = names.indexOf(this.selectedRune.name.replace(/\s/g, '')) + 1;
        if (names[nextIndex]) {
          return this.runes[names[nextIndex]];
        } else {
          return this.runes[names[0]];
        }
      },
      runeNames() {
        return Object.keys(this.runes);
      },
      runeKeys() {
        return Object.keys(this.runes);
      }
    },
    created() {
      this.selectedRune = this.runes[this.defaultRune];
      this.runes[this.defaultRune].active = true;
      if (typeof window !== 'undefined') {
        document.addEventListener('keyup', this.keyPress)
      }
      this.swipeRuneSubscription = this.swipeRune$.subscribe((eventName) => {
        switch (eventName) {
          case 'next':
            this.next();
            break;
          case 'prev':
            this.prev();
            break;
          default:
            return;
        }
      });
    },
    beforeDestroy() {
      this.swipeRuneSubscription.unsubscribe();
    },
    methods: {
      setPost(id){
        this.loadingPost = true;
        return PostsService.getPost(id).then((response) => {
          this.selectedRune.description = response.data.content.rendered;
          this.loadingPost = false;
        });
      },
      readMore(event) {
        if (event) event.stopPropagation();
        this.modalInstance = this.$buefy.modal.open({
          parent: this,
          component: ReadMoreModal,
          hasModalCard: true,
          props: {
            order: 'Meadows',
            rune: this.selectedRune,
            rune$: this.rune$,
            swipeRune$: this.swipeRune$,
            hasHeaderIcon: false,
            hasRuneSymbol: true
          }
        });
      },
      aboutRune(event) {
        if (event) event.stopPropagation();
        this.modalInstance = this.$buefy.modal.open({
          parent: this,
          component: AboutRunesModal,
          hasModalCard: true,
          props: {
            order: 'Meadows',
            aboutRow: this.aboutRuneRow,
            headRowTitle: this.headTitle
          }
        });
      },
      keyPress({ keyCode }) {
        switch (keyCode) {
          case 37:
            this.prev();
            break;
          case 39:
            this.next();
            break;
          case 13:
            this.readMore();
            break;
          default:
            return;
        }
      },

      prev() {
        this.selectRune(this.prevRune);
        this.updateModalContent();
      },
      next() {
        this.selectRune(this.nextRune);
        this.updateModalContent();
      },
      updateModalContent() {
        if (this.modalInstance) {
          this.rune$.next(this.selectedRune);
        }
      },
      async selectRune(rune) {
        this.selectedRune = rune;
        await this.setPost(rune.wpId);
        for (let name in this.runes) {
          this.runes[name].active = false;
        }
        rune.active = true;
      }
    },
    data() {
      return {
        headTitle: 'Руны Медоуза',
        loadingPost: false,
        swipeRuneSubscription: null,
        modalInstance: null,
        swipeRune$: new Subject(),
        rune$: new Subject(),
        selectedRune: null,
        aboutRuneRow: '<p>Английский практик Кеннет Медоуз (Kenneth Meadows, 1925 - 2002) излагал в своих работах принципы рунического шаманизма – знания и навыки, передаваемые устно на протяжении многих веков среди народов Северной Европы, Скандинавии и Исландии. Он видел в этом подходе пользу погружения для людей и обретения через руны полного понимания окружающего мира, познания смысла и предназначения своей жизни.</p>' +
            '<p>Его рунный строй основывался на теории Утарка, впервые опубликованной шведским профессором филологии Сигурдом Агреллом в 1932 году, где обосновывался подход, ставящий первой и исходной руной Урус, а не Феху, как это было принято ранее.</p>' +
            '<p>По мнению Медоуза, первоначально руны располагались по кругу, отражая циклические процессы природы и Вселенной, и были более сродни духовным принципам Знахарского Колеса американских индейцев, поэтому его руны представляют не ряд, а годовой замкнутый цикл* и руна УР начинает цикл 1 января, а руна ФЕ завершает его 31 декабря. Начало цикла с УР по первым буквам названия рун и дает название У. Т. А. Р. К.</p>' +
            '<p>Он считал, что добиться более полного понимания рун можно, только если рассматривать их не в линейной последовательности, а в круговой, отражающей естественное развитие природных процессов. Круг является важным компонентом в работе с рунами, обозначающий границы Священного Пространства: места, выделенного для духовной работы, отличающейся от повседневной деятельности. Его сила отклоняет нежелательные и вредоносные воздействия. Круг служит средством для концентрации энергии, направленной на достижение конкретной цели, поэтому его не следует воспринимать как плоский, двухмерный образ. Это сияющая, светоносная сфера, энергетическое поле бытия и помимо влияния на время суток и времена года, руны также связаны с Луной и соответствуют фазам лунного месяца. В круговом расположении руны ассоциируются с направлениями, а специфические качества каждой руны как символы космического языка, действенного на всех уровнях бытия, влияют на то или иное направление, символизируя различные схемы явлений и законы, управляющие движением потоков энергии.</p>' +
            '<p>Каждый рунический знак – носитель потенциальной энергии, предшествующей бытию в любом проявлении и хранилище изначальной активности в природе и нас самих, создающей движение , будучи раскрытой и активированной.</p>' +
            '<p>*Примечание: разрыв цикла в описании присутствует по причине принятия К.М. идеи пустой руны и ее описание, которое также добавлено в статьи о рунах.</p>',
        runes: {
          Ur: {
            wpId: 5,
            name: 'Ur',
            ruName: 'Ур',
            description: `
              <p><b>Руна Ур</b> (Ur) U-руна (U звучит, как в слове Urn) - <b>начало всего.</b></p>
              <p><b>Потенциал:</b> «Пространство», из которого все сущее обретает бытие.</p>
              <p><b>Ключевые качества:</b> Безграничный потенциал, бесконечные возможности, обновление, высвобождение энергии, необузданная сила, внезапные перемены.</p>
              <p><b>Практическое применение:</b> Ур служит для высвобождения творческой энергии, осуществляющей внезапные перемены. Эта энергия предшествует новому циклу активности. Следовательно, она полезна там, где есть потребность в новых идеях, свежих веяниях, перемене обстановки, резком подъеме морального духа.</p>
              <p><b>Вызов:</b> Имейте мужество отказаться от вещей, в которых вы более не нуждаетесь. Это откроет для вас новые возможности.</p>
              <p><b>U-руна поможет:</b> осуществить ваши идеи, воплотить их в повседневной реальности; обновить жизненную энергию и найти в себе мужество отказаться от всего лишнего; обрести внутреннюю силу, чтобы расстаться с прошлым и начать все заново; влиять на  обстоятельства, чтобы ситуации складывались в вашу пользу; повысить вашу производительность; укрепить вашу решимость и намерение утвердить себя.</p>
              <p>U-руна или Ур идет первой, поскольку в начале всех вещей был великий первичный Хаос представлявший собой «пространство» между двумя крайностями или противоположностями и являющийся первичным материалом творения. Сила руны Ур - это «пространство» между двумя противоположностями, в котором возникает магнетическая сила притяжения и высвобождается огромная энергия слияния. Это потенциал, позволяющий вещам обретать сущность из «ничего».</p>
            `,
            active: false,
            svg: `<use href="#hex"/>
            <polygon fill="#354C5C" class="symbol" points="117,-16 117,47 117,98.2 38.6,144.3 38.6,172.3 117,126.3 117,161.2 -55.1,261.2 -42.8,282.2 117,189.3 117,243.5 117,306.5 141.5,324.4 141.5,261.4 141.5,61.8 141.5,-1.2"/>`
          },
          Thurs: {
            wpId: 9,
            name: 'Thurs',
            ruName: 'Терс',
            description: `
              <p><b>Руна Терс</b> (Thurs) Th-руна (Th звучит, как в слове The) - <b>расчистка пути.</b></p>
              <p><b>Потенциал:</b> Высвобождение силы, предвещающей новое начало, защита естественного порядка.</p>
              <p><b>Ключевые качества:</b> Пробуждение силы и инициативы, целенаправленная мощь, защита от враждебных воздействий. </p>
              <p><b>Практическое применение:</b> Полезна при необходимости устранить препятствие и расчистить путь в сложной ситуации. Содержит энергию как для защиты, так и для нападения. </p>
              <p><b>Вызов:</b> Избавьтесь от того, что мешает вам, но позаботьтесь оставить непреходящие ценности. Не делайте поспешных выводов, иначе вы можете создать больше проблем, чем решите.</p>
              <p><b>Th-руна поможет: </b> бороться   с   враждебными   влияниями; разгонять летаргию и пробуждать энтузиазм; стимулировать подсознательное «я» и приводить его в действие; устранять препятствия; уготовить почву для новых инициатив; </p>

              <p>Терс - это энергия, расчистившая путь среди случайных сил Хаоса перед появлением Космоса как удар грома, возникший из столкновения противоположностей. Разрушительная энергия и примитивная сила, заложенная в этой руне, защищающая и сохраняющая Космический порядок, направлена только против того, что враждебно и угрожает законам природы. В созидательном аспекте руна  - передатчик жизнетворной силы, сламливающий сопротивление и высвобождающий энергию, необходимую для нового начала. Хотя ее сила  направленна на устранение устаревшего и замену его чем-то лучшим, она имеет также защитный аспект, и в этом качестве рассматривается как блюститель закона и порядка. Пробуждающая сила, несущая осознание тому, что существовало в области подсознательного, хотя ее первичная цель заключается в образовании порядка из хаоса. </p>
            `,
          },
          Ass: {
            wpId: 11,
            name: 'Ass',
            ruName: 'Асс',
            description: `
              <p><b>Руна Асс </b>(Ass) А-руна  (A звучит, как в слове Ace) - <b>уста творения.</b></p>
              <p><b>Потенциал:</b> Творческое и ментальное выражение Духа.</p>
              <p><b>Ключевые качества:</b> навыки общения, творческая мысль, артистическое вдохновение, способность восприятия, применение знаний.</p>
              <p><b>Практическое применение:</b> Полезна для понимания того, что находится за пределами очевидного и получения помощи от внутреннего «я», добавляет новое измерение к любой ситуации и привносит элемент случайности; некоторые называют его «удачей».</p>
              <p><b>Вызов:</b> Учитесь общению с Природой, чтобы расширить ваши горизонты.</p>
              <p><b>А-руна поможет: </b>обрести вдохновение и новые идеи; обнаружить скрытые творческие способности и раскрыть новые таланты; усилить ваш умственный потенциал; улучшить личные взаимоотношения и навыки общения; увеличить потребление жизненной энергии; убрать барьеры, препятствующие перемещению энергии тела и разума. </p>

              <p>Сила, дышавшая в слове Творения. Как Божественное Слово породило бытие всех вещей из бесформенности Хаоса, так и Аcc является силой высвобождения Дыхания Жизни через самовыражения творческого Духа. Руна воплощает в себе энергию мысли и вдохновения, функции глубочайших уровней Разума, где раскрывается подсознательное. Сила этой руны высвобождает заблокированную энергию, необходимую для реализации перемен  через открываемые ей каналы развития Творения. Как сила, проявляющая Неявное, Аcc служит выражением способности Великого Духа находиться одновременно внутри и вовне Творения, скрываясь во множестве проявлений материального мира. Это руна восприятия и силы, передающей и принимающей ментальную энергию. </p>
            `,
          },
          Reid: {
            wpId: 13,
            name: 'Reid',
            ruName: 'Рейд',
            description: `
              <p><b>Руна Рейд </b> (Reid) R-руна (R звучит, как в слове Ride) - <b>движение и направление.</b></p>
              <p><b>Потенциал:</b> Целенаправленное движение, например вращение планет вокруг Солнца.</p>
              <p><b>Ключевые качества:</b> Размеренность, контроль и направление, ритм и равновесие, циклическое развитие, взвешенное суждение.</p>
              <p><b>Практическое применение:</b> Поскольку эта руна изменяет перспективу, она полезна, когда вам нужно обрести направление и общий взгляд на вещи.</p>
              <p><b>Вызов:</b> Обретите власть над собственной жизнью, чтобы руководить ее направлением.</p>
              <p><b>R-руна поможет:</b> расширить ваше осознание; получить доступ  к скрытому знанию; настроиться на ритмы природы и своего тела;  делать взвешенные суждения;  улучшить  ваше ощущение времени;  защитить вас от угрозы во время путешествия.</p>

              <p>Это сила движения и порядка, выраженная в четырех направлениях и четырех элементах. В энергии руны заложен потенциал  движения и сила направления. Звезд и планет. Пространства и времени, пропорций и ориентаций. Это то, что определяет четыре времени года и отмеряет прохождение времени. Это сила, управляющая Четырьмя Стихиями, делающая возможным формирование вещества и, таким образом, позволяющая завершить первую фазу Творения. Сила, создающая ритмическое действие, контролирующая циклическое и спиральное развитие, к примеру, Земли вокруг Солнца и Луны вокруг Земли, определяя порядок смены дня и ночи, а также времен года. Руна верного результата, способная держать энергию под контролем для достижения конкретной цели. </p>
            `,
          },
          Ken: {
            wpId: 15,
            name: 'Ken',
            ruName: 'Кен',
            description: `
              <p><b>Руна Кен </b>(Ken) К-руна (K  звучит, как в слове Kettle) - <b>внутренний свет.</b></p>
              <p><b>Потенциал:</b> Огонь, который приходит изнутри и дает озарение.</p>
              <p><b>Ключевые качества:</b> Ясность мысли, аналитические способности, конструктивное самовыражение, энтузиазм.</p>
              <p><b>Практическое применение:</b> Помогает разогнать темноту, окружающую непонятное, и видеть происходящее ясным взглядом.</p>
              <p><b>Вызов:</b> Убедитесь, что ваши действия направлены на достижение верного результата, чтобы не «обжечься».</p>
              <p><b>К-руна поможет: </b> выражаться четко и понятно; обрести ясность мысли; увидеть, какие изменения нужно совершить в вашей жизни; зажечь огонь энтузиазма;  превратить мертвое знание в понимание.</p>

              <p>Эта руна — озарение Духа, освещающее путь. Эта энергия света, исходящая от «внутреннего» огня и делающая возможными любые свершения. Кен - энергия пламени, разрушающего и созидающего новые формы под осознанным контролем. Внутренний свет энергии руны превращает «сырой» исходный материал в законченную вещь. Это сила в способности перестраивать себя и окружающее пространство через внутренний огонь самотрансформации. «Кен» одновременно означает «знать» и «быть способным». Рунический потенциал руны заключается не только в силе познания, но и в способности проявлять изначально присущее знание. Это свет озарения, руна внутреннего наставничества, энергия поиска и узнавания. Не само знание, но та сила, которая зажигает энтузиазм и освещает путь. </p>
            `,
          },
          Gifu: {
            wpId: 17,
            name: 'Gifu',
            ruName: 'Гифу',
            description: `
              <p><b>Руна Гифу</b> (Gifu), G-руна (G звучит, как в слове Gift) - <b>дар времени.</b></p>
              <p><b>Потенциал:</b> Отдача и получение.</p>
              <p><b>Ключевые качества:</b> Связывание и соединение, компенсация, справедливый обмен, уважение к ограничениям, щедрость и сопереживание.</p>
              <p><b>Практическое применение:</b> Помогает вам наиболее эффективно пользоваться временем и возвращать потраченное с пользой для себя.</p>
              <p><b>Вызов:</b> За все, что вы получаете, нужно предложить что-то взамен, чтобы сохранить равновесие Вселенной. Будьте готовы принять последствия своих действий.</p>
              <p><b>G-руна поможет:</b> более эффективно распоряжаться своим временем; больше отдавать и больше получать взамен; укрепить личные взаимоотношения; вступить в активное взаимодействие с вашим высшим «я».</p>

              <p>Это руна гармонии и равновесия. Гифу - это сила, позволяющая «растянуть» время, чтобы успеть сделать больше, или «замедлить» его для более подробного наблюдения и исследования . Во власти энергии шесть направлений и центр Вселенной. У руны  есть сила контролировать время, которой у человека нет. Далее, сила Гифу обеспечивает равновесие: ее уставное начертание X символизирует великое Колесо Вселенной, вращающееся вокруг своей ступицы. Все удерживается вместе в безупречном равновесии, поэтому энергия, движущаяся из одного места в другое, должна компенсироваться. Все имеет свою цену, вы не можете получить что-то, не утратив абсолютно ничего: здесь опять-таки вступает в силу обмен энергии.Уставное начертание руны отражает процесс равного обмена энергией между направлениями, посредством которого все обретает бытие.Это сила, которая одновременно связывает и направляет к гармоническому равновесию, устанавливая ограничения этого процесса, а значит - создает равновесие потоков энергии в границах Времени и потенциал для воссоединения с Источником. </p>
            `,
          },
          Wynja: {
            wpId: 19,
            name: 'Wynja',
            ruName: 'Винья',
            description: `
              <p><b>Руна Винья </b> (Wynja), W-руна (W звучит, как в слове Win) - <b>кульминатор.</b></p>
              <p><b>Потенциал:</b> Верный расчет, высвобождение энергии.</p>
              <p><b>Ключевые качества:</b> Безусловная любовь; кульминация, оргазм, радость удовлетворения.</p>
              <p><b>Практическое применение:</b> Помогает, определить наилучшее время для необходимых действий и таким образом достичь наилучших результатов.</p>
              <p><b>Вызов:</b> Все в жизни является уроком для вашей борьбы за совершенство. Старайтесь видеть глубже, выходить за рамки очевидного.</p>
              <p><b>W-руна поможет: </b>обрести счастье и благополучие; улучшить свою самооценку;  залечить трещины во взаимоотношениях; довести   задуманное   до   удовлетворительно  результата;  бороться за достижение совершенства.</p>

              <p>Винья - это потенциал всеохватывающей силы любви, чье воздействие на человеческое существо заключается в чувстве радости и благополучия. Винья - исключительно личная сила, приносящая чистую радость восторга и побуждающая к борьбе за совершенство. Эта сила лежит в основе смиренного осознания собственной значимости среди других существ. Это стадия, на которой подтверждается Божественная воля и «предназначенное быть» обретает бытие как воплощение великой Идеи. </p>
            `,
            active: false,
          },
          Hagal: {
            wpId: 21,
            name: 'Hagal',
            ruName: 'Хагал',
            description: `
              <p><b>Руна Хагал </b>(Hagal), Н-руна (H звучит, как в слове Hail) - <b>воплощение в бытии.</b></p>
              <p><b>Потенциал:</b> Фокусирование и превращение первичных энергий в упорядоченную структуру. </p>
              <p><b>Ключевые качества:</b> Драматическая перемена, высвобождение, восстановление утраченного равновесия. Соединение противоположностей.</p>
              <p><b>Практическое применение:</b> Полезна для сохранения спокойствия в трудных ситуациях. Помогает трансформировать неблагоприятные или враждебные влияния в благотворные.</p>
              <p><b>Вызов:</b> Не бойтесь ситуаций, которые кажутся вам неблагоприятными. Доверяйте вашему внутреннему «я», чтобы разобраться в сложном положении и обратить его себе во благо.</p>
              <p><b>Н-руна поможет:</b> освободиться от нежелательных влияний; развить интуицию, осознанно контролировать интуитивные способности; фокусировать ваше намерение; находить способы для сближения различных точек зрения. </p>

              <p>Хагал иногда изображается в виде кристаллической снежинки. Это энергия уже установленного, завершенного  порядка, выражение принципа эволюции, заключенной в жесткой структуре. Она содержится в семени всего, что живет и развивается. Руна первичного кристалла, затвердевший космический «лед» или «град», обладающий способностью удерживать и направлять энергию. это энергия уже установленного порядка, а не упорядочивающая сила. Подобно кристаллу, руна удерживает и фокусирует. Это энергия структуры, на основе которой строится все остальное, в т.ч. потенциал трансформации и перемен. То, что сначала кажется всплеском необузданной стихии, может обернуться очищением, необходимым для дальнейшего развития. </p>
            `,
            active: false,
          },
          Naud: {
            wpId: 23,
            name: 'Naud',
            ruName: 'Ниид',
            description: `
              <p><b>Руна Ниид </b>(Naud), N-руна (N звучит, как в слове Nut) - <b>вращатель времени.</b></p>
              <p><b>Потенциал:</b> Сила воплощения в физической реальности под давлением и принуждением. Присутствует во внезапном выбросе адреналина, побуждающем к действию в опасной ситуации.</p>
              <p><b>Ключевые качества:</b> Сопротивляемость, самогенерируемая энергия, выносливость, самодостаточность.</p>
              <p><b>Практическое применение:</b> Ниид оказывает огромную помощь при медитации. Помогает отличить то, в чем вы действительно нуждаетесь, от того, что кажется желанным.</p>
              <p><b>Вызов:</b> Вы не сможете должным образом удовлетворять потребности других людей, пока не осознаете собственные потребности.</p>
              <p><b>N-руна поможет:</b> бороться со стрессом; успешно преодолевать кризисы; добиваться свершений, которые раньше казались невозможными; выходить за рамки собственных ограничений; развивать упорство; ценить выносливость.</p>

              <p>Ниид символизирует высвобождение самогенерируемой жизни под воздействием напряжения и проявляется как энергия в условиях стресса и жестких ограничений времени. Время само по себе служит ограничителем, поскольку устанавливает предел продолжительности того, что обретает бытие. Все, когда-либо происходившее, до сих пор активно и воздействует на настоящее, в котором формируется будущее. Ее смысл: высвобождение пламени, заключенного внутри от силы трения и в потребности сопротивления. Это сила стоящая за инстинктом самосохранения, необходимостью выжить любой ценой. </p>
            `,
            active: false,
          },
          Iss: {
            wpId: 25,
            name: 'Iss',
            ruName: 'Исс',
            description: `
              <p><b>Руна Исс </b>(Iss), Е-руна (E звучит, как в слове Seed) - <b>формирование.</b></p>
              <p><b>Потенциал:</b> Поддерживающая и сохраняющая сила, стабильность и неподвижность, инерция, концентрация целенаправленного намерения.</p>
              <p><b>Ключевые качества:</b> Сжатие, уплотнение, сохранение пройденного, внутренняя сила, самоограничение.</p>
              <p><b>Практическое применение:</b> Когда ритм современной жизни приводит к стрессу, ИСС может замедлить события и позволить вам сосредоточиться на истинных ценностях. Эта руна также помогает воплотить ваши мечты в повседневной, «плотной» реальности.</p>
              <p><b>Вызов:</b> Зима не длится вечно, как и любая трудная ситуация, в которой вы можете оказаться. Имейте мужество продвигаться вперед. Чтобы знать, вам нужно действовать.</p>
              <p><b>E-руна поможет:</b> успокоить разум для медитации; фокусировать внимание; нейтрализовать неспровоцированное враждебное намерение; укрепить вашу  Волю;  преодолеть беспокойство.</p>

              <p>Cила, замедляющая энергетические вибрации и уплотняющая структуру. Она обладает свойствами ясности и массивности. Название «исс» означает «лед» и подразумевает качества сжатия, плотности и неподвижности. Е-руна является формирующей силой, которая замедляет движение и уплотняет вещество.  Руна Исс - это энергия, которая связует воедино и предохраняет от распада; в частности, это энергия, связующая электроны и ядро атома. Она задерживает развитие, подобно тому, как лед замораживает текучую воду. Она кристаллизует духовное в материальное, чтобы оно могло сохраниться, как холод в холодильнике сохраняет качество положенной туда еды. Иcc - стабилизирующий фактор, сохраняющий неизменным все, что подвергается его воздействию. Это приостановка движения, необходимая для дальнейшего развития. Это сила, сохраняющая то, что нуждается в сохранении. </p>
            `,
            active: false,
          },
          Jara: {
            wpId: 27,
            name: 'Jara',
            ruName: 'Яра',
            description: `
              <p><b>Руна Яра</b>(Jara), Y-руна (Y звучит, как в слове Yes) - <b>циклы перемен.</b></p>
              <p><b>Потенциал:</b> Естественные перемены.</p>
              <p><b>Ключевые качества:</b> Постепенное развитие, последовательное движение.</p>
              <p><b>Практическое применение:</b> Полезна для извлечения уроков из действий, совершенных в прошлом.</p>
              <p><b>Вызов:</b> Будьте терпеливы. Вы не можете собрать урожай, пока он не поспеет. Старайтесь наилучшим образом использовать то, что вы имеете сейчас.</p>
              <p><b>Y-руна поможет:</b> осознать, что терпение всегда вознаграждается ; осуществлять ваши планы и идеи; жить в согласии с циклами природы, настроить «часы» вашего тела.</p>

              <p>Y-руна — это сила воплощения намерения в осязаемый результат. Ее энергия это процесс органического развития через упорядоченное движение, которое нельзя торопить или принуждать, поскольку происходящее «внутри» должно находиться в гармонии с внешним окружением. Яра обозначает циклическое движение и символизирует движение через вещество и возвышение к духовному. Сила руны Яра не форсирует перемены, но осуществляет их постепенно, в непрерывном потоке спирального движения, где вещи обретают бытие в свой черед, в надлежащем «промежутке» цикла. Все постоянно изменяется, ничто не стоит на месте. Завершение одного цикла служит началом следующего. Действия, которые находятся в гармонии с природой, приведут к желаемым результатам, потому что согласуются с естественным порядком вещей. </p>
            `,
            active: false,
          },
          Pertra: {
            wpId: 29,
            name: 'Pertra',
            ruName: 'Петра',
            description: `
              <p><b>Руна Петра (Pertra)</b> Р-руна (P звучит, как в слове Pair) - <b>рождение.</b></p>
              <p><b>Потенциал:</b> Процесс причин и следствий, проявляющий ранее скрытое.</p>
              <p><b>Ключевые качества:</b> Сохранение, жизнеспособность, прочность, отождествление.</p>
              <p><b>Практическое применение:</b> Помогает человеку узнать себя таким, какой он есть на самом деле, и развеять ошибочные представления. Дает способность «мыслить рунически», то есть воспринимать слоистую структуру реальности, считаться с нею и востребовать то знание, которое могут открыть только руны.</p>
              <p><b>Вызов:</b> Не бойтесь перемен, но убедитесь в том, что во время любого трансцендентального опыта вы находитесь в полном контакте со своим физическим телом.</p>
              <p><b>Р-руна поможет:</b> дать толчок для развития ваших планов и идей;  придерживаться сути вещей;  вывести   ваш  скрытый   потенциал  в  область осознанного.</p>
              <p>Сила Петра - это процесс медленной трансформации потенциала, унаследованного от наших предков и глубоко скрытого на уровне Подсознательного. Это процесс сохранения «сырья», из которого могут плестись нити вашей жизни и создаваться новые узоры пространства - времени. Петра - руна тождественности, показывающая, что все создается по образу и подобию своего рода. Железо,  абсорбированое в тысячах вещей, однако при этом остающееся железом. Это связующая сила, сохраняющая прочность и стабильность вещей, но при этом обеспечивающая им индивидуальность. </p>

              <p>Другим аспектами руны Петра являются ее действия по формированию объективной реальности посредством образования слоев, или уровней активности, включая тот, где реальность, которую мы сами активно формируем своими идеями, помыслами и устремлениями, затем проецируется на объективную реальность. </p>
            `,
            active: false,
          },
          Eoh: {
            wpId: 31,
            name: 'Eoh',
            ruName: 'Йо',
            description: `
              <p><b>Руна Йо (Eoh)</b>, Ei-руна (Ei звучит, как в слове Height) - <b>непрерывность жизни.</b></p>
              <p><b>Потенциал:</b> Преемственность, присущая процессам трансформации и развития.</p>
              <p><b>Ключевые качества:</b> Поддерживающая энергия, выносливость, долголетие.  Показывает, как воплотить ваши идеи в практической действительности; дает надежду на будущее.</p>
              <p><b>Практическое применение:</b> Полезна, когда вы нуждаетесь в просветлении.</p>
              <p><b>Вызов:</b> Если вы хотите чего-то достичь, то не медлите. Осуществляйте задуманное. Эта руна поможет вам дотянуться до звезд!</p>
              <p><b>Ei-руна поможет:</b> освободиться от страха смерти; укрепить выносливость; установить контакт с другими уровнями бытия; избежать замешательства; высвободить ваши  внутренние ресурсы.</p>

              <p>Энергия роста, поддерживающая дикие растения. Она присутствует в спинномозговой жидкости, придающей крепость позвоночнику. Обладает качествами гибкости и выносливости. Энергия руны Йо - это сила непрерывности, позволяющая жизни, скрытой в рождении и смерти, присутствовать в естественном цикле Вселенной. Йо - это сила, поддерживающая различные слои и уровни реальности многомерного бытия. Йо связывает бренность нашего физического бытия с бессмертием нашего духа. Это сила природы, покоряющая смерть! Посредством этой силы мы можем преображать свою жизнь, воспринимая духовное в физическом и обретая истинную духовность в рутинных занятиях повседневной жизни. </p>
            `,
            active: false,
          },
          Algiz: {
            wpId: 33,
            name: 'Algiz',
            ruName: 'Ольгиз',
            description: `
              <p><b>Руна Олгиз (Algiz)</b>, Z-руна (Z звучит, как в слове Oz) - <b>инстинктивная защита.</b></p>
              <p><b>Потенциал:</b> Соединяющая, укореняющая сила.</p>
              <p><b>Ключевые качества:</b> Инстинктивная защита, способность защищать ауру, укреплять решимость в достижении цели.</p>
              <p><b>Практическое применение:</b> Может извлекать энергию из духовного Источника и переводить ее в обычную реальность для практического применения. Защищает наши уязвимые места.</p>
              <p><b>Вызов:</b> Не забывайте о своей уязвимости и о вредных воздействиях, способных увести вас с избранного пути.</p>
              <p><b>Z-руна поможет:</b> генерировать творческие идеи; найти скрытые силы для встречи с любым вызовом; отклонять негативные воздействия; обретать равновесие во время стресса; укоренять ваши идеи и устремления в действительности</p>

              <p>Инстинктивная защищающая сила. Активно преобладающая среди диких животных она обеспечивает их намерением выживания. Для людей Олгиз - это сила притяжения, связывающая индивидуальный Дух с человеческой общностью. Руна действует в земном плане и оберегает четыре аспекта, заключенные в первичном акте Творения: тело, разум, душу и Дух. Имеет отношение к соединению и защите, в т.ч.  защиту от гордыни и духовного эгоизма. Она тесно связана с процессом, происходящим во временном промежутке между «жизнью» и «смертью». Силовое поле Z-руны служит щитом от любого нападения. Оно защищает на всех уровнях: физическом, эмоциональном и духовном. </p>
            `,
            active: false,
          },
          Sol: {
            wpId: 35,
            name: 'Sol',
            ruName: 'Сол',
            description: `
              <p><b>Руна Сол (Sol)</b>, S-руна (S звучит, как в слове Sun) - <b>возможность невозможного.</b></p>
              <p><b>Потенциал:</b> Вдохновение и надежда, способность видеть вещи в истинном свете.</p>
              <p><b>Ключевые качества:</b> Излучение, энергетизация, задор, просветление, омоложение.</p>
              <p><b>Практическое применение:</b> Показывает вещи в истинном виде, обогащает знания и придает силы в трудное время.</p>
              <p><b>Вызов:</b> Будьте щедрыми, как Солнце!</p>
              <p><b>S-руна поможет: </b>достичь просветления; видеть вещи такими, какие они есть на самом деле; обрести внутреннее видение, проясняющее путь; повышать уровень энергии, придавать силы для достижения цели; осуществлять «неосуществимые» мечты; чувствовать себя моложе. </p>

              <p>Руна Сол является носителем солнечной энергии, дающей свет и поддерживающей жизнь. Сол обозначает энергию спирального движения воронкообразной   формы в многомерном пространстве. Энергия выталкивается наружу и вверх, затем снова сжимается в точку, и процесс повторяется. Эта сила вращает «пространство» вокруг себя и вызывает необычные явления - вещи, которые кажутся   невозможными.   Сол - просветляющая сила, позволяющая воспринимать вещи и ситуации в их истинном виде. Она дарует внутреннее озарение, позволяющее нам заглядывать далеко вперед, ведет и направляет своим светом в т.ч. светом Души - субстанции, из которой состоит наше высшее «я».  Это сила, активизирующая вашу духовную энергию и высвобождающая ваш внутренний потенциал для творческого самовыражения. Она способствует не только омоложению, но и регенерации. На клеточном уровне она замедляет процесс старения, а пожилых людей наполняет юношеским задором. </p>
            `,
            active: false,
          },
          Tyr: {
            wpId: 37,
            name: 'Tyr',
            ruName: 'Тир',
            description: `
              <p><b>Руна Тир (Tyr)</b>, Т-руна (T звучит, как в слове Time) - <br/><b>духовный воин.</b></p>
              <p><b>Потенциал:</b> Проникновение, обдуманная точность.</p>
              <p><b>Ключевые качества:</b> Решимость, целенаправленность, мужество, упорство, «честная игра».</p>
              <p><b>Практическое применение:</b> Придает мужества в трудной ситуации. Помогает осознать цену, которую придется заплатить за достижение цели.</p>
              <p><b>Вызов:</b> Имейте мужество нести ответственность за последствия вашего выбора.</p>
              <p><b>Т-руна поможет:</b> стать более бдительным; работать методичнее; мужественно бороться с невзгодами; укрепить веру в собственные силы; вести себя с достоинством; нести  ответственность за свои  поступки.</p>

              <p>Сила Т-руны придает чувство направления, мужество следовать по избранному пути с достоинством, преодолевая любые препятствия. Это сила мужского принципа природы, направляемая по творческому руслу. Она расчищает дорогу, открывая путь к гармонии с собой и окружающим миром. Другой аспект этой силы связан с проникновением в репродуцировании себя - предоставлении другого физического вместилища, в котором Дух может продолжать свое земное странствие. Тир ассоциируется с понятием «духовного воина» - готовностью поступаться чем-то дорогим ради блага других и отказаться от своего Эго ради духовного развития и стремления к высшей цели. Руна Тир - поддерживающая сила, охраняющая от неблагоприятных воздействий Хаоса и ведущая к единой цели четкого направления. Традиционно она ассоциировалась с мужеством, честью и победой в конфликте. Однако ее истинная природа не воинственна. Руна олицетворяет решимость в достижении цели, несмотря на любые преграды, но лишь честными средствами. Средства достижения цели влияют на конечный результат, поэтому Тир также является руной моральной силы.</p>
            `,
            active: false,
          },
          Bjarka: {
            wpId: 39,
            name: 'Bjarka',
            ruName: 'Бьярка',
            description: `
              <p><b>Руна Бьярка (Bjarka)</b>, В-руна (B звучит, как в слове Birth) - <b>женская сила.</b></p>
              <p><b>Потенциал:</b> Питающая, материнская энергия.</p>
              <p><b>Ключевые качества:</b> Забота и сострадание, сохранение и защита, плодородие, способность образовывать тесные взаимоотношения.</p>
              <p><b>Практическое применение:</b> Полезна для того, чтобы сосредоточивать внимание на семейной жизни и личных отношениях. Успокаивает смятенный дух, помогает вынашивать новые идеи.</p>
              <p><b>Вызов:</b> Постарайтесь сблизиться с природой и естественным ходом вещей.</p>
              <p><b>В-руна поможет:</b> укрепить личные взаимоотношения;  сохранить  вашу энергию; выйти без потерь из кризисной  ситуации; отказаться от того, что мешает вашему развитию.</p>

              <p>Бьярка - это женственная сила, позволяющая всему живому появляться на свет. Сила этой руны стоит за циклическим процессом созидания, роста и развития. Она питает и защищает новое существо до его рождения, а затем влияет на его развитие. Это бережное, ласковое влияние ассоциируется с плодородием, а сама Бьярка считается «материнской» руной,символом заботы и плодородия.
                Сила этой руны имеет прямое отношение к новой жизни и к земному опыту как к одной из стадий индивидуального развития. Внося ее в свои заветные планы и замыслы на ранней стадии их развития, в постоянном внимании этой руны вы можете изменить свою жизнь и свое восприятие вещей. Она одновременно сохраняет и обновляет энергию, восстанавливает единство и целостность. Поэтому В-руне присущи мощные исцеляющие качества.
              </p>
            `,
            active: false,
          },
          Eh: {
            wpId: 41,
            name: 'Eh',
            ruName: 'Э',
            description: `
              <p><b>Руна Э (Eh)</b>, Eh-руна (E звучит, как в слове End) - <b>общение.</b></p>
              <p><b>Потенциал:</b> Динамическая гармония.</p>
              <p><b>Ключевые качества:</b> Равновесие и контроль, навыки общения, приспособляемость.</p>
              <p><b>Практическое применение:</b> Помогает в достижении равновесия и гармонии, укрепляет узы дружбы.</p>
              <p><b>Вызов:</b> Сохраняйте душевное равновесие в любых ситуациях.</p>
              <p><b>Eh-руна поможет:</b> эффективнее общаться с людьми; найти более плодотворные способы достижения задуманного; установить более гармоничные отношения с партнером; сохранять равновесие в любой ситуации; уважать противоположный пол.</p>

              <p>Сила, присущая экстатическому подъему. Ей присуще свойство сплоченности и руна олицетворяет энергию, воспринимаемую в измененном состоянии сознания как позволяющую исследовать другие планы реальности.</p>
              <p>Коренная сила этой руны - способность к общению на различных уровнях бытия. Этот великий дар был вручен человеческим существам на следующей стадии Творения. Мудрость приобретается посредством общения, причем не только с людьми, но и с животными, растениями, минералами, а также с сущностями из других уровней бытия. </p>
              <p>Уставное начертание руны подразумевает равное партнерство в естественном порядке вещей: мужчина и женщина объединяются без потери индивидуальности.Eh-руна, открывая путь для равного обмена энергией, символизирует потребность в равном партнерстве между мужчиной и женщиной, действующую не только на физическом, но также на ментальном и духовном уровнях. Гармоническое объединение взаимно дополняющих противоположностей обеспечивает продолжение жизни. </p>
              <p>Качество, заключенное в Eh-руне обеспечивает связь и общение на любых уровнях. Это носитель знаний и создатель общности.</p>
            `,
            active: false,
          },
          Madr: {
            wpId: 43,
            name: 'Madr',
            ruName: 'Мадр',
            description: `
              <p><b>Руна Мадр (Madr)</b> М-руна (M звучит, как в слове Man) - <b>интеграция.</b></p>
              <p><b>Потенциал:</b> Стремление к совершенству.</p>
              <p><b>Ключевые качества:</b> Мотивация, сближение, сродство, совместная деятельность.</p>
              <p><b>Практическое применение:</b> Пробуждает потенциальные способности и позволяет обнаружить ваши скрытые таланты.</p>
              <p><b>Вызов:</b> Познайте себя, свои сильные и слабые стороны. Только в этом случае вы сможете полностью реализовать свой потенциал.</p>
              <p><b>М-руна поможет:</b> познать себя; обострить интеллект; пробудить интуицию; укрепить семейные отношения; побудить к конструктивному сотрудничеству с другими людьми.</p>

              <p>В энергии руны связующая сила проявляется наиболее глубоко. Это творческое взаимодействие, заложенное в основе единения и гармонии. Та же самая сила сводит воедино деятельность правого и левого полушарий мозга, обеспечивает их взаимную поддержку, так что интеллектуальная способность рассудка и интуитивное озарение развиваются слаженно и гармонично. </p>
              <p>Сила этой руны позволяет людям мотивированно «совершенствоваться», то есть полнее интегрироваться в целостность бытия. Она позволяет нам познать себя: понять, кто мы такие и почему мы здесь. Таким образом, М-руна придает нашей жизни цель и осмысленность, поскольку именно человеческая личность является вместилищем божественного «зерна» внутри нас, ищущее внешнего выражения в дружеских и семейных взаимоотношениях. Ее рунная сила связывает воедино интеллект и интуицию. Мадр - это сила, обостряющая интеллект наравне с интуитивными способностями и позволяющая им действовать согласованно. </p>
              <p>Мадр - это сила, укрепляющая ваше творческое начало и позволяющая руководить своей жизнью через познание себя. </p>
            `,
            active: false,
          },
          Lagu: {
            wpId: 45,
            name: 'Lagu',
            ruName: 'Лагу',
            description: `
              <p><b>Руна Лагу (Lagu)</b>, L-руна (L звучит, как в слове Lake) - <b>энергетические потоки.</b></p>
              <p><b>Потенциал:</b> Обострение  восприятия.</p>
              <p><b>Ключевые качества:</b> Жидкая сила, ритмическое течение, непосредственный опыт.</p>
              <p><b>Практическое применение:</b> Помогает разобраться в чувствах и эмоциях.</p>
              <p><b>Вызов:</b> Прислушивайтесь к своим чувствам и извлекайте уроки из полученных сообщений.</p>
              <p><b>L-руна поможет:</b> лучше приспосабливаться к обстоятельствам;обострять вашу чувствительность; настроиться на приливы и отливы энергетических течений;  плыть  вместе с  потоком  событий.</p>

              <p>Cила текучести. Это сила, движущая лунными приливами и энергетическими потоками всевозможных видов. Лагу - это руна водной стихии, текучей силы, поднимающейся из колодца Подсознательного. Она очищает и освежает все уровни бытия, ибо является носителем жизненной энергии. Это сила реализованного потенциала; ее эмблемой служит луковый стебель.</p>
              <p>Старонорвежское слово «лагу» означает «озеро» и одно из качеств Лагу -переходное, так как вода в древности часто использовалась как символ перехода от жизни к смерти и от смерти к возрождению.</p>
              <p>Лагу - это сила, происходящая от погружения в непосредственный опыт. Она подобна воде, омывающей вас во время плавания; вы находитесь в воде и ощущаете ее, однако не составляете с ней одно целое. </p>
            `,
            active: false,
          },
          Ing: {
            wpId: 47,
            name: 'Ing',
            ruName: 'Инг',
            description: `
              <p><b>Руна Инг (Ing)</b>, Ing-руна (Ing звучит, как в слове Sing) - <b>непрерывность жизни.</b></p>
              <p><b>Потенциал:</b> Доступ к иной реальности.</p>
              <p><b>Ключевые качества:</b> Вынашивание, регенерация, непрерывность, обновление.</p>
              <p><b>Практическое применение:</b> Полезна для развития дара убеждения и способности оказывать влияние на других людей.</p>
              <p><b>Вызов:</b> Разумно распоряжайтесь своей личной силой.   Делайте те вещи,  для которых вы  «предназначены».</p>
              <p><b>Инг-руна поможет:</b> улучшить память; укрепить веру в себя; расширить сознательное восприятие; открыть новые области самореализации.</p>
              <p> </p>
              <p>В основе энергии руны - импульс, движущийся от физического бытия к Космическому. Это постигающая сила, способность воспринимать и осознавать новое.</p>
              <p>Инг - это сила, запасающая на будущее. Это сила, отражающая внутреннюю сущность существа, прошедшего через земной опыт и теперь ожидающего возрождения и дальнейшего развития. Ее действие сходно с воспроизводящей функцией растительного семени. По отношению к человеческим существам - это хранилище информации для будущей жизни. Инг - это сила, сохраняющая потенциал и сдерживающая его до тех пор, пока не приходит время для высвобождения энергии.</p>
              <p>Инг - это сила, несущая генетическую информацию и передающая наследственные характеристики. Внешние черты наследуются от родителей, однако индивидуальные качества личности передаются иным путем. Они наследуются из прошлых жизней человека. Каждый из нас, в буквальном смысле, является собственным предком, и наша сущность будет передана, посредством силы Инг,  будущей жизни!</p>
              <p>Инг также обозначает переход на другую стадию развития, в другое состояние сознательного восприятия. Уставное начертание можно рассматривать как выход на иные уровни бытия.</p>
            `,
            active: false,
          },
          Odal: {
            wpId: 49,
            name: 'Odal',
            ruName: 'Одал',
            description: `
              <p><b>Руна Одал (Odal)</b> , О-руна (O звучит, как в слове Odin) - <b>свершение.</b></p>
              <p><b>Потенциал:</b> Сила свершения.</p>
              <p><b>Ключевые качества:</b> Врожденный талант, приобретение, безопасность, закон и порядок.</p>
              <p><b>Практическое применение:</b> Полезна для применения собственности и других материальных благ; поощряет практическую смекалку.</p>
              <p><b>Вызов:</b> Не бойтесь оглядываться назад: усвоенное в прошлом несет в себе семена будущего изобилия.</p>
              <p><b>О-руна поможет:</b> развить свои таланты; осознавать свои ограничения; поддерживать чувство порядка; приобретать собственность; чтить свое домашнее окружение.</p>

              <p>Руна Одал устанавливает ограничения, как сила, делающая нас человеческими существами. Она передается по наследству, и мы несем ее с собой из предыдущих жизней. Иногда она ассоциируется с наследием и чувством безопасности, обретаемым в традициях и под родным кровом. Эта руна символизирует врожденные качества, определяющие характер. Старонорвежское слово «одал» означает «право собственности», а уставное начертание как комбинация G-руны  и Ing-руны  - обозначает силу владения. Наши врожденные качества приобретаются от духовных предков, то есть из прошлых жизней. Эти таланты и способности, запечатленные в Душе и внутренне присущие нашему «я», принадлежат нам по праву!</p>
              <p>Одал является руной свершения  того, что было достигнуто в результате упорного труда, а затем сохранялось для передачи и включения в целостность нашего существа. В северной традиции Одал иногда ассоциировался с понятием «дома» - убежища и места формирования новой личности.</p>
            `,
            active: false,
          },
          Dagaz: {
            wpId: 51,
            name: 'Dagaz',
            ruName: 'Дагаз',
            description: `
              <p><b>Руна Дагаз</b>, D-руна (D звучит, как в слове Day) - <b>преображающий свет.</b></p>
              <p><b>Потенциал:</b> Экстатическое завершение.</p>
              <p><b>Ключевые качества:</b> Трансформация, завершение, единение.</p>
              <p><b>Практическое применение:</b> Способствует духовному развитию и новым начинаниям.</p>
              <p><b>Вызов:</b> Не бойтесь «проливать свет» на вещи.</p>
              <p><b>D-руна поможет:</b> пробудить осознание истинной реальности; вступить в контакт со своей Духовной сущностью; осознать связь всех вещей.</p>

              <p>Дагаз - это руна пробуждения и способности преодолевать собственные ограничения. Это сила рассвета, провозглашающая начало нового дня. D-руна символизирует новое начало, основанное на прошлых свершениях. Она несет в себе энергию победы, экстатического просветления, успешного завершения долгой и тяжелой работы. D-руна - это способность видеть реальность глазами Души, «космическим осознанием».</p>
              <p>Слово «дагаз» означает «день». Уставное начертание обозначает два равных периода света и темноты с «точкой рассвета» посредине. Перемычка олицетворяет мост, звено, соединяющее царство вещества и царство Духа. Символ бесконечных возможностей. D-руна - это сила осознания истинной природы Вселенной, в которой свет и тьма, материальное и духовное, женское и мужское воспринимаются как взаимно дополняющие аспекты единого целого.</p>
              <p>Дагаз это «пробуждающая» руна и является руной самотрансформации. Это энергия завершения, момент торжества и получения долгожданной награды за труды.</p>
            `,
            active: false,
          },
          Feh: {
            wpId: 53,
            name: 'Feh',
            ruName: 'Фе',
            description: `
              <p><b>Руна Фё (Fe)</b>, F-руна (F звучит, как в слове Fe) - <b>исполнение.</b></p>
              <p><b>Потенциал:</b> Осуществление,  исполнение.</p>
              <p><b>Ключевые качества:</b> Кульминация, обмен и распределение, умножение богатства.</p>
              <p><b>Практическое применение:</b> Полезна для определения истинной цены любого начинания.</p>
              <p><b>Вызов:</b> Будьте уверены в том, чего вы хотите от жизни.</p>
              <p><b>F-руна поможет:</b> узнать, в чем заключается ваше истинное богатство; определить истинную цену вещей; успешно завершить любое начинание; обрести чувство удовлетворения во всех делах; черпать энергию Солнца, Луны и звезд для использования в вашей личной Вселенной.</p>

              <p>С руной Фе мы достигаем завершения процесса Творения: исполнения всего, что было предначертано. Это руна вечного становления. Хотя она завершает руническую последовательность, это не конец, а новое начало, поскольку при циклическом расположении Фе находится рядом с Ур.</p>
              <p>Сила Фе заключается в активном приумножении. Это осуществление достигнутого и одновременно высвобождение энергии для новых начинаний.</p>
              <p>Сила Фе, подобно древесным сокам, течет от «корней», распределяясь равномерно на всех планах бытия. Богатство, которое она символизирует, не является статичным, вроде вклада в банке или недвижимости. Это богатство, которое постоянно используется и умножается посредством активной деятельности.</p>
              <p>Фе синтезирует процессы рождения, жизни, смерти и возрождения. Это подвижная энергия, текущая во всех вещах. Достигая кульминации, она перераспределяется в другом цикле активности. Эта рунная сила сохраняет усвоенный жизненный опыт,который затем распределяется для использования в следующей жизни.</p>
            `,
            active: false,
          },
          Wyrt: {
            wpId: 55,
            name: 'Wyrt',
            ruName: 'Wyrt',
            description: `
              <p><b>Руна Судьбы </b>(Wyrd) - <b>вера.</b></p>
              <p>25-ю руну еще называют «руной Одина». Эта «пустая» руна символизирует силу, существующую вне органических процессов и упорядоченной структуры. Она символизирует безусловную веру и обретение мужества в этой вере. Иногда ее называют «судьбой», но она имеет несколько иной смысл. Это творческое начало, лежащее в области непостижимого и влияющее на реальность непредсказуемым образом.\tВыпадение   этой   руны   указывает   на   то,   что следует ожидать неожиданных событий.\t«Традиционное» истолкование рун не должно возводиться в абсолют. Оно лишь обозначает смысловые слои, не более того. Приложение традиционных ключевых слов, например «богатство» к Фё, «путешествие» к Рейд или «радость» к Винья, сводит работу с рунами к аналитической интерпретации и превращает сами руны в предмет для манипуляций. В действительности, руны действуют на глубинных уровнях и приносят информацию с внутренних планов бытия. Вы можете прийти к пониманию своей жизни, лишь работая с рунами и непосредственно ощущая их воздействие.</p>
            `,
            active: false,
          },
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

  .wheel {
    position: relative;
    display: block;
    max-width: 900px;
    min-width: 300px;
    height: 100vh;
    margin: 0 auto;
    z-index: 1;
  }
  #wheel-bg {
    polygon {
      fill: var(--background-color-primary);
      stroke: var(--wheel-color-bg);
      stroke-width: 5;
    }
  }
  #card {
    #card-bg {
      filter: drop-shadow(-2px 2px 12px rgba(0, 0, 0, 0.25));
      fill: var(--background-color-secondary);
    }
    #card-frame {
      fill: var(--background-color-secondary);
      filter: drop-shadow(-2px 2px 12px var(--wheel-shadow));
    }
    .rune-name-ru {
      #card-title {
        fill: var(--background-color-secondary);
      }
    }
  }


  .trapezoid {
    fill: var(--background-color-secondary);
    filter: drop-shadow(-2px 2px 12px rgba(0, 0, 0, 0.15));
    &.active {
      fill: #97743A;
    }
  }

  .rune {
    &:hover {
       cursor: pointer;
     }
    .rune-hex {
      fill: var(--background-hex-color-primary);
      stroke-width: 2;
      stroke: var(--stroke-color);
      filter: drop-shadow(-2px 2px 5px rgba(black, 0.15));
    }
    .rune-symbol {
      //fill:url(#gradient-gold);
      fill: #CEA662;
    }
  }

  .poly25 {
    #filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    #filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0px 0px 50px #000);
    filter: drop-shadow(0px 0px 50px #000);
  }

  .arrow {
    cursor: pointer;
  }

  .arrow .bg:hover {
    //fill: #97743A;
  }

  .arrow:active {
    //color: #6845bc;
    filter: url(#inset-shadow);
  }

  .page-title-wrapper {
    x: 28%;
    y: 0.7%;
    width: 45.5%;
    height: 8%;
  }

  .page-title {
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 3.2em;
    color: #ffffff;
    text-align: center;
    #text-transform: uppercase;
    user-select: none;
    margin-top: -3px;
    letter-spacing: 0.1rem;
  }
  #flags {
    transform: translateY(8px);
    .flags-figure {
      fill: var(--background-hex-color-primary);
      filter: drop-shadow(-2px 2px 8px rgba(black, 0.25));
      stroke: var(--background-hex-color-primary);
      stroke-width: 6;
      stroke-linejoin: round;
    }
    .title-en-wrapper {
      x: 37%;
      y: 1%;
      width: 26.5%;
      height: 5%;
      .title-en {
        font-family: "Arial", serif;
        font-weight: bold;
        font-size: 1.6em;
        color: #CEA662;
        text-align: center;
        #text-transform: uppercase;
        user-select: none;
        margin-top: 0px;
        letter-spacing: 0.1rem;
      }
    }
  }
  .title-en-name {
    width: 26%;
    height: 4.5%;
  }
  .title-en-name h1 {
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 2.2em;
    color: #ffffff;
    text-align: center;
    #text-transform: uppercase;
    user-select: none;
    margin-top: -3px;
    letter-spacing: 0.1rem;
  }

  .link-group .link-wrapper {
    x: 1%;
    y: 3.7%;
    width: 27.5%;
    height: 4%;
  }

  .link-group.home .link-wrapper {
    x: 71%;
  }

  .link {
    font-family: "Arial", serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0.8em;
    text-align: center;
    display: inline-block;
    width: 264px;
    user-select: none;
  }

  .description-wrapper {
    x: 23%;
    y: 45%;
    width: 55.5%;
    height: 33%;
    cursor: pointer;
  }

  .description-short {
    font-family: 'Arial', serif;
    font-size: 1rem;
    height: 180px;
    overflow: hidden;
    padding: 0.5rem;
    user-select: none;
    //word-wrap: break-word;
    margin-bottom: 10px;
    color: var(--text-primary-color);
  }

  .readmore {
    width: 100%;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.3rem;
    user-select: none;
    text-transform: uppercase;
    color: #CEA662;
  }

  @media screen and (max-width: 500px) {
    .description-short {
      font-size: 1.5rem;
    }

    .readmore {
      font-size: 1rem;
    }
  }

  .link-group {
    cursor: pointer;
  }

  .link-group .link-bg {
    fill: #C1A875;
  }

  .link-group .link {
    color: #ffffff !important;
  }

  .link-group:active {
    filter: url(#inset-shadow);
  }

  .title-ru {
    width: 41%;
    height: 3%;
    x: 30%;
    y: 41.4%;
  }

  .title-ru-wrapper {
    width: 100%;
    line-height: 2em
  }

  .title-ru-wrapper span {
    padding: 1px;
  }

  .title-ru .name {
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 1.4em;
    color: #CEA662;
    #text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: inline-block;
    user-select: none;
    padding-top: 0px;
  }

  .button:hover .link {
    color: #ffffff !important;
  }

  .button:active {
    filter: url(#inset-shadow);
  }

  .button:active .link {
    font-size: 1.29rem;
  }

  .st0 {
    fill: #6A7882;
  }

  .st1 {
    enable-background: new;
  }

  .st2 {
    fill: #36265B;
  }

  .st3 {
    fill: #6546A9;
  }

  .st4 {
    fill: #2C1659;
  }

  .st5 {
    fill: #5229A4;
  }

  .st6 {
    fill: #8956D6;
  }

  .st7 {
    fill: #A47EDA;
  }

  .st8 {
    fill: #684599;
  }

  .st9 {
    fill: #FFFFFF;
  }

  .st10 {
    fill: #97A0A4;
  }

  .st11 {
    fill: #224B5C;
  }

  .st12 {
    fill: #806AAE;
  }

  .st13 {
    fill: #987FB9;
  }

  .st14 {
    fill: #685693;
  }

  .st15 {
    fill: #344B5B;
  }

  .st16 {
    display: none;
    fill: #344B5B;
  }

  .st17 {
    display: none;
  }

  .st18 {
    display: inline;
    fill: #344B5B;
  }

  .st19 {
    fill: #B2B2B2;
  }

  .st20 {
    clip-path: url(#SVGID_2_);
    fill: #354C5C;
  }

  .st21 {
    fill: #354C5C;
  }

  .st22 {
    clip-path: url(#SVGID_4_);
    fill: #354C5C;
  }

  .st23 {
    clip-path: url(#SVGID_6_);
    fill: #354C5C;
  }

  .st24 {
    clip-path: url(#SVGID_8_);
    fill: #354C5C;
  }

  .st25 {
    clip-path: url(#SVGID_10_);
    fill: #354C5C;
  }

  .st26 {
    clip-path: url(#SVGID_12_);
    fill: #354C5C;
  }

  .st27 {
    clip-path: url(#SVGID_14_);
    fill: #354C5C;
  }

  .st28 {
    clip-path: url(#SVGID_16_);
    fill: #354C5C;
  }

  .st29 {
    clip-path: url(#SVGID_18_);
    fill: #354C5C;
  }

  .st30 {
    clip-path: url(#SVGID_20_);
    fill: #354C5C;
  }

  .st31 {
    clip-path: url(#SVGID_22_);
    fill: #354C5C;
  }

  .st32 {
    clip-path: url(#SVGID_24_);
    fill: #354C5C;
  }

  .st33 {
    clip-path: url(#SVGID_26_);
    fill: #354C5C;
  }

  .st34 {
    display: none;
    fill: #FFFFFF;
  }

  .st35 {
    fill: #7D57D1;
  }

  .st36 {
    fill: none;
  }

  .st37 {
    font-family: 'MyriadPro-BoldSemiCn';
  }

  .st38 {
    font-size: 18px;
  }

  .st39 {
    font-family: 'MyriadPro-SemiExt';
  }

  .st40 {
    font-size: 16px;
  }

  .st41 {
    font-size: 26px;
  }

  .st42 {
    font-family: 'MyriadPro-Regular';
  }

  .st43 {
    font-size: 30px;
  }

</style>


<style module>
  .geDescription {
    background-repeat: no-repeat;
    background-image: url(../assets/img/ge.svg);
    background-position: 100% 95%;
  }
</style>
