<template>
  <svg class="rune" viewBox="0 0 214 246" x="-9" y="-21" @click="onCLick()">

    <g :transform="transform">
      <Hexagon :active="active"></Hexagon>
      <template v-if="path">
        <path class="symbol"
              :class="{active: active}"
              :d="path"/>
      </template>
      <template v-if="paths">
        <path v-for="(path, idx) in paths"
              :key="idx"
              class="symbol"
              :class="{active: active}"
              :d="path"/>
      </template>

    </g>
  </svg>
</template>

<script>
  import Hexagon from "@/components/Hexagon";

  export default {
    name: "MenuItem",
    components: {Hexagon},
    props: {
      path: String,
      paths: Array,
      path_fixed: String,
      transform: String,
      active: Boolean
    },
    methods: {
      onCLick() {
        this.$emit('selectRune');
      }
    },
  }
</script>

<style scoped>

</style>
