<template>
  <!--<div class="modal-card" v-touch:swipe.left="prev" v-touch:swipe.right="next">-->
  <div class="modal-card">
    <header class="modal-card-head">

      <span class="rune-name" :class="{long: !hasHeaderIcon}">
         {{rune.ruName}}&nbsp;-&nbsp;{{rune.name}}
      </span>
<!--      <span class="rune-name long">-->
<!--         {{rune.ruName}}&nbsp;-&nbsp;{{rune.name}}-->
<!--      </span>-->

      <span class="rune-icon-wrapper" @click="close()">

        <svg class="rune-icon close" viewBox="0 0 80 93">
          <g transform="translate(0 0) scale(0.35)">
              <polygon id="hexagon" class="hexagon"
                       points="213.413,184.99 106.911,246.376 0.499,184.836 0.587,61.91 107.089,0.524 213.501,62.064 "/>
              <polygon transform="translate(8 20) scale(5)"
                       class="cross"
                       points="28.876,5.124 20,14 11.124,5.124 3.517,9.517 14,20 3.517,30.483 11.124,34.876 20,26 28.876,34.876 36.483,30.483 26,20 36.483,9.517 	"/>
            </g>
        </svg>

      </span>
    </header>
    <section class="modal-card-body" ref="modalBody">
      <template>
        <div class="rune-desc float-left" v-if="hasRuneSymbol">
          <ArmanicRunes v-if="order === 'Armanic'" :name="rune.name" hex="true" height="50%"></ArmanicRunes>
          <MeadowsRunes v-if="order === 'Meadows'" :name="rune.name" hex="true" height="50%"></MeadowsRunes>
<!--          <FutarkRunes v-if="order === 'Futark'" :name="rune.name" hex="true" height="50%"></FutarkRunes>-->
<!--          <IcelandRunes v-if="order === 'Iceland'" :name="rune.name" hex="true" height="50%"></IcelandRunes>-->
<!--          <ReichRunes v-if="order === 'Reich'" :name="rune.name" hex="true" height="50%"></ReichRunes>-->
        </div>
        <div v-else class="rune-desc float-left">
          <div class="runes-inside-desc">
        <svg v-if="rune.path || rune.paths || rune.path_fixed" class="rune-icon" viewBox="0 0 80 93">
          <g transform="translate(0 0) scale(0.35)">
<!--              <path v-if="rune.path" fill="#34495a"-->
<!--                    :d="rune.path"/>-->
              <template v-if="rune.paths">
                <path v-for="path in rune.paths"
                      fill="#34495a"
                      :key="'symbol-path'+ path"
                      :d="path"/>
              </template>
              <template v-if="rune.path_fixed">
                <path v-if="rune.path_fixed" fill="#34495a"  transform="scale(1.15) translate(20, 15)"
                      :d="rune.path_fixed"/>
              </template>
            </g>
        </svg>
      </div>
        </div>
        <div class="description" v-html="rune.description"/>
      </template>
    </section>
    <footer class="modal-card-foot">
      <ArrowLeft @click="prev"></ArrowLeft>
      <NavButton>
        <template v-slot:link>
          <!--<a class="link" :href="runeArticleLink" disabled>Cтатья о руне</a>-->
          <span class="link">Cтатья о руне</span>
        </template>
      </NavButton>
      <ArrowRight @click="next"></ArrowRight>
    </footer>
  </div>
</template>

<script>
  import MenuItem from "@/components/MenuItem";
  import ArmanicRunes from "@/components/ArmanicRunes";
  import Hexagon from "@/components/Hexagon";
  import MeadowsRunes from "@/components/MeadowsRunes";
  import ArrowLeft from "@/components/ui/ArrowLeft";
  import ArrowRight from "@/components/ui/ArrowRight";
  import NavButton from "@/components/ui/NavButton";
  import FutarkRunes from "@/components/FutarkRunes";
  import IcelandRunes from "@/components/IcelandRunes";
  import ReichRunes from "@/components/ReichRunes";

  export default {
    name: "ReadMoreModal",
    components: {ReichRunes, NavButton, ArrowRight, ArrowLeft, MenuItem, Hexagon, IcelandRunes, FutarkRunes, MeadowsRunes, ArmanicRunes },
    props: {
      order: String,
      rune: Object,
      rune$: Object,
      swipeRune$: Object,
      hasHeaderIcon: Boolean,
      hasRuneSymbol: Boolean
    },
    created() {
      const self = this;
      this.runeSubscription = this.rune$.subscribe((rune) => {
        self.rune = rune;
      });
    },
    data() {
      return {
        runeSubscription: null,
      }
    },
    beforeDestroy() {
      this.runeSubscription.unsubscribe();
    },
    computed: {
      runeArticleLink() {
        return `/article/${this.rune.name}`;
      }
    },
    methods: {
      prev() {
        this.swipeRune$.next('prev');
        this.$refs.modalBody.scrollTop = 0;
      },
      next() {
        this.swipeRune$.next('next');
        this.$refs.modalBody.scrollTop = 0;
      },
      close() {
        this.runeSubscription.unsubscribe();
        this.$parent.close()
      }
    }
  }
</script>

<style lang="scss">

  .modal-card {
    min-width: 400px !important;
  }

  .modal-card-head, .modal-card-foot {
    background-color: var(--background-color-primary);
    padding: 0.5rem 1.3rem !important;
  }
  .modal-card-head {
    border-bottom: none;
  }
  .modal-card-foot {
    border-top: none;
  }

  .modal-card-foot {
    padding: 0.5rem 9.5rem !important;
  }

  .modal-card-body {
    background-color: var(--background-color-secondary);
    padding: 0.6rem 1.3rem !important;
    color: var(--text-primary-color);
  }

  .rune-icon-wrapper {
    height: 40px;
    overflow: hidden;
    .rune-icon {
      width: 35px;
      &.close {
        cursor: pointer;
        &:hover {
          .cross {
            fill: var(--background-color-secondary)
          }
        }
      }
      .cross {
        fill: rgba(white, 0.25);
      }
      .hexagon {
        fill: #CEA662;;
      }
    }
  }

  .runes-inside-desc {
    width: 100%;
    overflow: hidden;
    svg {
      width: 80%;
      margin: 0 auto;
      path {
        fill: var(--text-primary-color);
      }
    }
  }

  .rune-name {
    width: 93%;
    font-size: 2rem;
    padding: 0 0.5rem;
    color: #CEA662;
    font-weight: bold;
  }

  .rune-name.long {
    width: 95%;
  }

  .modal-card-body p {
    font-family: 'Arial', serif;
    padding: 0;
    text-align: justify;
  }

  .rune-desc {
    width: 110px;
    height: 95px;
    svg {
      .theme-point {
        fill: var(--text-primary-color);
      }
    }
  }

  .rune-desc > svg {
    width: 100px;
    height: 95px;
  }

  .description p {
    font-family: 'Arial', serif;
    margin-bottom: 0.3rem;
    //text-align: left;
  }

  .poem {
    max-width: 400px;
    font-weight: bold;
    text-align: left !important;
  }

  .link {
    width: 100%;
    display: block;
    height: 40px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: Arial, serif;
    color: #fff;
    letter-spacing: 2px;
  }

  .float-left {
    float: left;
  }

  .formula {
    font-size: 1.3rem;
  }

  .symbol {
    fill: #354c5c;
    clip-path: url(#hex-clip-path);
  }

</style>
