<template>
  <svg>
    <path v-if="name === 'Erda'" class="theme-point" fill="#344B5B" d="M550.946,385.054l-18.537,18.537l-36.664-39.043L549,309
						l-68.839-64.848L480,243.965L413,312l2.126,1.985l-0.011,0.012l52.281,51.207l-39.064,40.128l-19.555-19.555l-12.628,13.569
						l32.03,32.475l0.79-0.852L429,431l51-51l50.761,51.756l0.06,0.065l0.002-0.002L531,432l6.265-6.713l27.237-27.616
						L550.946,385.054z M442.234,311.614l38.221-38.629l42.142,39.715l-40.411,38.437L442.234,311.614z"/>
    <polygon v-if="name === 'Ziu'" class="theme-point" fill="#344B5B" points="534,287 459,361.167 459,279.855 485.796,306.651
						494.041,289.087 462.664,258.064 450.041,245.042 450.041,245 450.02,245.021 450,245 450,245.042 437.376,258.064 404,290
						411,307 441,279.896 441,405 518,328.828 518,432 534,432 534,313 					"/>
    <path v-if="name === 'Triskel'" class="theme-point" fill="#354C5C" d="M556,278.507l-3.523,2.362l0.03-0.012l-38.275,22.222
						l-35.239,20.651l-36.086-20.688l-15.334-9.011l19.081-11.213l40.687-23.326L478.489,244l-2.313,1.343l0.03-0.012
						l-38.275,22.222l-27.744,16.259l-0.064-0.038l-17.883,10.27l3.786,1.902L396,295.927l38.186,22.378l35.093,20.375l0.326,44.076
						l-0.057,17.923l-19.152-11.089l-40.338-23.937l-8.852,15.491l2.307,1.352l-0.025-0.021l38.186,22.378l27.809,16.146l0,0.075
						l17.745,10.512l-0.263-4.263l-0.005,0.032l0.089-44.6l-0.086-43.056l35.992-21.358l15.391-8.911l0.071,22.302l-0.349,47.263
						h17.705l0.005-2.695l-0.005,0.032l0.089-44.6l-0.065-32.405l0.065-0.037L556,278.507z M478.739,335.494h-0.359l0.18-0.314
						L478.739,335.494z"/>
    <polygon v-if="name === 'Valda'" class="theme-point" fill="#354C5C" points="535,244 519,244 462,244 447,244 444,244 444,362.368
						412.434,305.141 401,318 462,432 462,431 462,395 462,262 519,262 519,413 537,413 537,244 					"/>
    <polygon v-if="name === 'Wolfsangel'" class="theme-point" fill="#344B5B" points="552,254 550,254 489,318.168 489,302 471,302 471,337.102
						412,399.166 412,254 394,254 394,428 411,428 471,364.447 471,382 489,382 489,345.382 548,282.888 548,428 566,428 566,254
											"/>
    <g v-if="name === 'Heilszeichen'" >
      <polygon display="inline" class="theme-point" fill="#344B5B" points="420,289 420,280 420,246 402,260 402,280
							402,289 402,306 402,323 402,331 443,298.339 443,430 461,430 461,284 461,274 461,262 420,291.966 						"/>
      <polygon id="Centrus_x5F_Heilszeichen2" class="theme-point" display="inline" fill="#344B5B" points="386,364 386,358 386,268 368,280 368,344
							368,360 368,383 368,387 368,408 409,375.339 409,430 427,430 427,361 427,348 427,335 386,366.966 						"/>
      <polygon id="Centrus_x5F_Heilszeichen1" class="theme-point" display="inline" fill="#344B5B" points="536,246 479,296 487,313 527,278.714
							527,320.385 479,361 479,384 527,343.385 527,365.385 479,406 479,429 527,388.385 527,430 545,430 545,278.714 585,313
							593,296 						"/>
    </g>
    <polygon v-if="name === 'Heil'" class="theme-point" fill="#354C5C" points="529.793,257.472 518.223,243.684 487,269.883 487,244
						469,244 469,269.666 438.035,243.684 426.465,257.472 464.128,289.075 426.465,320.678 438.035,334.467 469,308.484 469,432
						487,432 487,308.267 518.223,334.467 529.793,320.678 492.131,289.075 					"/>
    <polygon v-if="name === 'Leben'" class="theme-point" fill="#344B5B" points="549.023,244.326 487,296.37 487,432 469,432
						469,296.645 406.649,244.326 434.672,244 469,273.034 469,244 487,244 487,272.757 521,244 					"/>
    <polygon v-if="name === 'Hakenkreuz'" class="theme-point" fill="#344B5B" points="566,272.052 566,254 489,254 473,254
						471,254 471,331.224 412,331.224 412,254 394,254 394,331.224 394,347.772 394,349.276 471,349.276 471,408.448 394,408.448
						394.03,428 471.03,428 484.03,428 489.03,428 489,349.276 548,349.276 548,428 566,428 566,349.276 566,332.728 566,331.224
						489,331.224 489,272.052 					"/>
    <polygon v-if="name === 'Toten'" class="theme-point" fill="#344B5B" points="549.023,431.674 487,379.63 487,244 469,244
						469,379.355 406.649,431.674 434.672,432 469,402.966 469,432 487,432 487,403.243 521,432 					"/>
    <polygon v-if="name === 'Hagall'" class="theme-point" fill="#344B5B" points="555.793,284.472 544.223,270.684 487,318.699 487,244 469,244
						469,318.699 411.777,270.684 400.207,284.472 463.998,338 400.207,391.528 411.777,405.316 469,357.301 469,432 487,432
						487,357.301 544.223,405.316 555.793,391.528 492.002,338 					"/>
    <polygon v-if="name === 'Tyr'" class="theme-point" fill="#344B5B" points="490.664,257.064 478.041,244.042 478.041,244
						478.02,244.021 478,244 478,244.042 465.376,257.064 420,302.087 428.244,319.651 469,278.896 469,432 487,432 487,278.855
						527.796,319.651 536.041,302.087 					"/>
    <polygon v-if="name === 'Opfer'" class="theme-point" fill="#344B5B" points="571,329 561,329 407.375,329 435.416,291
						414,291.193 383.118,332.26 372.452,347 383,347 383,347 393,347 546.625,347 518.584,385 540,384.807 570.882,343.74
						581.548,329 					"/>
    <polyline v-if="name === 'Ger'" class="theme-point" fill="#344B5B" points="550,254 412,399.166 412,254 394,254 394,428
						411,428 548,282.888 548,428 566,428 566,254 552,254 					"/>
    <polygon v-if="name === 'Eif'" class="theme-point" fill="#344B5B" points="581.548,347 570.882,332.26 540,291.193
						518.584,291 546.625,329 393,329 383,329 372.452,329 383.118,343.74 414,384.807 435.416,385 407.375,347 561,347 571,347
						570.954,346.897 					"/>
    <polyline v-if="name === 'Sig'" class="theme-point" fill="#354C5C" points="436,347 494.5,347 452,432 473,432 522,329
						465.355,329.789 507,244 488,244 					"/>
    <path v-if="name === 'Odal'" class="theme-point" fill="#344B5B" d="M545,417l-49.256-52.451L549,309l-68.839-64.848
						L480,243.965L413,312l2.126,1.985l-0.011,0.012l52.281,51.207l-39.064,40.128L415,418l0,0l13.179,13.821l0.79-0.852L429,431
						l51-51l50.761,51.756l0.06,0.065l0.002-0.002L531,432l6.265-6.713 M442.234,311.614l38.221-38.629l42.142,39.715
						l-40.411,38.437L442.234,311.614z"/>
    <polygon v-if="name === 'Sonnenrad'" class="theme-point" fill="#344B5B" points="506,411.806 572,328 497,328 488,328 488,319
						488,281.237 524.891,310 553.806,310 470,244 470,319 470,328 461,328 423.237,328 452,291.109 452,262.194 386,346 461,346
						470,346 470,355 470,392.763 433.109,364 404.194,364 488,430 488,355 488,346 497,346 534.763,346 506,382.891 					"/>
  </svg>

</template>

<script>
  export default {
    name: "ReichRunes",
    props: {
      name: String,
      height: String
    }
  }
</script>

<style scoped>
  .theme-point {
    fill: #CEA662;
  }
</style>
