<template>
  <div class="wheel" @keyup.left="prev()" @keyup.right="next()">
    <!--<Loader></Loader>-->
    <svg width="100%" height="100%" viewBox="0 0 960 1080">

      <defs>
        <clipPath id="hex-clip-path">
          <polygon fill="#B3B3B3"
                   points="224.86,188.75 224.86,63.02 116.98,0.15 9.11,63.02 9.11,188.75 116.98,251.62"/>
        </clipPath>

        <filter id="inset-shadow" x="-50%" y="-50%" width="200%"
                height="200%">
          <feComponentTransfer in=SourceAlpha>
            <feFuncA type="table" tableValues="1 0"/>
          </feComponentTransfer>
          <feGaussianBlur stdDeviation="4"/>
          <feOffset dx="0" dy="5" result="offsetblur"/>
          <feFlood flood-color="rgb(50, 50, 50)" result="color"/>
          <feComposite in2="offsetblur" operator="in"/>
          <feComposite in2="SourceAlpha" operator="in"/>
          <feMerge>
            <feMergeNode in="SourceGraphic"/>
            <feMergeNode/>
          </feMerge>
        </filter>

      </defs>

      <g id="wheel" transform="scale(1.05) translate(-23 10)">
        <g id="wheel-bg">
          <polygon id="wheel-bg" fill="#6A7882" points="559.237,75 400.263,75 250.875,129.373 129.093,231.56 49.606,369.236
				22,525.796 49.606,682.355 129.093,820.032 250.875,922.219 400.263,976.591 559.237,976.591 708.625,922.219 830.407,820.032
				909.894,682.355 937.5,525.796 909.894,369.236 830.407,231.56 708.625,129.373 			"/>
        </g>
        <g id="card">
          <polygon id="card-bg" fill="#FFFFFF"
                   points="480,188 751,349 753,712 480,858 209.573,711.982 209.573,348.683 				"/>
          <path id="card-frame" fill="#97A0A4"
                d="M480,187L205.787,348.038v364.643L480,859l273.787-145.89V347.308L480,187z M743.539,704.323H215.612l0.19-226.216h527.737V704.323z M743.423,438.378l-527.599,0.095l-0.021-84.694L480,200 l263.539,153.533L743.423,438.378z"/>
          <ReichRunes :name="selectedRune.name"></ReichRunes>

          <g class="rune-name-ru">
            <polygon id="card-title" fill="#224B5C" points="580.565,441.889 379.435,441.889 370,457.889 379.435,473.889
					580.565,473.889 590,457.889 				"/>
            <foreignObject class="title-ru">
              <div class="title-ru-wrapper">
                <h2 class="name">{{selectedRune.name}}</h2>
              </div>
            </foreignObject>
          </g>

          <g class="arrow right" @click="next">
            <polygon class="bg" fill="#C1A875" points="629.2,474 598,474 605.8,458 598,442 629.2,442 637,458"/>
            <polygon class="top" fill="#E5D0A4" points="598,442 629.2,442 630.37,444.4 599.17,444.4"/>
            <polygon class="left-top" fill="#97743A" points="608.126,458 605.786,458 599.156,444.4 601.491,444.4"/>
            <polygon class="left-bottom" fill="#C1A875" points="605.805,458 608.14,458 601.51,471.6 599.17,471.6"/>
            <polyline class="bottom" fill="#97743A" points="598,474 629.256,474 637,458 634.66,458 627.64,471.6 599.17,471.6"/>
          </g>
          <g class="arrow left" @click="prev">
            <polygon class="bg" fill="#C1A875" points="326,458 333.6,442 364,442 356.4,458 364,474 333.6,474"/>
            <polyline class="top" fill="#E5D0A4" points="364,442 362.86,444.4 334.74,444.4 328.28,458 326,458 333.6,442"/>
            <polygon class="right" fill="#97743A" points="364,442 361.72,442 354.12,458 356.4,458"/>
            <polygon class="bottom" fill="#97743A" points="333.6,474 332.46,471.6 362.86,471.6 364,474"/>
          </g>

          <foreignObject @click="readMore" class="description-wrapper">
            <!--<Loader></Loader>-->
            <div class="description-short" v-html="selectedRune.description">
            </div>
            <a @click="readMore"
               class="readmore is-pulled-left">расширенное описание руны…</a>
          </foreignObject>

          <Button x="34%" y="66.2%">
            <template v-slot:link>
              <a class="link" @click="aboutRune">О РУННОМ СТРОЕ</a>
            </template>
          </Button>
            <TemeorButton x="40.9%" y="71%">
              <template v-slot:temeor-link>
                <a class="temeor-link" href="/">
<!--                  Темеор-->
                </a>
              </template>
            </TemeorButton>

<!--          <Button x="30%" y="66%">-->
<!--            <template v-slot:link>-->
<!--              <a class="link" href="/formulas">ФОРМУЛЫ</a>-->
<!--            </template>-->
<!--          </Button>-->
<!--          <Button x="55%" y="66%">-->
<!--            <template v-slot:link>-->
<!--              <a class="link" href="/statyi">СТАТЬИ</a>-->
<!--            </template>-->
<!--          </Button>-->
<!--          <Button x="42.5%" y="71%">-->
<!--            <template v-slot:link>-->
<!--              <a class="link" href="/video">ВИДЕО</a>-->
<!--            </template>-->
<!--          </Button>-->
        </g>
        <g id="runes">
          <g class="rune" @click="selectRune(runes['Erda'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Erda'}"
                     points="306.89,222.916 416.858,182.891 398.727,80.061 253.885,132.779 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="302.112,174.824 302.112,127.102 343.44,103.241 384.769,127.102 384.769,174.824
						343.44,198.685 					"/>
            <path id="rune-symbol" fill="#354C5C" d="M370.934,166.049l-3.983,3.401l-6.187,5.1l-13.147-13.176l21.032-20.866
						l-0.181-0.181l-0.58-0.65l0.008,0.01l-12.592-12.634l-11.806-11.811l-0.534,0.466l-0.763,0.761l0.01-0.008l-10.634,10.592
						l-12.592,12.634l0.008-0.01l-0.58,0.65l-0.181,0.181l21.032,20.866l-13.241,13.27l-6.301-5.194l-3.792-3.238l-3.82,4.553
						l3.812,3.214L322,179l4.474,3.684l16.966-17.101l16.966,17.101l0.487-0.487l0.014,0.003l9.844-8.221l4.004-3.376
						L370.934,166.049z M326.66,140.446l9.097-9.212l7.87-7.755l7.497,7.755l9.097,9.212L343.44,157.19L326.66,140.446z"/>
          </g>
          <g class="rune" @click="selectRune(runes['Ziu'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Ziu'}"
                     points="215.377,299.143 302.008,226.451 249.152,136.568 135.389,232.026 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="181.945,199.447 181.945,247.169 223.273,271.03 264.602,247.169 264.602,199.447
						223.273,175.586 					"/>
            <polygon id="rune-symbol" fill="#354C5C" points="243,201 215,230.679 215,195 223.632,202.763 226.632,196.763
						211.632,184.763 197.379,197 199.379,203 208.841,195.089 209,246 225.283,228.43 237.07,215.555 237.19,228.353 237,257
						243,257 243.002,255.147 					"/>
          </g>
          <g class="rune" @click="selectRune(runes['Triskel'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Triskel'}"
                     points="154.105,403.237 211.54,303.757 131.553,236.639 55.986,367.525 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="97.266,351.169 97.266,303.447 138.595,279.586 179.923,303.447 179.923,351.169
						138.595,375.03 					"/>
            <path id="rune-symbol" fill="#354C5C" d="M166.343,308.102l-1.194,0.792l0.01-0.004l-12.971,7.454l-11.942,6.927l-12.229-6.939
						l-5.197-3.023l6.466-3.761l13.788-7.824l-3-5.196l-0.784,0.451l0.01-0.004l-12.971,7.454l-9.402,5.454l-0.022-0.013
						l-6.061,3.445l1.283,0.638l-0.009-0.007l12.941,7.506l11.893,6.834l0.11,14.784l-0.019,6.012l-6.49-3.719l-13.67-8.029
						l-3,5.196l0.782,0.453l-0.009-0.007l12.941,7.506l9.424,5.416l0,0.025l6.014,3.526l-0.089-1.43l-0.002,0.011l0.03-14.96
						l-0.029-14.442l12.197-7.164l5.216-2.989l0.024,7.481l-0.118,15.853h6l0.002-0.904l-0.002,0.011l0.03-14.96l-0.022-10.87
						l0.022-0.013L166.343,308.102z M140.16,327.217h-0.122l0.061-0.105L140.16,327.217z"/>
          </g>
          <g class="rune" @click="selectRune(runes['Valda'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Valda'}"
                     points="132.159,522 152.103,408.893 53.984,373.181 27.743,522 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="47.61,481.067 47.61,433.345 88.938,409.484 130.267,433.345 130.267,481.067
						88.938,504.928 					"/>
            <polyline id="rune-symbol" fill="#354C5C" points="61,450 56.592,453.204 63.886,467.553 72,483 79,495 79,482 78.988,482.003
						78.953,457.853 78.927,430.825 89.462,430.75 99.99,430.825 100.088,456.25 99.97,487 105.97,487 105.972,485.247
						105.97,485.268 106,456.25 105.974,430.868 106,430.868 106,424.868 105.057,424.867 105.068,424.868 89.462,424.838
						73.855,424.868 73.866,424.867 72.923,424.868 72.923,425.5 72.923,425.5 72.923,425.533 72.923,430.868 72.943,430.868
						73.041,457.853 72.474,471.545 					"/>
          </g>
          <g class="rune" @click="selectRune(runes['Wolfsangel'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Wolfsangel'}"
                     points="152.17,641.082 132.231,528 27.815,528 54.051,676.795 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="48.718,564.447 48.718,612.169 90.047,636.03 131.375,612.169 131.375,564.447
						90.047,540.586 					"/>
            <polygon id="rune-symbol" fill="#354C5C" points="128,585 120.382,585 93.047,585 93.047,578.683 87.047,578.683 87.047,585
						63.798,585 72,574 66.382,570 50.884,591 52,591 59.37,591 87.047,591 87.047,597.933 93.047,597.933 93.047,591 115.954,591
						108,602 113.37,606 128.867,585 					"/>
          </g>
          <g class="rune" @click="selectRune(runes['Heilszeichen'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Heilszeichen'}"
                     points="210.921,744.763 154.3,646.692 56.181,682.404 130.934,811.88 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="97.893,745.169 97.893,697.447 139.222,673.586 180.55,697.447 180.55,745.169
						139.222,769.03 					"/>
            <polygon id="rune-symbol" fill="#354C5C" points="159,698 139,681 119,698 121,704 136.209,691.326 136.125,716.444
						119,731 119,739 136.098,724.466 136.075,731.486 119,746 119,754 136.048,739.509 136,754 142,754 142.053,691.694 156,704
											"/>
          </g>
          <g class="rune" @click="selectRune(runes['Heil'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Heil'}"
                     points="302.76,823.772 214.428,749.652 134.441,816.77 250.552,914.199 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="180.61,848.067 180.61,800.345 221.938,776.484 263.267,800.345 263.267,848.067
						221.938,871.928 					"/>
            <polygon id="rune-symbol" fill="#354C5C" points="238.541,797.723 238.53,797.734 241.517,795.225 237.661,790.629
						224.512,801.769 224.507,796.536 224.508,796.559 224.507,790.629 218.507,790.629 218.541,801.777 205.383,790.629
						201.526,795.225 204.513,797.734 204.503,797.723 216.919,808.172 201.526,820.95 205.383,825.546 206.357,824.731
						206.344,824.739 218.581,814.501 218.625,828.482 218.507,862.335 224.507,862.335 224.508,860.405 224.507,860.428
						224.537,828.482 224.524,814.552 236.7,824.739 236.687,824.731 237.661,825.546 241.517,820.95 226.124,808.172 					"/>
          </g>
          <g class="rune" @click="selectRune(runes['Leben'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Leben'}"
                     points="416.263,866.484 307.817,827.013 255.609,917.44 398.132,969.314 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="300.054,918.859 300.412,871.139 341.918,847.588 383.066,871.758
						382.709,919.478 341.203,943.029 					"/>
            <g>
              <defs>
                <rect id="SVGID_15_" x="317.533" y="863" transform="matrix(1 0.0075 -0.0075 1 6.7413 -2.5322)"
                      width="48" height="72"/>
              </defs>
              <clipPath id="SVGID_4_">
                <use xlink:href="#SVGID_15_" overflow="visible"/>
              </clipPath>
              <polygon id="rune-symbol" clip-path="url(#SVGID_4_)" fill="#354C5C" points="371.085,845.827 344.467,873.223
							344.723,839.022 338.657,847.897 338.472,872.638 312.78,845.39 311.049,852.301 338.407,881.315 337.878,951.959
							343.944,943.084 344.402,881.9 372.712,852.763 						"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Hakenkreuz'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Hakenkreuz'}"
                     points="537.589,867.591 422.161,867.591 404.029,970.421 555.721,970.421 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="438.828,895.278 438.828,943 480.157,966.861 521.485,943 521.485,895.278
						480.157,871.417 					"/>
            <g >
              <defs>
                <rect id="SVGID_1_" x="454.721" y="892.976"
                      transform="matrix(0.7071 0.7071 -0.7071 0.7071 790.5641 -70.3126)" width="50.872"
                      height="52.326"/>
              </defs>
              <clipPath id="SVGID_5_">
                <use xlink:href="#SVGID_1_" overflow="visible"/>
              </clipPath>
              <polyline id="rune-symbol" clip-path="url(#SVGID_5_)" fill="#354C5C" points="498.735,936.225 483.589,921.219
							495.015,909.765 501.323,915.973 511.243,926.053 515.276,922.02 514.707,921.448 514.713,921.456 505.296,912
							495.839,902.583 495.847,902.589 495.276,902.02 495.157,902.139 494.898,901.88 479.645,917.275 468.574,906.102
							474.906,899.672 485.365,889.372 481.332,885.339 480.739,885.93 480.747,885.924 470.933,895.698 464.584,902.074
							464.57,902.061 460.553,906.078 460.574,906.097 460.574,906.098 464.607,910.131 464.623,910.114 475.698,921.218
							464.775,932.041 458.345,925.709 448.045,915.25 444.013,919.283 444.603,919.876 444.597,919.868 454.371,929.683
							460.747,936.032 460.734,936.045 464.751,940.062 464.771,940.041 464.771,940.042 468.804,936.009 468.788,935.993
							479.644,925.163 490.85,936.342 484.642,942.649 474.563,952.57 478.596,956.603 479.167,956.034 479.159,956.04
							488.616,946.623 498.032,937.166 498.027,937.174 498.596,936.603 						"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Toten'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Toten'}" points="654.413,825.724 653.792,826.245 543.472,866.399 561.603,969.228
						706,916.672 707.269,915.608 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="573.966,871.808 574.381,919.528 615.915,943.029 657.035,918.81 656.62,871.089
						615.085,847.589 					"/>
            <g>
              <defs>
                <rect id="SVGID_13_" x="591.468" y="855.617" transform="matrix(1 -0.0087 0.0087 1 -7.7297 5.3855)"
                      width="48" height="72"/>
              </defs>
              <clipPath id="SVGID_6_">
                <use xlink:href="#SVGID_13_" overflow="visible"/>
              </clipPath>
              <polygon id="rune-symbol" clip-path="url(#SVGID_6_)" fill="#354C5C" points="645.085,944.755 618.434,917.391
							618.731,951.591 612.654,942.724 612.439,917.983 586.78,945.262 585.041,938.353 612.363,909.306 611.749,838.663
							617.827,847.53 618.359,908.714 646.703,937.817 						"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Hagall'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Hagall'}"
                     points="823.992,817.665 744.005,750.548 659.073,821.814 711.93,911.697 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="695.61,848.067 695.61,800.345 736.938,776.484 778.267,800.345 778.267,848.067
						736.938,871.928 					"/>
            <polygon id="rune-symbol" fill="#354C5C" points="764.199,843.104 741.317,823.869 764.199,804.634 764.181,804.651
						765.731,803.348 761.874,798.752 739.617,817.555 739.593,790.369 739.595,790.393 739.593,788.369 733.593,788.369
						733.69,817.473 712.874,800.038 712.894,800.052 711.342,798.752 707.485,803.348 732.107,823.869 707.485,844.39
						711.342,848.986 712.894,847.686 712.874,847.701 733.69,830.266 733.593,859.369 739.593,859.369 739.595,857.345
						739.593,857.369 739.617,830.184 761.874,848.986 765.731,844.39 764.181,843.088 					"/>
          </g>
          <g class="rune" @click="selectRune(runes['Tyr'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Tyr'}"
                     points="805.243,646.617 747.882,745.969 827.87,813.086 903.362,682.329 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="779.782,745.169 779.782,697.447 821.111,673.586 862.439,697.447
						862.439,745.169 821.111,769.03 					"/>
            <polygon id="rune-symbol" fill="#354C5C" points="841.111,701 821.111,684 801.111,701 803.111,707 818.32,694.326
						818.111,757 824.111,757 824.164,694.694 838.111,707 					"/>
          </g>
          <g class="rune" @click="selectRune(runes['Opfer'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Opfer'}"
                     points="827.269,528 807.345,640.997 905.464,676.709 931.685,528 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="827.718,564.447 827.718,612.169 869.047,636.03 910.375,612.169
						910.375,564.447 869.047,540.586 					"/>
            <polygon id="rune-symbol" fill="#354C5C" points="907.273,584.737 899.655,584.737 874.319,584.737 872.319,584.737 843.07,584.737
						851.273,573.737 845.655,569.737 830.157,590.737 831.273,590.737 838.642,590.737 872.319,590.737 874.319,590.737
						895.227,590.737 887.273,601.737 892.642,605.737 908.14,584.737 					"/>
          </g>
          <g class="rune" @click="selectRune(runes['Ger'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Ger'}"
                     points="807.412,408.979 827.341,522 931.757,522 905.531,373.266 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="827.718,433.345 827.718,481.067 869.047,504.928 910.375,481.067
						910.375,433.345 869.047,409.484 					"/>
            <polygon id="rune-symbol" fill="#344B5B"
                     points="886,428 851,476 851,428 844,428 844,487 851,487 887,438 887,487 894,487 894,428 					"/>
          </g>
          <g class="rune" @click="selectRune(runes['Eif'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Eif'}" fill="#FFFFFF"
                     points="805.438,403.312 903.557,367.6 827.251,235.433 747.263,302.551 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="779.718,351.169 779.718,303.447 821.047,279.586 862.375,303.447
						862.375,351.169 821.047,375.03 					"/>
            <polygon id="rune-symbol" fill="#354C5C" points="859.524,331 851.906,331 826.571,331 824.571,331 795.322,331 803.524,342 797.906,346
						782.409,325 783.524,325 790.894,325 824.571,325 826.571,325 847.478,325 839.524,314 844.894,310 860.391,331 					"/>
          </g>
          <g class="rune" @click="selectRune(runes['Sig'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Sig'}" fill="#FFFFFF"
                     points="823.044,231.131 707.719,134.362 655.511,224.789 743.057,298.248 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="694.087,199.447 694.087,247.169 735.415,271.03 776.744,247.169
						776.744,199.447 735.415,175.586 					"/>
            <g id="Sig_1_">
              <polyline id="rune-symbol" fill="#354C5C" points="739.999,225 724,258 731,258 749.146,219.489 749.218,219.338
							749.246,219.279 748.488,219.337 729.885,219.287 745,187 738,187 720,225 720,225 						"/>
            </g>
          </g>
          <g class="rune" @click="selectRune(runes['Odal'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Odal'}" fill="#FFFFFF"
                     points="702.384,131.603 561.008,80.147 542.877,182.976 650.176,222.03 					"/>
            <polygon id="rune-hex" fill="#B2B2B2" points="574.172,174.824 574.172,127.102 615.5,103.241 656.829,127.102 656.829,174.824
						615.5,198.685 					"/>
            <path id="rune-symbol" fill="#354C5C" d="M615.024,115.709l-0.763,0.761l0.01-0.008l-10.634,10.592l-12.592,12.634l0.008-0.01
						l-0.58,0.65l-0.181,0.181l21.032,20.866l-15.844,15.878l0.013-0.016l-1.201,1.204l4.243,4.243l16.966-17.101l16.966,17.101
						l4.243-4.243l-1.201-1.204l0.013,0.016l-15.844-15.878l21.032-20.866l-0.181-0.181l-0.58-0.65l0.008,0.01l-12.592-12.634
						l-11.806-11.811 M607.817,131.234l7.87-7.755l7.497,7.755l9.097,9.212L615.5,157.19l-16.781-16.745L607.817,131.234z"/>
          </g>
          <g class="rune" @click="selectRune(runes['Sonnenrad'])">
            <polygon class="trapezoid" :class="{active: selectedRune.name === 'Sonnenrad'}" fill="#7D57D1"
                     points="536.956,182 555.088,79.17 404.662,79.17 422.794,182 						"/>
            <g>
              <polygon id="rune-hex" fill="#B2B2B2" points="438.828,106.519 438.828,154.241 480.157,178.102 521.485,154.241
							521.485,106.519 480.157,82.658 						"/>
              <path id="rune-symbol" fill="#354C5C" d="M514.663,127.348l-0.989,0.047l-1.594-0.001l0.023,0.002l-28.934-0.027l-0.024-25.11
							c11.166,1.178,20.421,8.85,23.888,19.172l6.58-0.006c-3.977-14.751-17.465-25.641-33.455-25.641
							c-0.704,0-1.941-0.138-2.635-0.096l0.035,0.4l-0.034-0.005l-0.236,31.287l-25.297,0.024
							c1.235-11.5,9.358-20.964,20.162-24.151l-0.006-6.513c-15.255,3.626-26.638,17.357-26.638,33.705
							c0,1.008,0.053,2.003,0.137,2.989l6.323,0.006c-0.002-0.017-0.002-0.035-0.004-0.052l25.289-0.088l-0.089,25.319
							c-11.187-1.182-20.454-8.883-23.903-19.235l-6.584-0.023c3.945,14.798,17.458,25.734,33.482,25.734
							c1.007,0,2.002-0.053,2.988-0.137l0.006-6.322c-0.002,0-0.003,0-0.005,0l0.024-25.336l25.167,0.088
							c-1.164,11.211-8.875,20.502-19.244,23.956l-0.023,6.583c14.801-3.943,25.738-17.457,25.738-33.482
							C514.807,129.392,514.753,128.365,514.663,127.348z"/>
            </g>
          </g>
        </g>
      </g>
      <g id="flags">
        <polygon class="flags-figure" fill="#6A7882" points="563.2,10.1 402.5,10.1 402.5,10.1 333.9,16.8 333.9,56.9 402.6,50.2 563.2,50.2 620.9,56.9
		620.9,16.8 	"/>
        <foreignObject class="title-en-wrapper">
          <h2 class="title-en">Руны III Рейха</h2>
        </foreignObject>
      </g>
      <g id="menu">
        <g class="link-group back">
          <polygon class="link-bg" fill="#C1A875" points="24.6,84.5 11.9,62.7 24.6,41 263.3,41 275.9,62.7 263.3,84.5"/>
          <polygon fill="#E5D0A4" points="265.2,44.3 26.7,44.3 15.1,62.7 11.9,62.7 24.6,41 263.3,41"/>
          <polygon fill="#97743A" points="22.7,81.2 261.2,81.2 272.8,62.7 275.9,62.7 263.3,84.5 24.6,84.5"/>
          <foreignObject class="link-wrapper">
            <a href="/#/" class="link">НАЗАД В МЕНЮ</a>
          </foreignObject>
        </g>
        <g class="link-group home">
          <polygon class="link-bg" fill="#C1A875" points="696.7,84.5 684,62.7 696.7,41 935.4,41 948,62.7 935.4,84.5"/>
          <polygon fill="#E5D0A4" points="937.3,44.3 698.8,44.3 687.2,62.7 684,62.7 696.7,41 935.4,41"/>
          <polygon fill="#97743A" points="694.8,81.2 933.3,81.2 944.9,62.7 948,62.7 935.4,84.5 696.7,84.5"/>
          <foreignObject class="link-wrapper">
            <a href="/#/" class="link">НА ГЛАВНУЮ</a>
          </foreignObject>
        </g>
      </g>
    </svg>

  </div>
</template>

<script>
  import ReadMoreModal from "@/components/ReadMoreModal";
  import AboutRunesModal from "@/components/AboutRunesModal";
  import ReichRunes from "@/components/ReichRunes";
  import Button from "@/components/Button";
  import { Subject } from "rxjs";
  import PostsService from "@/services/posts-service";
  import Loader from "@/components/ui/Loader";
  import TemeorButton from "@/components/TemeorButton";

  export default {
    name: "Reich",
    components: { Loader, ReadMoreModal, ReichRunes, Button, TemeorButton, AboutRunesModal },
    props: {
      defaultRune: String
    },
    computed: {
      prevRune() {
        const names = Object.keys(this.runes);
        const prevIndex = names.indexOf(this.selectedRune.name.replace(/\s/g, '')) - 1;
        if (names[prevIndex]) {
          return this.runes[names[prevIndex]];
        } else {
          return this.runes[names[names.length - 1]];
        }
      },
      nextRune() {
        const names = Object.keys(this.runes);
        const nextIndex = names.indexOf(this.selectedRune.name.replace(/\s/g, '')) + 1;
        if (names[nextIndex]) {
          return this.runes[names[nextIndex]];
        } else {
          return this.runes[names[0]];
        }
      },
      runeNames() {
        return Object.keys(this.runes);
      },
      runeKeys() {
        return Object.keys(this.runes);
      }
    },
    created() {
      this.selectedRune = this.runes[this.defaultRune];
      this.runes[this.defaultRune].active = true;
      if (typeof window !== 'undefined') {
        document.addEventListener('keyup', this.keyPress)
      }
      this.swipeRuneSubscription = this.swipeRune$.subscribe((eventName) => {
        switch (eventName) {
          case 'next':
            this.next();
            break;
          case 'prev':
            this.prev();
            break;
          default:
            return;
        }
      });
    },
    beforeDestroy() {
      this.swipeRuneSubscription.unsubscribe();
    },
    methods: {
      setPost(id) {
        this.loadingPost = true;
        return PostsService.getPost(id).then((response) => {
          this.selectedRune.description = response.data.content.rendered;
          this.loadingPost = false;
        });
      },
      readMore(event) {
        if (event) event.stopPropagation();
        this.modalInstance = this.$buefy.modal.open({
          parent: this,
          component: ReadMoreModal,
          hasModalCard: true,
          props: {
            order: 'Reich',
            rune: this.selectedRune,
            rune$: this.rune$,
            swipeRune$: this.swipeRune$,
            hasHeaderIcon: false,
            hasRuneSymbol: false
          }
        });
      },
      aboutRune(event) {
        if (event) event.stopPropagation();
        this.modalInstance = this.$buefy.modal.open({
          parent: this,
          component: AboutRunesModal,
          hasModalCard: true,
          props: {
            order: 'Reich',
            aboutRow: this.aboutRuneRow,
            headRowTitle: this.headTitle,
            rune: this.selectedRune,
            rune$: this.rune$,
          }
        });
      },
      keyPress({ keyCode }) {
        switch (keyCode) {
          case 37:
            this.prev();
            break;
          case 39:
            this.next();
            break;
          case 13:
            this.readMore();
            break;
          default:
            return;
        }
      },

      prev() {
        this.selectRune(this.prevRune);
        this.updateModalContent();
      },
      next() {
        this.selectRune(this.nextRune);
        this.updateModalContent();
      },
      updateModalContent() {
        if (this.modalInstance) {
          this.rune$.next(this.selectedRune);
        }
      },
      async selectRune(rune) {
        this.selectedRune = rune;
        console.log(rune)
        // await this.setPost(rune.wpId);
        for (let name in this.runes) {
          this.runes[name].active = false;
        }
        rune.active = true;
      }
    },
    data() {
      return {
        headRowTitle: 'Руны III Рейха',
        loadingPost: false,
        swipeRuneSubscription: null,
        modalInstance: null,
        swipeRune$: new Subject(),
        rune$: new Subject(),
        selectedRune: null,
        aboutRuneRow: '',
        runes: {
          Sonnenrad: {
            // wpId: 5,
            name: 'Sonnenrad',
            ruName: 'Зонненрад',
            description: `Lorem ipsum dolor sit amet, consetetur invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M120 168.806L186 85H102V38.237L138.891 67H167.806L84 1V85H37.237L66 48.109V19.194L0 103H84V149.763L47.109 121H18.194L102 187V103H148.763L120 139.891V168.806Z'
          },
          Odal: {
            // wpId: 9,
            name: 'Odal',
            ruName: 'Одал',
            description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M155.359 169.641L108.208 119.431L159.189 66.256L93.2911 4.17901L93.137 4L29 69.1278L31.0352 71.0279L31.0246 71.0394L81.0716 120.058L43.6768 158.472L30.9145 170.598L43.5304 183.829L44.2866 183.013L44.3163 183.043L93.137 134.222L141.729 183.766L141.786 183.829L141.788 183.827L141.958 184L155.359 169.641ZM56.9848 68.7583L93.5725 31.7799L133.914 69.7979L95.2296 106.592L56.9848 68.7583Z'
          },
          Sig: {
            // wpId: 11,
            name: 'Sig',
            ruName: 'Зиг',
            description: `Lorem ipsu elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M53 102.617H109.011L68.3191 184H88.4255L135.34 85.383L81.1059 86.1384L120.979 4H102.787'
          },
          Eif: {
            // wpId: 13,
            name: 'Eif',
            ruName: 'Айф (Эйф)',
            description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum tak`,
            active: false,
            path_fixed: 'M187 102.082L177.461 88.8999L149.843 52.1726L130.69 52L155.767 85.9844H0L9.5389 99.1668L37.1575 135.894L56.3103 136.067L31.2326 102.082H177.567L177.526 101.99L187 102.082Z'
          },
          Ger: {
            // wpId: 15,
            name: 'Ger',
            ruName: 'Гер',
            description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M162.414 9L27.5862 150.829V9H10V179H26.6092L160.46 37.2239V179H178.046V9H164.368'
          },
          Opfer: {
            // wpId: 17,
            name: 'Opfer',
            ruName: 'Опфер',
            description: `Lorem eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M31.2326 84.9844L56.3103 51L37.1575 51.1726L9.5389 87.8999L0 101.082H155.767L130.69 135.067L149.843 134.894L177.461 98.1668L187 84.9844H31.2326Z'
          },
          Tyr: {
            // wpId: 19,
            name: 'Tyr',
            ruName: 'Тир (Тюр)',
            description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M106.161 14.786L93.8061 2.04111V2L93.7855 2.02055L93.766 2V2.04111L81.4106 14.786L37 58.8511L45.0686 76.0414L84.9574 36.1535V186H102.574V36.1134L142.502 76.0414L150.572 58.8511L106.161 14.786Z'
          },
          Hagall: {
            // wpId: 21,
            name: 'Hagall',
            ruName: 'Хагаль',
            description: `Lorem ipsum dolor sit amet, consetetur s aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M168.621 42.1803L157.42 28.8324L102.023 75.315V3H84.5975V75.315L29.2008 28.8324L18 42.1803L79.7551 94L18 145.82L29.2008 159.168L84.5975 112.685V185H102.023V112.685L157.42 159.168L168.621 145.82L106.865 94L168.621 42.1803Z'
          },
          Toten: {
            // wpId: 23,
            name: 'Toten',
            ruName: 'Тотен',
            description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo`,
            active: false,
            path_fixed: 'M163.345 185.681L102.641 134.744V2H85.0244V134.475L24 185.681L51.4268 186L85.0244 157.584V186H102.641V157.855L135.918 186L163.345 185.681Z'
          },
          Hakenkreuz: {
            // wpId: 23,
            name: 'Hakenkreuz',
            ruName: 'Хакенкройц',
            description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M177.046 26.637V9H101.816H86.1839H84.2299V84.4487H26.5862V9H9V84.4487V100.616V102.086H84.2299V159.897H9L9.02931 179H84.2592H96.9603H101.845L101.816 102.086H159.46V179H177.046V102.086V85.9182V84.4487H101.816V26.637H177.046Z'
          },
          Leben: {
            // wpId: 25,
            name: 'Leben',
            ruName: 'Либен',
            description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M163.345 2.31907L102.641 53.2557V186H85.0244V53.5249L24 2.31907L51.4268 2L85.0244 30.4163V2H102.641V30.1451L135.918 2L163.345 2.31907Z'
          },
          Heil: {
            // wpId: 27,
            name: 'Heil',
            ruName: 'Хайль',
            description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M143.96 15.472L132.655 2L102.148 27.5985V2.30875H84.5601V27.3865L54.3048 2L43 15.472L79.7998 46.3507L43 77.2294L54.3048 90.7024L84.5601 65.3149V186H102.148V65.1028L132.655 90.7024L143.96 77.2294L107.161 46.3507L143.96 15.472Z'
          },
          Heilszeichen: {
            // wpId: 29,
            name: 'Heilszeichen',
            ruName: 'Хайльсцайхен',
            description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            paths: ['M85.6088 89.1957V80.7826V49L68.7827 62.087V80.7826V89.1957V105.087V120.978V128.457L107.109 97.9256V221H123.935V84.5217V75.1739V63.9565L85.6088 91.9682V89.1957Z','M53.8261 159.305V153.696V69.5654L37 80.7828V140.609V155.565V177.065V180.805V200.435L75.3261 169.904V221H92.1522V156.5V144.348V132.196L53.8261 162.077V159.305Z','M194.043 49L140.761 95.7391L148.239 111.63L185.63 79.5805V118.534L140.761 156.5V178L185.63 140.034V160.599L140.761 198.565V220.065L185.63 182.099V221H202.456V79.5805L239.848 111.63L247.326 95.7391L194.043 49Z']
    },
          Wolfsangel: {
            // wpId: 29,
            name: 'Wolfsangel',
            ruName: 'Вольфсангель',
            description: `Lorem ipsum dolor sit  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M164 7L103 71.168V55H85V90.102L26 152.166V7H8V181H25L85 117.447V135H103V98.382L162 35.888V181H180V7H164Z'
          },
          Valda: {
            wpId: 31,
            name: 'Valda',
            ruName: 'Вальда',
            description: `Lorem ipsum dotempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M68.5426 1V118.109L37.3124 61.4906L26 74.2128L86.3511 187V18.8085H142.745V168.202H160.553V1H68.5426Z'
          },
          Triskel: {
            // wpId: 33,
            name: 'Triskel',
            ruName: 'Трискел',
            description: `Lorem ipsum doeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M173.629 35.8473L170.174 38.1642L170.203 38.1524L132.66 59.9496L98.0946 80.2058L62.6984 59.9133L47.6576 51.0746L66.3738 40.0759L106.283 17.1959L97.6002 2L95.3314 3.31733L95.3609 3.30555L57.8176 25.1028L30.6039 41.0509L30.5411 41.0136L13 51.0873L16.7136 52.953L16.6881 52.9343L54.1442 74.8845L88.5663 94.87L88.8861 138.103L88.8302 155.684L70.0443 144.807L30.4774 121.327L21.7946 136.522L24.0575 137.848L24.033 137.828L61.489 159.778L88.7664 175.615V175.689L106.172 186L105.914 181.818L105.909 181.85L105.997 138.102L105.912 95.8696L141.216 74.9199L156.313 66.1792L156.383 88.0549L156.04 134.414H173.407L173.412 131.771L173.407 131.802L173.494 88.0549L173.43 56.2693L173.494 56.2331L173.629 35.8473ZM97.8455 91.7449H97.4933L97.6699 91.4369L97.8455 91.7449Z'
          },
          Ziu: {
            // wpId: 33,
            name: 'Ziu',
            ruName: 'Зиу',
            description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M157.914 43.3262L84.1176 116.303V36.2958L110.484 62.6619L118.596 45.3797L87.7229 14.8544L75.3024 2.04133V2L75.2817 2.02066L75.262 2V2.04133L62.8406 14.8544L30 46.2781L36.8877 63.0053L66.4064 36.3362V159.433L142.171 84.4832V186H157.914V43.3262Z'
          },
          Erda: {
            // wpId: 37,
            name: 'Erda',
            ruName: 'Эрда',
            description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et acc et ea rebum. Stet clita kasd gubergren, no sea tak`,
            active: false,
            path_fixed: 'M162.475 140.061L144.336 158.201L108.459 119.995L160.571 65.6394L93.2092 2.18298L93.0517 2L27.4894 68.5751L29.5698 70.5174L29.559 70.5292L80.7181 120.637L42.4924 159.904L23.357 140.769L11 154.047L42.3427 185.825L43.1157 184.991L43.1461 185.021L93.0517 135.116L142.723 185.761L142.782 185.825L142.784 185.823L142.957 186L149.088 179.431L175.74 152.408L162.475 140.061ZM56.0961 68.1973L93.4969 30.3973L134.735 69.26L95.1908 106.872L56.0961 68.1973Z'
          }
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

  .wheel {
    position: relative;
    display: block;
    max-width: 900px;
    min-width: 300px;
    height: 100vh;
    margin: 0 auto;
    z-index: 1;
  }
  #wheel-bg {
    polygon {
      fill: var(--background-color-primary);
      stroke: var(--wheel-color-bg);
      stroke-width: 5;
    }
  }
  #card {
    #card-bg {
      filter: drop-shadow(-2px 2px 12px rgba(0, 0, 0, 0.25));
      fill: var(--background-color-secondary);
    }
    #card-frame {
      fill: var(--background-color-secondary);
      filter: drop-shadow(-2px 2px 12px var(--wheel-shadow));
    }
    .rune-name-ru {
      #card-title {
        fill: var(--background-color-secondary);
      }
    }
  }

  .trapezoid {
    fill: var(--background-color-secondary);
    filter: drop-shadow(-2px 2px 12px rgba(0, 0, 0, 0.15));
    &.active {
      fill: #97743A;
    }
  }

  .rune {
    &:hover {
      cursor: pointer;
    }
    #rune-hex {
      fill: var(--background-hex-color-primary);
      stroke-width: 2;
      stroke: var(--stroke-color);
      filter: drop-shadow(-2px 2px 5px rgba(black, 0.15));
    }
    #rune-symbol {
      //fill:url(#gradient-gold);
      fill: #CEA662;
    }
  }


  .poly25 {
    #filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    #filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0px 0px 50px #000);
    filter: drop-shadow(0px 0px 50px #000);
  }

  .arrow {
    cursor: pointer;
  }

  //.arrow .bg:hover {
  //  fill: #6845bc;
  //}

  .arrow:active {
    filter: url(#inset-shadow);
  }

  .page-title-wrapper {
    x: 28%;
    y: 0.7%;
    width: 45.5%;
    height: 8%;
  }

  .page-title {
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 3.2em;
    color: #ffffff;
    text-align: center;
    #text-transform: uppercase;
    user-select: none;
    margin-top: -3px;
    letter-spacing: 0.1rem;
  }

  #flags {
    transform: translateY(8px);
    .flags-figure {
      fill: var(--background-hex-color-primary);
      filter: drop-shadow(-2px 2px 8px rgba(black, 0.25));
      stroke: var(--background-hex-color-primary);
      stroke-width: 6;
      stroke-linejoin: round;
    }
    .title-en-wrapper {
      x: 37%;
      y: 1%;
      width: 26.5%;
      height: 5%;
      .title-en {
        font-family: "Arial", serif;
        font-weight: bold;
        font-size: 1.6em;
        color: #CEA662;
        text-align: center;
        #text-transform: uppercase;
        user-select: none;
        margin-top: 0px;
        letter-spacing: 0.1rem;
      }
    }
  }

  .title-en-name {
    width: 26%;
    height: 4.5%;
  }

  .title-en-name h1 {
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 2.2em;
    color: #ffffff;
    text-align: center;
    #text-transform: uppercase;
    user-select: none;
    margin-top: -3px;
    letter-spacing: 0.1rem;
  }

  .link-group .link-wrapper {
    x: 1%;
    y: 3.7%;
    width: 27.5%;
    height: 4%;
  }

  .link-group.home .link-wrapper {
    x: 71%;
  }

  .link {
    font-family: "Arial", serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0.8em;
    text-align: center;
    display: inline-block;
    width: 264px;
  }

  .description-wrapper {
    x: 23%;
    y: 45%;
    width: 55.5%;
    height: 33%;
    cursor: pointer;
  }

  .description-short {
    font-family: 'Arial', serif;
    font-size: 1rem;
    height: 180px;
    overflow: hidden;
    padding: 0.5rem;
    user-select: none;
    //word-wrap: break-word;
    margin-bottom: 10px;
    color: var(--text-primary-color);
  }

  .readmore {
    width: 100%;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.3rem;
    user-select: none;
    text-transform: uppercase;
    color: #CEA662;
  }

  @media screen and (max-width: 500px) {
    .description-short {
      font-size: 1.5rem;
    }

    .readmore {
      font-size: 1rem;
    }
  }

  .link-group {
    cursor: pointer;
    user-select: none;
  }

  .link-group .link-bg {
    //fill: #6845bc;
  }

  .link-group .link {
    color: #ffffff !important;
  }

  .link-group:active {
    filter: url(#inset-shadow);
  }

  .title-ru {
    width: 41%;
    height: 3%;
    x: 30%;
    y: 41.4%;
  }

  .title-ru-wrapper {
    width: 100%;
    line-height: 1em
  }

  .title-ru-wrapper span {
    padding: 1px;
  }

  .title-ru .name {
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 1.4em;
    color: #CEA662;
    #text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: inline-block;
    user-select: none;
    padding-top: 4px;

  }

  .button:hover .link {
    color: #ffffff !important;
  }

  .button:active {
    filter: url(#inset-shadow);
  }

  .button:active .link {
    font-size: 1.29rem;
  }

  .st0 {
    fill: #6A7882;
  }

  .st1 {
    enable-background: new;
  }

  .st2 {
    fill: #36265B;
  }

  .st3 {
    fill: #6546A9;
  }

  .st4 {
    fill: #2C1659;
  }

  .st5 {
    fill: #5229A4;
  }

  .st6 {
    fill: #8956D6;
  }

  .st7 {
    fill: #A47EDA;
  }

  .st8 {
    fill: #684599;
  }

  .st9 {
    fill: #FFFFFF;
  }

  .st10 {
    fill: #97A0A4;
  }

  .st11 {
    fill: #224B5C;
  }

  .st12 {
    fill: #806AAE;
  }

  .st13 {
    fill: #987FB9;
  }

  .st14 {
    fill: #685693;
  }

  .st15 {
    fill: #344B5B;
  }

  .st16 {
    display: none;
    fill: #344B5B;
  }

  .st17 {
    display: none;
  }

  .st18 {
    display: inline;
    fill: #344B5B;
  }

  .st19 {
    fill: #B2B2B2;
  }

  .st20 {
    clip-path: url(#SVGID_2_);
    fill: #354C5C;
  }

  .st21 {
    fill: #354C5C;
  }

  .st22 {
    clip-path: url(#SVGID_4_);
    fill: #354C5C;
  }

  .st23 {
    clip-path: url(#SVGID_6_);
    fill: #354C5C;
  }

  .st24 {
    clip-path: url(#SVGID_8_);
    fill: #354C5C;
  }

  .st25 {
    clip-path: url(#SVGID_10_);
    fill: #354C5C;
  }

  .st26 {
    clip-path: url(#SVGID_12_);
    fill: #354C5C;
  }

  .st27 {
    clip-path: url(#SVGID_14_);
    fill: #354C5C;
  }

  .st28 {
    clip-path: url(#SVGID_16_);
    fill: #354C5C;
  }

  .st29 {
    clip-path: url(#SVGID_18_);
    fill: #354C5C;
  }

  .st30 {
    clip-path: url(#SVGID_20_);
    fill: #354C5C;
  }

  .st31 {
    clip-path: url(#SVGID_22_);
    fill: #354C5C;
  }

  .st32 {
    clip-path: url(#SVGID_24_);
    fill: #354C5C;
  }

  .st33 {
    clip-path: url(#SVGID_26_);
    fill: #354C5C;
  }

  .st34 {
    display: none;
    fill: #FFFFFF;
  }

  .st35 {
    fill: #7D57D1;
  }

  .st36 {
    fill: none;
  }

  .st37 {
    font-family: 'MyriadPro-BoldSemiCn';
  }

  .st38 {
    font-size: 18px;
  }

  .st39 {
    font-family: 'MyriadPro-SemiExt';
  }

  .st40 {
    font-size: 16px;
  }

  .st41 {
    font-size: 26px;
  }

  .st42 {
    font-family: 'MyriadPro-Regular';
  }

  .st43 {
    font-size: 30px;
  }

</style>


<style module>
  .geDescription {
    background-repeat: no-repeat;
    background-image: url(../assets/img/ge.svg);
    background-position: 100% 95%;
  }
</style>
