<template>
  <svg class="rune-card" width="65%" height="65%" :x="x" :y="y"
       viewBox="0 0 546 669">
    <defs>
      <filter id="inset-shadow" x="-50%" y="-50%" width="200%"
              height="200%">
        <feComponentTransfer in=SourceAlpha>
          <feFuncA type="table" tableValues="1 0"/>
        </feComponentTransfer>
        <feGaussianBlur stdDeviation="4"/>
        <feOffset dx="0" dy="5" result="offsetblur"/>
        <feFlood flood-color="rgb(50, 50, 50)" result="color"/>
        <feComposite in2="offsetblur" operator="in"/>
        <feComposite in2="SourceAlpha" operator="in"/>
        <feMerge>
          <feMergeNode in="SourceGraphic"/>
          <feMergeNode/>
        </feMerge>
      </filter>
    </defs>

    <g fill="white" class="rune-card-bg">
      <polygon class="st0"
               points="273.39,0 546,159.66 546,523.83 273.39,669 0,523.4 0,160.38 	"/>
    </g>
    <g fill="#98A1A5" class="rune-card-bg-frame">
      <path class="st1" d="M273.39,0L0,160.38V523.4L273.39,669L546,523.83V159.66L273.39,0z M535.79,515.08h-526l0.19-225.21h525.81
V515.08z M535.67,250.32L10,250.42L9.98,166.1L272.79,12.97l263,152.88L535.67,250.32z"/>
    </g>

    <component :is="list" :name="key"></component>

    <g id="title-bg">
      <polyline fill="#224B5C" points="170.289,270.829 178.289,255.079 371.789,255.079 379.789,270.829 370.789,285.079
179.789,285.079"/>
    </g>
    <g class="arrow left" @click="prev">
      <polygon fill="#C1A875" points="124.395,270.079 131.895,255.079 161.895,255.079 154.395,270.079 161.895,285.079 131.895,285.079"/>
      <polyline fill="#E5D0A4" points="161.895,255.079 160.77,257.329 133.02,257.329 126.645,270.079 124.395,270.079 131.895,255.079"/>
      <polygon fill="#97743A" points="161.895,255.079 159.645,255.079 152.145,270.079 154.395,270.079"/>
      <polygon fill="#97743A" points="131.895,285.079 130.77,282.829 160.77,282.829 161.895,285.079"/>
    </g>
    <g class="arrow right" @click="next">
      <polygon class="bg" fill="#C1A875" points="419.106,285.079 389.106,285.079 396.606,270.079 389.106,255.079 419.106,255.079 426.606,270.079"/>
      <polyline fill="#97743A" points="389.106,285.079 419.16,285.079 426.606,270.079 424.356,270.079 417.606,282.829 390.231,282.829"/>
      <polygon fill="#E5D0A4" points="389.106,255.079 419.106,255.079 420.231,257.329 390.231,257.329"/>
      <polygon fill="#E5D0A4" points="396.611,270.079 398.856,270.079 392.481,282.829 390.231,282.829"/>
    </g>
    <g class="rune-name-ru">
      <foreignObject class="title-ru">
        <div class="title-ru-wrapper">
          <h2 class="name">{{rune.name}}</h2>
        </div>
      </foreignObject>
    </g>

    <foreignObject @click="readMore" class="foreign-container" x="2%"
                   y="43%" width="97.5%" height="33%">
      <div class="description" v-if="rune.description"
           v-html="rune.description">
      </div>
      <a v-if="rune" @click="readMore"
         class="readmore is-pulled-left">расширенное описание руны…</a>
    </foreignObject>

    <Button x="22%" y="78.5%">
      <template v-slot:link>
        <a class="link" @click="aboutRune">О РУННОМ СТРОЕ</a>
      </template>
    </Button>
    <TemeorButton x="34%" y="86.5%">
      <template v-slot:temeor-link>
        <a class="temeor-link" href="/">
<!--          Темеор-->
        </a>
      </template>
    </TemeorButton>
  </svg>
</template>

<script>
  import Button from "@/components/Button";
  import ReadMoreModal from '@/components/ReadMoreModal';
  import AboutRunesModal from "@/components/AboutRunesModal";
  import FutarkRunes from "@/components/FutarkRunes";
  import IcelandRunes from "@/components/IcelandRunes";
  import { Subject } from "rxjs";
  import TemeorButton from "./TemeorButton";

  export default {
    name: "RuneCard",
    components: {TemeorButton, Button, ReadMoreModal, FutarkRunes, IcelandRunes, AboutRunesModal },
    props: {
      rune: Object,
      list: String,
      x: String,
      y: String,
    },
    created() {
      this.$parent.$on('modal-content', (rune) => {
        if (this.modalInstance) {
          this.rune$.next(rune);
        }
      });
      this.swipeRuneSubscription = this.swipeRune$.subscribe((eventName) => {
        switch (eventName) {
          case 'next':
            this.next();
            break;
          case 'prev':
            this.prev();
            break;
          default:
            return;
        }
      });
    },
    beforeDestroy() {
      this.swipeRuneSubscription.unsubscribe();
    },
    computed: {
      key() {
        return this.rune.name.replace(/\s/g, '');
      }
    },
    methods: {

      readMore(event) {
        if (event) event.stopPropagation();
        this.modalInstance = this.$buefy.modal.open({
          parent: this,
          component: ReadMoreModal,
          width: '600px',
          height: '800px',
          hasModalCard: true,
          props: {
            rune: this.rune,
            rune$: this.rune$,
            swipeRune$: this.swipeRune$,
            hasHeaderIcon: true,
            hasRuneSymbol: false
          },
          events: {
            next: () => {
              this.next();
            },
            prev: () => {
              this.prev();
            }
          }
        });
      },
      aboutRune(event) {
        if (event) event.stopPropagation();
        this.modalInstance = this.$buefy.modal.open({
          parent: this,
          component: AboutRunesModal,
          hasModalCard: true,
          props: {
            order: 'Iceland',
            aboutRow: this.aboutRuneRow,
            headRowTitle: this.headTitle
          }
        });
      },
      prev() {
        this.animate = false;
        this.$emit('prev', () => {
          const self = this;
          setTimeout(() => {
            self.animate = true;
          }, 2000, this);
        });
      },
      next() {
        this.animate = false;
        this.$emit('next', () => {
          const self = this;
          setTimeout(() => {
            self.animate = true;
          }, 2000, this);
        });

      }
    },
    data() {
      return {
        modalInstance: null,
        rune$: new Subject(),
        swipeRune$: new Subject(),
        animate: true,
        transform: 'translate(94, 130), scale(0.65)'
      }
    }
  }
</script>

<style lang="scss" scoped>
  .rune-card {
    width: 80%;
    height: 80%;
    .rune-card-bg {
      filter: drop-shadow(-2px 2px 12px rgba(0, 0, 0, 0.25));
      fill: var(--background-color-secondary);
    }
    .rune-card-bg-frame {
      fill: var(--background-color-secondary);
      filter: drop-shadow(-2px 2px 12px var(--wheel-shadow));
    }
  }
  #title-bg {
    polyline {
      fill: var(--background-color-secondary);
    }
  }

  .title-ru {
    width: 41%;
    height: 5%;
    x: 30%;
    y: 38%;
  }

  .title-ru-wrapper {
    width: 100%;
    line-height: 2em
  }

  .title-ru-wrapper span {
    padding: 1px;
  }

  .title-ru .name {
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 1.4em;
    color: #CEA662;
    #text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: inline-block;
    user-select: none;
    padding-top: 0px;
  }

  .arrow {
    cursor: pointer;
  }

  //.arrow .bg:hover {
  //  fill: #6845bc;
  //}

  .arrow:active {
    filter: url(#inset-shadow);
  }

  .description {
    font-family: 'Arial', serif;
    font-size: 1rem;
    height: 180px;
    overflow: hidden;
    padding: 0.5rem;
    user-select: none;
    word-wrap: break-word;
    color: var(--text-primary-color);
    margin-bottom: 10px;
  }

  .readmore {
    width: 100%;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.3rem;
    user-select: none;
    text-transform: uppercase;
    color: #CEA662;
  }

  .foreign-container {
    cursor: pointer;
  }

  @media screen and (max-width: 500px) {
    .description {
      font-size: 1.5rem;
    }

    .readmore {
      font-size: 1rem;
    }
  }

</style>
