<template>
  <svg class="temeor-btn" width="174" height="82" viewBox="0 0 174 82" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M87.1 81.7L0 22.2L12.6 0.5H161.4L174 22.2L146.1 43.2L87.1 81.7Z" fill="#E54C6A"/>
    <path d="M0 22.2L40.4 37.4H134L170.8 22.2L161.4 0.5L174 22.2L146.1 43.2L87.1 81.7L0 22.2Z" fill="#960018"/>
    <path d="M91.7 0.5H12.6L0 22.2L15.7 4.6L40.4 37.4L87.6 3.4L134 37.4L161.4 0.5H91.7Z" fill="url(#header-shape-gradient_1)"/>
    <path d="M87.2 79.8L134 37.4H40.4L87.2 79.8Z" fill="url(#header-shape-gradient_2)"/>
    <defs>
      <linearGradient id="header-shape-gradient_1" x1="80.7" y1="37.36" x2="80.7" y2="2.85" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="var(--color-stop)" stop-opacity="0" />
        <stop offset="0.57" stop-color="var(--color-stop)" stop-opacity="0.22"/>
        <stop offset="1" stop-color="var(--color-stop)"/>
      </linearGradient>
      <linearGradient id="header-shape-gradient_2" x1="87.2" y1="79.8" x2="87.2" y2="40.11" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="var(--color-stop-2)" stop-opacity="0" />
        <stop offset="1" stop-color="var(--color-stop-2)"/>
      </linearGradient>
    </defs>
    <g id="text">
      <foreignObject class="foreign-container" height="40" width="100%">
        <slot name="temeor-link"></slot>
      </foreignObject>
    </g>
  </svg>
</template>

<script>
export default {
  name: "TemeorButton"
}
</script>

<style lang="scss" scoped>
  .temeor-btn {
    cursor: pointer;

    .foreign-container {
      display: flex;
      text-align: center;
      a {
        &.temeor-link {
          display: flex;
          justify-content: center;
          font-size: 1.4em;

          //margin-top: 12px;
          color: white;
          text-transform: uppercase;
          -ms-user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          :nth-child(2){
            margin: 10px 20px 0;
          }
        }
      }
    }
    &:active {
      #header-shape-gradient_1 {
        --color-stop: rgba(255, 170, 196, 1);
      }
      #header-shape-gradient_2 {
        //--color-stop-2: #B2364D;
      }
      path {
        &:nth-child(1) {
          fill: #B2364D;
        }
        &:nth-child(2) {
          //fill: #B2364D;
        }
        &:nth-child(3) {

        }
        &:nth-child(4) {
          opacity: 0.7;
        }

      }
    }
  }
  #header-shape-gradient_1 {
    --color-stop: #FFAAC4;
  }
  #header-shape-gradient_2 {
    --color-stop-2: #FFAAC4;
  }
</style>
