<template>
  <div class="switch-wrapper">
    <span class="switch-title">{{userTheme === 'light-theme' ? 'день' : 'ночь'}}</span>
    <input
        @change="toggleTheme"
        id="checkbox"
        type="checkbox"
        class="switch-checkbox"
    />
    <label for="checkbox" class="switch-label">
      <div
          class="switch-toggle"
          :class="{ 'switch-toggle-checked': userTheme === 'dark-theme' }"
      ></div>
    </label>
  </div>
</template>

<script>

export default {
  mounted() {
    const initUserTheme = this.getTheme() || this.getMediaPreference();
    this.setTheme(initUserTheme);
  },

  data() {
    return {
      userTheme: "light-theme",
    };
  },

  methods: {
    toggleTheme() {
      const activeTheme = localStorage.getItem("user-theme");
      if (activeTheme === "light-theme") {
        this.setTheme("dark-theme");
      } else {
        this.setTheme("light-theme");
      }
    },

    getTheme() {
      return localStorage.getItem("user-theme");
    },

    setTheme(theme) {
      localStorage.setItem("user-theme", theme);
      this.userTheme = theme;
      document.documentElement.className = theme;
    },

    getMediaPreference() {
      const hasDarkPreference = window.matchMedia(
          "(prefers-color-scheme: dark)"
      ).matches;
      if (hasDarkPreference) {
        return "dark-theme";
      } else {
        return "light-theme";
      }
    },
  },
};
</script>

<style lang="scss" scoped>

.switch-wrapper {
  text-align: center;
}

.switch-checkbox {
  display: none;
}

.switch-title {
  font-size: calc(var(--element-size) * 0.45);
  font-family: 'TTMussels-DemiBold',sans-serif !important;
  background: radial-gradient(at top left, #CEA662 20%, #583C0D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffffff;
}

.switch-label {
  align-items: center;
  background: var(--background-color-primary);
  //border: calc(var(--element-size) * 0.025) solid var(--accent-color);
  border-radius: var(--element-size);
  cursor: pointer;
  display: flex;
  font-size: calc(var(--element-size) * 0.35);
  height: calc(var(--element-size) * 0.6);
  position: relative;
  padding: calc(var(--element-size) * 0.05);
  transition: background 0.5s ease;
  justify-content: space-between;
  width: calc(var(--element-size) * 1.2);
  box-shadow: inset -1px -2px 0px rgba(black, 0.25), inset 1px 2px 0px #1A2A37;
  z-index: 1;

}

.switch-toggle {
  position: absolute;
  //background-color: var(--background-color-primary);
  border-radius: 50%;
  top: calc(var(--element-size) * 0.07);
  left: calc(var(--element-size) * 0.07);
  height: calc(var(--element-size) * 0.4);
  width: calc(var(--element-size) * 0.4);
  transform: translateX(0);
  transition: transform 0.3s ease, background-color 0.5s ease;
  &:after {
    content: var(--toggler-content);
  }

}

.switch-toggle-checked {
  transform: translateX(calc(var(--element-size) * 0.6)) !important;
}
</style>

