<template>
<!--  <div id="app" :class="{day: daytime === 'day',night: daytime === 'night', daynight: dayNight, nightday: nightDay}">-->
    <div id="app">
<!--      <div class="bg-day">-->
<!--      </div>-->
<!--      <div class="bg-night">-->
<!--      </div>-->
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
      <HexGrid></HexGrid>
  </div>
</template>

<script>
import moment from 'moment';
import HexGrid from "./components/hex-grid/HexGrid";

export default {
    name: 'App',
    components: { HexGrid },
    computed: {},
    created() {
      const now = moment().valueOf();
      this.morning = moment().hour(6).minute(0).second(0).valueOf();
      this.evening = moment().hour(21).minute(0).second(0).valueOf();
      this.daytime = this.getDayTime();
      //console.log('daytime', this.daytime);
      const self = this;
      const millisToAnimation = self.daytime === 'day' ? self.evening - now : now - self.morning;
      console.log('millisToAnimation', millisToAnimation);
      setTimeout(() => {
        self.setAnimation();
      }, millisToAnimation);

    },
    data() {
      return {
        morning: null,
        evening: null,
        daytime: null,
        interval: null,
        dayNight: false,
        nightDay: false,
      }
    },
    methods: {
      setAnimation() {
        const self = this;
        self.dayNight = self.daytime === 'day';
        self.nightDay = !self.dayNight;
        setTimeout(() => {
          self.daytime = this.getDayTime();
          self.dayNight = false;
          self.nightDay = false;
        }, 10000);
      },
      getDayTime() {
        const now = moment().valueOf();
        return now >= this.morning && now <= this.evening ? 'day' : 'night';
      }
    }
  }
</script>

<style>

  /* Define styles for the default root window element */
  :root {
    --background-color-primary: #F0F0F0;
    --background-color-secondary: #F0F0F0;
    --background-hex-color-primary: #EEEFF0;
    --background-rune-color: #cacaca;
    --stroke-color: #D3D9EE;
    --wheel-color-bg: #FFFFFF;
    --wheel-shadow: rgba(255, 255, 255, 1);
    --accent-color: #cacaca;
    --text-primary-color: #222;
    --element-size: 3rem;
    --toggler-content: '☀️';
    --hex-grid-color: #E8EAF2;
  }

  /* Define styles for the root window with dark - mode preference */
  :root.dark-theme {
    --background-color-primary: #12171B;
    --background-color-secondary: #282E34;
    --background-hex-color-primary: #1F2328;
    --background-rune-color: #3E4C5B;
    --stroke-color: #505050;
    --wheel-color-bg: #12171B;
    --wheel-shadow: rgba(0, 0, 0, 0.25);
    --accent-color: #3f3f3f;
    --text-primary-color: #ddd;
    --toggler-content: '🌙';
    --hex-grid-color: #12171B;
  }


  body {
    background: var(--background-color-primary);
  }
  .hex-grid {
    position: relative;
    z-index: 0;
  }

  video {
    position: relative;
    z-index: 1;
  }

  .fade-enter-active,
  .fade-leave-active {
    /*-webkit-transition-duration: 20s;*/
    /*-moz-transition-duration: 20s;*/
    /*-o-transition-duration: 20s;*/
    /*transition: 20s;*/
    /*transition-property: opacity;*/
    /*transition-timing-function: linear;*/
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0;
  }

  @font-face {
    font-family: 'MyriadPro-BoldCond';
    src: url("assets/fonts/MyriadPro-BoldCond.ttf") format("truetype"),
         url("assets/fonts/MyriadPro-BoldCond.otf"),
         url("assets/fonts/MyriadPro-BoldCond.woff") format("woff"),
         url("assets/fonts/MyriadPro-BoldCond.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'TTMussels-DemiBold';
    src: url("assets/fonts/TTMussels-DemiBold.ttf") format("truetype"),
    url("assets/fonts/TTMussels-DemiBold.eot"),
    url("assets/fonts/TTMussels-DemiBold.woff") format("woff"),
    url("assets/fonts/TTMussels-DemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }

  html {
    overflow: hidden !important;
  }

  body {
    font-family: 'MyriadPro-BoldCond', serif !important;
  }

  @keyframes animateBg {
    /*0% {*/
    /*  background-position: -100% -100%;*/
    /*}*/
    /*20% {*/
    /*  background-position: 100% 100%;*/
    /*}*/
    /*40% {*/
    /*  background-position: 150% 200%;*/
    /*}*/
    /*60% {*/
    /*  background-position: 400% 300%;*/
    /*}*/
    /*80% {*/
    /*  background-position: 200% 150%;*/
    /*}*/
    /*90% {*/
    /*  background-position: 111% 111%;*/
    /*}*/
    /*100% {*/
    /*  background-position: -100% -100%;*/
    /*}*/
  }

  #app {
    /*height: 100vh !important;*/
    /*width: 100vw;*/
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  /*#app.day {*/
  /*  background-color: rgb(152,161,165);*/
  /*}*/

  /*#app.day.daynight {*/
  /*  animation: bgColorDayNight 10s ease-out forwards*/
  /*}*/

  /*#app.night.naightday {*/
  /*  animation: bgColorDayNight 10s ease-out reverse;*/
  /*}*/

  /*#app.night {*/
  /*  background-color: rgb(23,50,61);*/
  /*}*/


  /*#app.day.daynight .bg-day{*/
  /*  animation: animateBg 60s linear infinite, fadeOut 10s ease-out forwards;*/
  /*}*/

  /*#app.day.nightday .bg-night{*/
  /*  animation: animateBg 60s linear infinite, fadeIn 10s ease-out forwards;*/
  /*}*/

  /*#app.night.nightday .bg-night{*/
  /*  animation: animateBg 60s linear infinite, fadeOut 10s ease-out forwards;*/
  /*}*/

  /*#app.night.nightday .bg-day{*/
  /*  animation: animateBg 60s linear infinite, fadeIn 10s ease-out forwards;*/

  /*}*/

  .bg-day, .bg-night {
    min-width: 100vw;
    height: 100vh !important;
    position: absolute;
    z-index: 0;
    background-position: -100% -100%;
    background-size: 200% 200%;
    /*animation: animateBg 60s linear infinite;*/
  }

  #app.day .bg-day {
    background-image: radial-gradient(ellipse, rgba(182, 200, 216, 1) 0%, rgba(182, 200, 216, 1) 45%, rgba(255, 255, 255, 1) 50%, rgba(182, 200, 216, 1) 55%, rgba(182, 200, 216, 1) 100%);
  }

  #app.night .bg-night {
    background-image: radial-gradient(ellipse, rgba(23, 50, 61, 1) 0%, rgba(23, 50, 61, 1) 45%, rgba(97, 127, 148, 1) 50%, rgba(23, 50, 61, 1) 55%, rgba(23, 50, 61, 1) 100%);
  }

  #app.night .hex-grid .hex-grid-container div {
    background: #224b5c;
  }

  #app.day .hex-grid .hex-grid-container div {
    background: #E0e9EB;
  }


  #app.day.daynight .hex-grid .hex-grid-container div {
    animation: daynight 10s linear forwards;
  }
  #app.night.nightday .hex-grid .hex-grid-container div {
    animation: daynight 10s linear reverse;
  }

  @keyframes fadeIn{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut{
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes bgColorDayNight {
    0% {
      background-color: rgb(152,161,165);
    }
    100% {
      background-color: rgb(23,50,61);;
    }
  }

  @keyframes nightday {
    0% {
      background-color: #224b5c;
    }
    100% {
      background-color: #e0e9eb;
    }
  }

  @keyframes daynight {
    0% {
      background-color: #e0e9eb;
    }
    100% {
      background-color: #224b5c;
    }
  }

</style>
