<template>
  <svg width="55" height="44" viewBox="0 0 55 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <defs>

      <filter id="inset-shadow" x="-50%" y="-50%" width="200%"
              height="200%">
        <feComponentTransfer in=SourceAlpha>
          <feFuncA type="table" tableValues="1 0"/>
        </feComponentTransfer>
        <feGaussianBlur stdDeviation="4"/>
        <feOffset dx="0" dy="5" result="offsetblur"/>
        <feFlood flood-color="rgb(255, 255, 255)" result="color"/>
        <feComposite in2="offsetblur" operator="in"/>
        <feComposite in2="SourceAlpha" operator="in"/>
        <feMerge>
          <feMergeNode in="SourceGraphic"/>
          <feMergeNode/>
        </feMerge>
      </filter>

    </defs>
    <g class="arrow right" @click="next">
      <path d="M0 0H43.0263L54.5 22L43.0263 44H0L11.4737 22L0 0Z" fill="#C1A875"/>
      <path d="M3.54167 0H0L11.4737 22H15L3.54167 0Z" fill="#97743A"/>
      <path d="M3.54167 44H0L11.4737 22H15L3.54167 44Z" fill="#C1A875"/>
      <path d="M0 44H43.0263L54.5 22H51.5L41.6042 41H1.56459L0 44Z" fill="#97743A"/>
      <path d="M44.5909 3L43.0263 0H0L1.56459 3H44.5909Z" fill="#E5D0A4"/>
<!--      <polygon id="bg" fill="#6F58A1" points="31.2,32 0,32 7.8,16 0,0 31.2,0 39,16 "/>-->
<!--      <polyline id="bottom" fill="#674796" points="0,32 31.256,32 39,16 36.66,16 29.64,29.6 1.17,29.6 "/>-->
<!--      <polygon id="top" fill="#987EB8" points="0,0 31.2,0 32.37,2.4 1.17,2.4 "/>-->
<!--      <polygon id="left-bottom" fill="#987EB8" points="7.805,16 10.14,16 3.51,29.6 1.17,29.6 "/>-->
<!--      <polygon id="left-top" fill="#674796" points="10.126,16 7.786,16 1.156,2.4 3.491,2.4 "/>-->
    </g>

</svg>
</template>

<script>
  export default {
    name: "ArrowRight",
    methods: {
      next() {
        this.$emit('click');
      }
    }
  }
</script>

<style scoped>
  .arrow {
    cursor: pointer;
  }

  .arrow .bg:hover {
    fill: #6845bc;

  }

  .arrow:active {
    /*color: #6845bc;*/
    filter: url(#inset-shadow);
  }
</style>
