<template>
  <svg width="55" height="44" viewBox="0 0 55 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <defs>

      <filter id="inset-shadow" x="-50%" y="-50%" width="200%"
              height="200%">
        <feComponentTransfer in=SourceAlpha>
          <feFuncA type="table" tableValues="1 0"/>
        </feComponentTransfer>
        <feGaussianBlur stdDeviation="4"/>
        <feOffset dx="0" dy="5" result="offsetblur"/>
        <feFlood flood-color="rgb(0, 0, 0)" result="color"/>
        <feComposite in2="offsetblur" operator="in"/>
        <feComposite in2="SourceAlpha" operator="in"/>
        <feMerge>
          <feMergeNode in="SourceGraphic"/>
          <feMergeNode/>
        </feMerge>
      </filter>
    </defs>
    <g class="arrow left" @click="prev">
      <path d="M54.5 44H11.4737L2.41299e-06 22L11.4737 0H54.5L43.0263 22L54.5 44Z" fill="#C1A875"/>
      <path d="M50.9583 0H54.5L43.0263 22H39.5L50.9583 0Z" fill="#97743A"/>
      <path d="M54.5 0H11.4737L3.8147e-06 22H3L12.8958 3H52.9354L54.5 0Z" fill="#E5D0A4"/>
      <path d="M9.90909 41L11.4737 44H54.5L52.9354 41H9.90909Z" fill="#97743A"/>
<!--      <polygon id="bg" fill="#6F58A1" points="0,16 7.6,0 38,0 30.4,16 38,32 7.6,32 "/>-->
<!--      <polyline id="top" fill="#987EB8" points="38,0 36.86,2.4 8.74,2.4 2.28,16 0,16 7.6,0 "/>-->
<!--      <polygon id="right" fill="#674796" points="38,0 35.72,0 28.12,16 30.4,16 "/>-->
<!--      <polygon id="bottom" fill="#674796" points="7.6,32 6.46,29.6 36.86,29.6 38,32 "/>-->
    </g>
</svg>
</template>

<script>
  export default {
    name: "ArrowLeft",
    methods: {
      prev() {
        this.$emit('click');
      }
    }
  }
</script>

<style scoped>
  .arrow {
    cursor: pointer;
  }

  .arrow .bg:hover {
    fill: #6845bc;

  }

  .arrow:active {
    /*color: #6845bc;*/
    filter: url(#inset-shadow);
  }
</style>
