<template>
  <div id="clock">
    <svg id="countdownclock" x="0px" y="0px"
         width="63.333px" height="73.333px" viewBox="0 0 63.333 73.333" style="enable-background:new 0 0 63.333 73.333;"
         xml:space="preserve">
      <polygon class="clockline" points="4.701,21.098 4.701,52.235 31.667,67.804 58.632,52.235 58.632,21.098 31.667,5.529 "/>
  </svg></div>
</template>

<script>
  export default {
    name: "Loader"
  }
</script>

<style scoped>
  body{background-color:#000; margin:0}

  #clock{
    transform:scale(2);
  }

  #countdownclock{
    position:absolute;
    margin:20px 0 0 -32px;
    top:50%;
    left:50%;
    transform: rotate(60deg);

  }
  #clock .clockline{fill:none;
    stroke:#97A0A4;
    stroke-width:3;
    stroke-linecap:  round;
    stroke-miterlimit:10;
    stroke-dasharray: 20 35;
    stroke-dashoffset:1100;
    animation: draw 5s .2s linear infinite ;
    fill-opacity:1;
  }


  @keyframes draw {
    100%{stroke-dashoffset:0; stroke:#97A0A4 }
  }
</style>
