<template>
  <svg width="264px" height="43.545px" viewBox="0 0 264 43.545">
    <polygon id="bg" fill="#C1A875" points="12.64,43.545 0,21.727 12.64,0 251.36,0 264,21.727 251.36,43.456 "/>
    <polygon id="top" fill="#E5D0A4" points="253.256,3.259 14.747,3.259 3.16,21.727 0,21.727 12.64,0 251.36,0 "/>
    <polygon id="bottom" fill="#97743A" points="10.744,40.197 249.253,40.197 260.84,21.727 264,21.727 251.36,43.456 12.64,43.456 "/>
    <foreignObject class="foreign-container" height="40" width="100%">
      <slot name="link"></slot>
    </foreignObject>
</svg>
</template>

<script>
  export default {
    name: "NavButton"
  }
</script>

<style scoped>

</style>
